<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="power">
    <h2>Primary Power</h2>
    <h4>
        <select class="field-value" name="system.vehicle.primaryPower">
            {{selectOptions SELECT_POWER selected=system.vehicle.primaryPower}}
        </select>
    </h4>

    <h2>Secondary Power</h2>
    <h4>
        <select class="field-value" name="system.vehicle.secondaryPower">
            {{selectOptions SELECT_POWER selected=system.vehicle.secondaryPower}}
        </select>
    </h4>
</section>
