<form class="{{cssClass}} item career" autocomplete="off">

    <img class="career" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>

    <h1 class="career"><input name="name" type="text" value="{{item.name}}" placeholder="Career Type"/></h1>

    <div class="grid grid-8col">
        <div class="grid-span-1">
            <label class="resource-label">Term</label><br/>
            <input name="system.term.number" type="number" value="{{item.system.term.number}}" placeholder="Num"/>
        </div>

        <div class="grid-span-1">
            <label class="resource-label">Length</label><br/>
            <input name="system.term.termLength" type="number" value="{{item.system.term.termLength}}" placeholder="Years"/>
        </div>

        <div class="grid-span-6">
            <label class="resource-label">Assignment</label><br/>
            <input name="assignment" type="text" value="{{item.term.assignment}}" placeholder="Assignment"/>
        </div>
    </div>

    <section class="shadow history-description">
        {{editor enrichedDescription target="system.description" button=true editable=editable}}
    </section>

</form>
