<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">
    <section class="item-sheet">
        <div class="sidebar">
            <img class="item-img shadow" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>

            <div class="shadow item-side-panel">
                <div class="resource flex-group-center">
                    <label for="system.quantity" class="resource-label">{{localize "MGT2.Item.Quantity"}}</label>
                    <div class="incdec">
                        <span class="quantity-dec"><i class="fa-regular fa-square-minus"></i></span>
                        <input class="writable" type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
                        <span class="quantity-inc"><i class="fa-regular fa-square-plus"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-group-left">
            <h1 class="charname shadow">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
            </h1>
            <div class="shadow">
                <div class="resources grid grid-3col flex-group-center">
                    <div class="resource">
                        <label for="system.tl" class="resource-label">{{localize "MGT2.Item.TL"}}</label>
                        <br/>
                        <select class="expand writable" name="system.tl" title="Typical TL item is available">
                            {{#select data.tl}}
                            <option value="0">0 ({{localize "MGT2.Item.Tech.0"}})</option>
                            <option value="1">1 ({{localize "MGT2.Item.Tech.1"}})</option>
                            <option value="2">2 ({{localize "MGT2.Item.Tech.2"}})</option>
                            <option value="3">3 ({{localize "MGT2.Item.Tech.3"}})</option>
                            <option value="4">4 ({{localize "MGT2.Item.Tech.4"}})</option>
                            <option value="5">5 ({{localize "MGT2.Item.Tech.5"}})</option>
                            <option value="6">6 ({{localize "MGT2.Item.Tech.6"}})</option>
                            <option value="7">7 ({{localize "MGT2.Item.Tech.7"}})</option>
                            <option value="8">8 ({{localize "MGT2.Item.Tech.8"}})</option>
                            <option value="9">9 ({{localize "MGT2.Item.Tech.9"}})</option>
                            <option value="10">10 ({{localize "MGT2.Item.Tech.10"}})</option>
                            <option value="11">11 ({{localize "MGT2.Item.Tech.11"}})</option>
                            <option value="12">12 ({{localize "MGT2.Item.Tech.12"}})</option>
                            <option value="13">13 ({{localize "MGT2.Item.Tech.13"}})</option>
                            <option value="14">14 ({{localize "MGT2.Item.Tech.14"}})</option>
                            <option value="15">15 ({{localize "MGT2.Item.Tech.15"}})</option>
                            <option value="16">16 ({{localize "MGT2.Item.Tech.16"}})</option>
                            <option value="17">17 ({{localize "MGT2.Item.Tech.17"}})</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="resource">
                        <label for="system.weight" class="resource-label">{{localize "MGT2.Item.Weight"}}</label>
                        <input class="writable" type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
                    </div>
                    <div class="resource">
                        <label for="system.cost" class="resource-label">{{localize "MGT2.Item.Cost"}}</label>
                        <input class="writable" type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>

            <div class="shadow">
                {{editor enrichedDescription target="system.description"
                         button=true editable=editable}}
            </div>
        </div>
    </section>
</form>
