<form class="flexcol crew-member-dialog">

    <div class="grid grid-2col">
        <div class="resource">
            <img class="crew-portrait" src="{{actorCrew.img}}"/>
        </div>

        <div class="resource">

        </div>
    </div>

    <div>
        <ol class="items-list role-list">
            <li class="item flexrow">
                <div class="role-name-header">Role Assignment</div>
            </li>
            {{#each shipRoles as |role|}}
                <li class="item flexrow" data-item-id="{{role.id}}">
                    <div>
                        <input class="assign-role" type="checkbox" name="checked-{{role.id}}"
                               {{checked role.assigned}} data-dtype="Boolean"/>
                        <span class="role-name">{{role.name}}</span>
                    </div>
                </li>
            {{/each}}
        </ol>

    </div>

    <footer class="sheet-footer flexrow">
        <button type="submit" name="save" class="save">Save</button>
    </footer>

</form>
