<h2>Career Terms</h2>

<ol class="history-list">
    <li class="item flexrow history-header">
        <div class="history-number">No.</div>
        <div class="history-name">Career</div>
        <div class="history-notes">Notes</div>
        <div class="item-controls">
            <a class="item-control item-create" title="Create term" data-name="Term" data-type="term"><i class="fas fa-plus"></i> Add term</a>
        </div>
    </li>
    {{#each terms as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="history-number">
                <label class="resource-label">{{item.system.term.number}}</label>
            </div>

            <div class="history-name">
                <label class="resource-label">{{item.name}}</label>
            </div>

            <div class="history-notes">
                {{toPlainText item.system.description}}
            </div>

            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
    {{/each}}
</ol>

<h2>Associates</h2>

<p>
    Contacts, allies and rivals encountered during character generation.
</p>

<ol class="history-list">
    <li class="item flexrow history-header">
        <div class="item-name">Name</div>
        <div class="item-prop">Relation</div>
        <div class="item-prop">Notes</div>
        <div class="item-controls">
            <a class="item-control item-create" title="Create associate" data-name="Associate" data-type="associate"><i class="fas fa-plus"></i> Add associate</a>
        </div>
    </li>
    {{#each associates as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name">
                <label class="resource-label">{{item.name}}</label>
            </div>

            <div class="notes">
                <label class="resource-label">{{localize (concat 'MGT2.History.Relation.' item.system.associate.relationship)}}</label>
            </div>

            <div class="item-prop">
                {{{item.system.description}}}
            </div>

            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
    {{/each}}
</ol>
