
{{#if data.characteristics}}
    <div class="skill-options">
        <input class="trained" type="checkbox" name="data.settings.hideUntrained"
               {{checked data.settings.hideUntrained}} data-dtype="Boolean" />
        <label for="data.settings.hideUntrained">Trained only</label>
        <input class="trained" type="checkbox" name="data.settings.onlyBackground"
               {{checked data.settings.onlyBackground}} data-dtype="Boolean" />
        <label for="data.settings.onlyBackground">Background only</label>
        {{#if data.characteristics}}
        <b>|</b>
        <input class="trained" type="text" name="data.physicalDM" value="{{data.physicalDM}}" readonly/>
        <label for="data.physicalDM">Physical DM</label>
        {{/if}}

        {{#if data.settings.hideUntrained}}
            <label class="skill-label rollable roll-untrained" data-rolltype="skill" data-skill="untrained" data-roll="2d6">Roll Untrained</label>
        {{/if}}
    </div>
    <hr/>
{{/if}}

<section class="{{skillListClasses}}">
    {{#each data.skills as |skill key|}}
        {{{skillBlock ../data key skill}}}
    {{/each}}
</section>
