{{#if (hasStatus data)}}
  <div class="shadow">
    {{#if (ifEquals data.status.woundLevel 2)}}
      {{{showStatus data "unconscious"}}}
    {{/if}}
    {{#if (ifEquals data.status.woundLevel 3)}}
      {{{showStatus data "disabled"}}}
    {{/if}}
    {{#if (ifEquals data.status.woundLevel 4)}}
      {{{showStatus data "dead"}}}
    {{/if}}
    {{#if data.status.encumbered}}
      {{{showStatus data "encumbered"}}}
    {{/if}}
    {{#if data.status.vaccSuit}}
      {{{showStatus data "vaccSuit"}}}
    {{/if}}
    {{#if data.status.fatigued}}
      {{{showStatus data "fatigued"}}}
    {{/if}}
    {{#if data.status.stunned}}
      {{{showStatus data "stunned"}}}
    {{/if}}
    {{{showStatus data "reaction"}}}
  </div>
{{/if}}

