
<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    <section class="npc-sheet">
        <div class="character-left">
            <img class="profile-img shadow actor-draggable" src="{{actor.img}}" data-edit="img" data-actor-id="{{actor._id}}"
                 title="{{actor.name}}"/>

            <div class="side-panel hits-box shadow">
                <label for="system.hits.damage" class="box-title">{{localize 'MGT2.TravellerSheet.Damage'}}</label>

                <div>
                    <label class="left-label">{{localize 'MGT2.TravellerSheet.Damage'}}</label>
                    <input class="characteristic-value" type="number" name="system.hits.damage"
                           title="{{localize 'MGT2.TravellerSheet.DamageTaken'}}"
                           value="{{system.hits.damage}}" data-dtype="Number"/>
                </div>
                <div>
                    <label class="left-label">{{localize 'MGT2.TravellerSheet.HitsRemaining'}}</label>
                    <input class="characteristic-readonly" type="number"
                           title="{{localize 'MGT2.TravellerSheet.HitsRemaining'}}"
                           value="{{system.hits.value}}"/>
                </div>
            </div>

            <div class="side-panel hits-box shadow">
                <label for="system.fuel" class="box-title">{{localize 'MGT2.TravellerSheet.Fuel'}}</label>

                <div>
                    <label class="left-label">{{localize 'MGT2.TravellerSheet.CurrentFuel'}}</label>
                    <input class="characteristic-value" type="number" name="system.spacecraft.fuel.value"
                           title="{{localize 'MGT2.TravellerSheet.CurrentFuel'}}"
                           value="{{system.spacecraft.fuel.value}}" data-dtype="Number"/>
                </div>
                <div>
                    <label class="left-label">{{localize 'MGT2.TravellerSheet.MaxFuel'}}</label>
                    <input class="characteristic-readonly" type="number"
                           title="{{localize 'MGT2.TravellerSheet.MaxFuel'}}"
                           value="{{system.spacecraft.fuel.max}}"/>
                </div>
            </div>

            {{#if system.spacecraft.navy.naval}}
                <div class="side-panel supply-box shadow">
                    <label for="system.supplies" class="box-title">{{localize 'MGT2.TravellerSheet.Supplies'}}</label>

                    <div>
                        <label class="left-label">{{localize 'MGT2.TravellerSheet.CurrentSupplies'}}</label>
                        <input class="characteristic-value supply" type="number" name="system.spacecraft.navy.supplies.value"
                               title="{{localize 'MGT2.TravellerSheet.CurrentSupplies'}}"
                               value="{{system.spacecraft.navy.supplies.value}}" data-dtype="Number"/>
                    </div>
                    <div>
                        <label class="left-label">{{localize 'MGT2.TravellerSheet.MaxSupplies'}}</label>
                        <input class="characteristic-value supply" type="number"
                               title="{{localize 'MGT2.TravellerSheet.MaxSupplies'}}"
                               value="{{system.spacecraft.navy.supplies.max}}"/>
                    </div>
                </div>
            {{/if}}

            <div class="side-panel armour-box shadow flex-group-center">
                <label class="box-title">{{localize 'MGT2.TravellerSheet.Armour'}}</label>

                <div class="grid grid-2col">
                    <div class="resource">
                        <label class="prot-type" title="Protection">Armour</label>
                        <input class="armour-value {{ARMOUR_STYLE}}" type="text"
                               name="system.spacecraft.armour" title="Armour"
                               value="{{system.spacecraft.armour}}"
                               readonly
                               data-dtype="Number"/>
                    </div>
                    <div class="resource">
                        <label class="prot-type" title="Rad Shielding">Radiation</label>
                        <input class="armour-value writable" type="text" name="system.spacecraft.radShielding" title="Radiation protection"
                               value="{{system.spacecraft.radShielding}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="character-right">
            <h1 class="charname shadow">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            </h1>

            <div class="shadow grid grid-5col">
                <div class="resource flex-group-center">
                    <label for="system.spacecraft.dtons" class="field-label">{{localize 'MGT2.TravellerSheet.DTons'}}</label>
                    <input class="field-value writable" name="system.spacecraft.dtons" type="text" value="{{system.spacecraft.dtons}}"/>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.spacecraft.tl" class="field-label">{{localize 'MGT2.TravellerSheet.TechLevel'}}</label>
                    <select class="field-value configurationType writable" name="system.spacecraft.tl">
                        {{selectOptions selectShipTL selected=system.spacecraft.tl}}
                    </select>
                </div>
                <div class="resource flex-group-center grid-span-2">
                    <label for="system.spacecraft.configuration" class="field-label">{{localize 'MGT2.TravellerSheet.Configuration'}}</label>
                    <select class="field-value configurationType writable" name="system.spacecraft.configuration">
                        {{selectOptions selectShipConfig selected=system.spacecraft.configuration}}
                    </select>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.hits.max" class="field-label">
                        {{localize 'MGT2.TravellerSheet.MaxHits'}}
                    </label>
                    <input class="field-value {{#unless system.settings.autoHits}}writable{{/unless}}"
                           {{#if system.settings.autoHits}}readonly{{/if}}
                           name="system.hits.max" type="text"
                           value="{{system.hits.max}}"/>
                </div>
                <div class="resource flex-group-center"
                     title="{{localize 'MGT2.TravellerSheet.CargoText'}}{{#unless system.spacecraft.cargo}}{{localize 'MGT2.TravellerSheet.AddHardwareToSet'}}{{/unless}}">
                    <label for="system.spacecraft.cargo" class="field-label">{{localize 'MGT2.TravellerSheet.Cargo'}}</label>
                    <input class="field-value" name="system.spacecraft.cargo" readonly type="text" value="{{system.spacecraft.cargo}}"/>
                </div>
                <div class="resource flex-group-center"
                     title="{{localize 'MGT2.TravellerSheet.JDriveText'}}{{#unless system.spacecraft.jdrive}}{{localize 'MGT2.TravellerSheet.AddHardwareToSet'}}{{/unless}}">
                    <label for="system.spacecraft.jdrive" class="field-label">{{localize 'MGT2.TravellerSheet.JDrive'}}</label>
                    <input class="field-value" name="system.spacecraft.jdrive" readonly type="text" value="{{system.spacecraft.jdrive}}"/>
                </div>
                <div class="resource flex-group-center"
                     title="{{localize 'MGT2.TravellerSheet.MDriveText'}}{{#unless system.spacecraft.mdrive}}{{localize 'MGT2.TravellerSheet.AddHardwareToSet'}}{{/unless}}">
                    <label for="system.spacecraft.mdrive" class="field-label">{{localize 'MGT2.TravellerSheet.MDrive'}}</label>
                    <input class="field-value" name="system.spacecraft.mdrive" readonly type="text" value="{{system.spacecraft.mdrive}}G"/>
                </div>
                <div class="resource flex-group-center"
                     title="{{localize 'MGT2.TravellerSheet.RDriveText'}}{{#unless system.spacecraft.rdrive}}{{localize 'MGT2.TravellerSheet.AddHardwareToSet'}}{{/unless}}">
                    <label for="system.spacecraft.rdrive" class="field-label">{{localize 'MGT2.TravellerSheet.RDrive'}}</label>
                    <input class="field-value" name="system.spacecraft.rdrive" readonly type="text" value="{{system.spacecraft.rdrive}}G"/>
                </div>
                <div class="resource flex-group-center"
                     title="{{localize 'MGT2.TravellerSheet.PowerText'}}{{#unless system.spacecraft.power.max}}{{localize 'MGT2.TravellerSheet.AddHardwareToSet'}}{{/unless}}">
                    <label for="system.spacecraft.power.max" class="field-label">{{localize 'MGT2.TravellerSheet.Power'}}</label>
                    <input class="field-value" readonly type="text" value="{{system.spacecraft.power.used}} / {{system.spacecraft.power.max}}"/>
                </div>

                <div class="resource flex-group-left">
                    <select class="field-value hull-selector">
                        {{selectOptions selectHullConfig }}
                    </select>
                </div>

                <div class="resource flex-groupp-left grid-span-4">
                    <div class="pill-container">
                        {{{showSpacecraftHullTraits . system.spacecraft.hullOptions}}}
                    </div>
                </div>
            </div>

            <div class="shadow flex-group-left">
                <div class="">
                    <div class="mini-value">
                        <label>{{localize 'MGT2.TravellerSheet.Init'}}</label>
                        <span>{{system.initiative.value}}</span>
                    </div>

                    <div class="mini-value">
                        <label>{{localize 'MGT2.TravellerSheet.InitThrust'}}</label>
                        <span>{{system.initiative.base}}</span>
                    </div>
                    <div class="mini-value" title="{{actor.flags.mgt2e.initPilotName}}">
                        <label>{{localize 'MGT2.TravellerSheet.InitPilot'}}</label>
                        <span>{{actor.flags.mgt2e.initPilotDM}}</span>
                    </div>
                    {{#if actor.flags.mgt2e.initTacticsDM}}
                        <div class="mini-value" title="{{actor.flags.mgt2e.initTacticsName}}">
                            <label>{{localize 'MGT2.TravellerSheet.InitTactics'}}</label>
                            <span>{{actor.flags.mgt2e.initTacticsDM}}</span>
                        </div>
                    {{/if}}
                    {{#if actor.flags.mgt2e.initLeadershipDM}}
                        <div class="mini-value">
                            <label>{{localize 'MGT2.TravellerSheet.InitLeader'}}</label>
                            <span>{{actor.flags.mgt2e.initLeadershipDM}}</span>
                        </div>
                    {{/if}}
                    {{#if actor.flags.mgt2e.sizeDM}}
                        <div class="mini-value">
                            <label>{{localize 'MGT2.TravellerSheet.SizeDM'}}</label>
                            <span>{{actor.flags.mgt2e.sizeDM}}</span>
                        </div>
                    {{/if}}
                </div>
            </div>

            {{#if actor.flags.mgt2e.hasCrits}}
                <div class="shadow flex-group-left">
                    {{{showCriticals actor}}}
                </div>
            {{/if}}

            {{#if system.spacecraft.navy.naval}}
                <div class="shadow">
                    <div class="grid grid-5col">
                        <div class="resource flex-group-center">
                            <label for="system.spacecraft.navy.cei.value" class="field-label">CEI</label>
                            <input class="field-value writable" name="system.spacecraft.navy.cei.value" type="number"
                                   value="{{system.spacecraft.navy.cei.value}}"/>
                        </div>
                        <div class="resource flex-group-center">
                            <label for="system.spacecraft.navy.cei.current" class="field-label">ECEI</label>
                            <input class="field-value writable" name="system.spacecraft.navy.cei.current" type="number"
                                   value="{{system.spacecraft.navy.cei.current}}"/>
                        </div>

                        <div class="resource flex-group-center">
                            <label for="system.spacecraft.navy.morale" class="field-label">Morale</label>
                            <input class="field-value writable" name="system.spacecraft.navy.morale" type="number"
                                   value="{{system.spacecraft.navy.morale}}"/>
                        </div>
                    </div>
                </div>
            {{/if}}

            <div class="shadow">
                <nav class="sheet-tabs tabs" data-group="primary">
                    <a class="item" data-tab="crew">{{localize 'MGT2.TravellerSheet.ShipsCrew'}}</a>
                    <a class="item" data-tab="locker">{{localize 'MGT2.TravellerSheet.ShipsLocker'}}</a>
                    <a class="item" data-tab="bays">{{localize 'MGT2.TravellerSheet.Bays'}}</a>
                    <a class="item" data-tab="hardware">{{localize 'MGT2.TravellerSheet.ShipsHardware'}}</a>
                    <a class="item" data-tab="computer">{{localize 'MGT2.TravellerSheet.ShipsComputer'}}</a>
                    <a class="item" data-tab="notes">{{localize 'MGT2.TravellerSheet.ShipsNotes'}}</a>
                </nav>

                <div class="sheet-body">
                    <div class="tab items" data-tab="locker">
                        <ol class="items-list actor-items grid grid-3col">
                        {{#each locker as |item id|}}
                            <li class="item item-gear" data-item-id="{{item._id}}">
                                <h4 title="{{nameQuantity item}}">{{nameQuantity item}}</h4>
                                <img title="{{nameQuantity item}}" src="{{item.img}}"/>
                                {{#if item.system.weight  includeZero=false}}
                                    <span>{{item.system.weight}}kg</span>
                                {{/if}}
                                {{#if item.system.tl includeZero=false}}
                                    <span>TL {{item.system.tl}}</span>
                                {{/if}}
                                {{#if item.system.cost includeZero=false}}
                                    <span>Cr{{item.system.cost}}</span>
                                {{/if}}
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                        </ol>
                    </div>

                    <div class="tab items" data-tab="hardware">
                        <div class="grid grid-4col">
                            <div class="resource flex-group-center">
                                <label class="field-label">{{localize 'MGT2.TravellerSheet.DTons'}}</label>
                                <input class="field-value" type="text" value="{{system.spacecraft.dtons}}dt" readonly/>
                            </div>
                            <div class="resource flex-group-center">
                                <label class="field-label">{{localize 'MGT2.TravellerSheet.DTonsUsed'}}</label>
                                <input class="field-value" type="text" value="{{dtonsUsed}}dt" readonly/>
                            </div>

                            <div class="resource flex-group-center">
                                <label class="field-label">{{localize 'MGT2.TravellerSheet.DTonsRemaining'}}</label>
                                <input class="field-value" type="text" value="{{dtonsRemaining}}dt" readonly/>
                            </div>

                            <div class="resource flex-group-center">
                                <label class="field-label-subtle">{{localize 'MGT2.TravellerSheet.AddHardware'}}</label>
                                <select class="addHardwareSelect">
                                    {{selectOptions selectSystemTypes}}
                                </select>
                            </div>
                        </div>

                        {{> "systems/mgt2e/templates/actor/parts/actor-starship-hardware.html"}}
                    </div>

                    <div class="tab items" data-tab="notes">
                        <div class="resources grid grid-3col">
                            <div class="resource flex-group-left" title="Spacecraft type code">
                                <input name="system.spacecraft.type" type="text" value="{{system.spacecraft.type}}" placeholder="Type"/>
                            </div>
                            <div class="resource flex-group-left" title="Auto calculate hits from Hull tonnage">
                                <input type="checkbox" name="system.settings.autoHits" {{checked system.settings.autoHits}} data-dtype="Boolean" />
                                <label for="system.settings.autoHits" class="resource-label">{{localize 'MGT2.TravellerSheet.AutoHits'}}</label>
                            </div>
                            <div class="resource flex-group-left" title="Enforce TL limits">
                                <input type="checkbox" name="system.settings.enforceLimits" {{checked system.settings.enforceLimits}} data-dtype="Boolean" />
                                <label for="system.settings.enforceLimits" class="resource-label">{{localize 'MGT2.TravellerSheet.EnforceLimits'}}</label>
                            </div>
                            <div class="resource flex-group-left" title="10% discount on ship cost">
                                <input type="checkbox" name="system.spacecraft.isStandardDesign" {{checked system.spacecraft.isStandardDesign}} data-dtype="Boolean" />
                                <label for="system.spacecraft.isStandardDesign" class="resource-label">Standard Design</label>
                            </div>
                            <div class="resource flex-group-left">
                                <input type="checkbox" name="system.spacecraft.navy.naval" {{checked system.spacecraft.navy.naval}} data-dtype="Boolean" />
                                <label for="system.spacecraft.navy.naval" class="resource-label">Naval vessel</label>
                            </div>

                        </div>


                        <section class="description shadow">
                            {{editor
                            enrichedDescription target="system.description"
                            button=true editable=editable}}
                        </section>

                        <h2>
                            Available Crew Roles
                            <div class="resource addCrewRole">
                                {{localize 'MGT2.TravellerSheet.AddCrewRole'}}
                                <select class="addRoleSelect">
                                    {{selectOptions selectRoleTypes}}
                                </select>
                            </div>
                        </h2>
                        <ol class="items-list actor-items grid grid-3col">
                            {{#each roles as |item id|}}
                            <li class="item item-gear ship-cargo" data-item-id="{{item._id}}">
                                <h4>{{item.name}}</h4>
                                <img src="{{item.img}}" class="small"/>
                                <ol class="comma-list small-text">
                                    {{#each item.system.role.actions as |action|}}
                                        <li>{{action.title}}</li>
                                    {{/each}}
                                </ol>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/each}}
                        </ol>

                        {{#if shipWeapons}}
                            <h2>Available Weapons</h2>
                            <ol class="items-list actor-items grid grid-3col">
                                {{#each shipWeapons as |item id|}}
                                <li class="item item-gear ship-cargo" data-item-id="{{item._id}}">
                                    <h4>{{item.name}}</h4>
                                    <img src="{{item.img}}" class="small"/>
                                    <div class="item-controls">
                                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                    </div>
                                </li>
                                {{/each}}
                            </ol>
                        {{/if}}
                    </div>

                    <div class="tab items" data-tab="crew">
                        {{> "systems/mgt2e/templates/actor/parts/actor-starship-crew.html"}}
                    </div>

                    <div class="tab items" data-tab="bays">
                        {{> "systems/mgt2e/templates/actor/parts/actor-starship-bays.html"}}
                    </div>

                    <div class="tab items" data-tab="computer">
                        <h2>Installed Software ({{bandwidthUsed}} / {{system.spacecraft.processing}})</h2>
                        <ol class="items-list actor-items grid grid-3col">
                            {{#each software as |item id|}}
                            <li class="item item-gear ship-software sw-status-{{item.system.status}}" data-item-id="{{item._id}}">
                                <h4>{{item.name}} [{{item.system.software.bandwidth}}]</h4>
                                <img src="{{item.img}}" class="small"/>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

