<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    <section class="traveller-sheet">
        <div class="character-left">
            <img class="profile-img shadow actor-draggable" src="{{actor.img}}" data-edit="img" data-actor-id="{{actor._id}}"
                 title="{{actor.name}}" height="100" width="100"/>

            <div class="side-panel shadow">
                ?
            </div>

        </div>

        <div class="character-right">
            <h1 class="charname shadow">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            </h1>

            <div class="shadow">
                <div class="grid grid-4col">
                    <div class="resource flex-group-left grid-span-2">
                        <label for="system.location.sector" class="field-label">Sector</label>
                        <input class="field-value writable" name="system.location.sector" type="text" value="{{system.location.sector}}"/>
                    </div>
                    <div class="resource flex-group-left">
                        <label for="system.location.x" class="field-label">X</label>
                        <input class="field-value writable" name="system.location.x" type="text" value="{{system.location.x}}"/>
                    </div>
                    <div class="resource flex-group-left">
                        <label for="system.location.y" class="field-label">Y</label>
                        <input class="field-value writable" name="system.location.y" type="text" value="{{system.location.y}}"/>
                    </div>
                </div>

                <div class="uwp-digits">
                    <div class="uwp-digit flex-group-left">
                        {{system.uwp.port}}
                    </div>
                    <div class="uwp-digit flex-group-left">
                        {{system.uwp.size}}
                    </div>
                    <div class="uwp-digit flex-group-left">
                        {{system.uwp.atmosphere}}
                    </div>
                    <div class="uwp-digit flex-group-left">
                        {{system.uwp.hydrographics}}
                    </div>
                    <div class="uwp-digit flex-group-left">
                        {{system.uwp.population}}
                    </div>
                    <div class="uwp-digit flex-group-left">
                        {{system.uwp.government}}
                    </div>
                    <div class="uwp-digit flex-group-left">
                        {{system.uwp.lawLevel}}
                    </div>
                    <div class="uwp-dash flex-group-left">&mdash;</div>
                    <div class="uwp-digit flex-group-left">
                        {{system.uwp.techLevel}}
                    </div>
                </div>
            </div>

            <div class="shadow">
                <nav class="sheet-tabs tabs" data-group="primary">
                    <a class="item" data-tab="data">World Data</a>
                    <a class="item" data-tab="map">Map</a>
                    <a class="item" data-tab="trade">Trade</a>
                    <a class="item" data-tab="biography">{{localize 'MGT2.TravellerSheet.Biography'}}</a>
                    {{#if (isObserver .)}}
                        <a class="item" data-tab="history">{{localize 'MGT2.TravellerSheet.History'}}</a>
                    {{/if}}
                    {{#if (isOwner .)}}
                        <a class="item" data-tab="settings">{{localize 'MGT2.TravellerSheet.Settings'}}</a>
                    {{/if}}
                </nav>

                <div class="sheet-body">
                    {{!-- Skills Tab --}}
                    <div class="tab skills" data-group="primary" data-tab="data">
                        <div class="grid grid-2col">
                            <label for="system.uwp.port" class="field-label">{{localize 'MGT2.WorldSheet.UWP.Port'}}</label>
                            <select name="system.uwp.port">
                                {{selectOptions PORT_SELECT selected=system.uwp.port}}
                            </select>

                            <label for="system.uwp.size" class="field-label">{{localize 'MGT2.WorldSheet.UWP.Size'}}</label>
                            <select name="system.uwp.size">
                                {{selectOptions SIZE_SELECT selected=system.uwp.size}}
                            </select>

                            <label for="system.uwp.atmosphere" class="field-label">{{localize 'MGT2.WorldSheet.UWP.Atmosphere'}}</label>
                            <select name="system.uwp.atmosphere">
                                {{selectOptions ATMOSPHERE_SELECT selected=system.uwp.atmosphere}}
                            </select>

                            <label for="system.uwp.hydrographics" class="field-label">{{localize 'MGT2.WorldSheet.UWP.Hydrosphere'}}</label>
                            <select name="system.uwp.hydrographics">
                                {{selectOptions HYDROGRAPHICS_SELECT selected=system.uwp.hydrographics}}
                            </select>

                            <label for="system.uwp.population" class="field-label">{{localize 'MGT2.WorldSheet.UWP.Population'}}</label>
                            <select name="system.uwp.population">
                                {{selectOptions POPULATION_SELECT selected=system.uwp.population}}
                            </select>

                            <label for="system.uwp.government" class="field-label">{{localize 'MGT2.WorldSheet.UWP.Government'}}</label>
                            <select name="system.uwp.government">
                                {{selectOptions GOVERNMENT_SELECT selected=system.uwp.population}}
                            </select>

                            <label for="system.uwp.lawLevel" class="field-label">{{localize 'MGT2.WorldSheet.UWP.LawLevel'}}</label>
                            <select name="system.uwp.lawLevel">
                                {{selectOptions LAW_SELECT selected=system.uwp.lawLevel}}
                            </select>

                            <label for="system.uwp.techLevel" class="field-label">{{localize 'MGT2.WorldSheet.UWP.TechLevel'}}</label>
                            <select name="system.uwp.techLevel">
                                {{selectOptions TECH_SELECT selected=system.uwp.techLevel}}
                            </select>
                        </div>
                    </div>

                    <div class="tab finance" data-group="primary" data-tab="finance">
                    </div>
                </div>
            </div>
        </div>

    </section>


</form>

