<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    <section class="npc-sheet">
        <div class="character-left">
            <img class="profile-img actor-draggable shadow" src="{{actor.img}}"
                 data-edit="img" data-actor-id="{{actor._id}}"
                 title="{{actor.name}}"/>

            {{#if (isObserver .)}}
                <div class="side-panel hits-box shadow">
                    <label for="system.hits.damage" class="box-title">
                        {{localize 'MGT2.TravellerSheet.Damage'}}
                        <i class="fa-solid fa-gear edit-dmg"></i>
                    </label>

                    {{#if system.damage}}
                        <div class="grid grid-3col inset">
                            {{#each system.damage as |dmg key|}}
                                {{#if (isChaShown ../system key)}}
                                    <div class="resource flex-group-center">
                                        <label for="system.damage.{{key}}" class="resource-label">{{key}}</label>
                                        <input class="writable" type="text"
                                               name="system.damage.{{key}}.value"
                                               value="{{dmg.value}}"
                                               data-dtype="Number"/>
                                    </div>
                                {{/if}}
                            {{/each}}
                        </div>
                    {{else}}
                        <div>
                            <label class="left-label">{{localize 'MGT2.TravellerSheet.Damage'}}</label>
                            <input class="characteristic-value" type="number" name="system.hits.damage"
                                   title="{{localize 'MGT2.TravellerSheet.DamageTaken'}}"
                                   value="{{system.hits.damage}}" data-dtype="Number"/>
                        </div>
                        <div>
                            <label class="left-label">{{localize 'MGT2.TravellerSheet.HitsRemaining'}}</label>
                            <input class="characteristic-readonly" type="number"
                                   title="{{localize 'MGT2.TravellerSheet.HitsRemaining'}}"
                                   value="{{system.hits.value}}"/>
                        </div>
                    {{/if}}
                </div>
                {{> "systems/mgt2e/templates/actor/parts/actor-combat.html"}}
            {{/if}}
        </div>

        <div class="character-right">
            <div class="shadow title">
                <h1 class="charname shadow">{{actor.name}}</h1>
                {{#if system.sophont.profession}}
                    <h2 class="charname">{{system.sophont.profession}}</h2>
                {{/if}}
            </div>

            <div class="shadow grid grid-5col">
                <div class="resource flex-group-left grid-span-2">
                    <label for="system.sophont.species" class="field-label">{{localize 'MGT2.TravellerSheet.Species'}}</label>
                    <input class="field-value writable" name="system.sophont.species" type="text" value="{{system.sophont.species}}"/>
                </div>
                <div class="resource flex-group-left grid-span-2">
                    <label for="system.sophont.gender" class="field-label">{{localize 'MGT2.TravellerSheet.Gender'}}</label>
                    <input class="field-value writable" name="system.sophont.gender" type="text" value="{{system.sophont.gender}}"/>
                </div>
                <div class="resource flex-group-left">
                    <label for="system.sophont.age" class="field-label">{{localize 'MGT2.TravellerSheet.Age'}}</label>
                    <input class="field-value writable" name="system.sophont.age" type="text" value="{{system.sophont.age}}"/>
                </div>
            </div>
            {{#if (isObserver .) }}
                <div class="shadow grid grid-5col">
                    <div class="resource flex-group-center">
                        <label for="system.speed.base" class="field-label">{{localize 'MGT2.TravellerSheet.Speed'}}</label>
                        <input class="field-value writable" type="text" name="system.speed.base" value="{{system.speed.base}}" data-dtype="Number"/>
                    </div>
                    <div class="resource flex-group-center">
                        <label for="system.size" class="field-label">{{localize 'MGT2.TravellerSheet.Size'}}</label>
                        <input class="field-value writable" type="text" name="system.size" value="{{system.size}}" data-dtype="Number"/>
                    </div>
                    <div class="resource flex-group-center">
                        <label for="system.initiative.value" class="field-label">INIT</label>
                        <input class="field-value" type="text" name="system.initiative.value"
                               value="{{system.initiative.value}}" data-dtype="Number" readonly/>
                    </div>
                    <div class="resource flex-group-center">
                        <label for="system.hits.value" class="field-label">MAX HITS</label>
                        <input class="field-value {{#unless system.settings.autoHits}}writable{{/unless}}"
                               {{#if system.settings.autoHits}}readonly{{/if}}
                        type="text" name="system.hits.max"
                        value="{{system.hits.max}}"
                        data-dtype="Number"/>
                    </div>
                    <div class="resource flex-group-center dodgeRoll" title="Click to dodge, shift-click to reset">
                        <label for="system.dodge" class="field-label">
                            <i class="fas fa-dice"></i>
                            {{localize 'MGT2.TravellerSheet.Dodge'}}

                        </label>
                        <input class="field-value" type="text" _name="system.dodge"
                               value="{{system.dodge}}" data-dtype="Number" readonly/>
                    </div>
                </div>
            {{/if}}
            <div class="shadow">
                <div class="no-space grid grid-3col">
                    <div class="npc-traits">
                        <h2>Traits</h2>
                        <table>
                            {{#each TRAITS as | row key | }}
                                <tr>
                                    {{#if row.left}}
                                        <th>{{row.left.trait}}</th>
                                        <td>{{row.left.value}}</td>
                                    {{/if}}
                                    {{#if row.right}}
                                        <th>{{row.right.trait}}</th><td>{{row.right.value}}</td>
                                    {{/if}}
                                </tr>
                            {{/each}}
                        </table>
                    </div>
                    <div class="grid-span-2">
                        <h2>Skills</h2>

                        <span>{{{showSimpleSkills actor}}}</span>
                    </div>
                </div>
                <div>
                    <h2>Equipment</h2>

                    <table>
                        <tr>
                            <th>Weapons</th>
                            <td>
                                <ul class="comma-list">
                                    {{#each WEAPONS as | item id |}}
                                        <li class="item-attack item rollable" data-roll-type="item" data-attack-id="{{item._id}}">{{item.name}}</li>
                                    {{/each}}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Other</th>
                            <td>
                                <ul class="comma-list">
                                    {{#each GEAR as | item id |}}
                                        <li class="item-edit item rollable" data-roll-type="item" data-item-id="{{item._id}}">{{item.name}}</li>
                                    {{/each}}
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            {{> "systems/mgt2e/templates/actor/parts/actor-status.html"}}

        </div>
    </section>
</form>

