
<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    <section class="npc-sheet">
        <div class="character-left">
            <img class="profile-img shadow" src="{{actor.img}}" data-edit="img"
                 title="{{actor.name}}" height="100" width="100"/>

            <div class="side-panel hits-box shadow">
                <label for="system.hits.damage" class="box-title">{{localize 'MGT2.TravellerSheet.Damage'}}</label>

                <div>
                    <label class="left-label">{{localize 'MGT2.TravellerSheet.Damage'}}</label>
                    <input class="characteristic-value" type="number" name="system.hits.damage"
                           title="{{localize 'MGT2.TravellerSheet.DamageTaken'}}"
                           value="{{system.hits.damage}}" data-dtype="Number"/>
                </div>
                <div>
                    <label class="left-label">{{localize 'MGT2.TravellerSheet.HitsRemaining'}}</label>
                    <input class="characteristic-readonly" type="number"
                           title="{{localize 'MGT2.TravellerSheet.HitsRemaining'}}"
                           value="{{system.hits.value}}"/>
                </div>
            </div>
        </div>

        <div class="character-right">
            <h1 class="charname shadow">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            </h1>

            <div class="shadow grid grid-4col">
                <div class="resource flex-group-center">
                    <label for="system.vehicle.spaces" class="field-label">{{localize 'MGT2.Vehicle.Spaces'}}</label>
                    <input class="field-value writable" name="system.vehicle.spaces" type="text" value="{{system.vehicle.spaces}}"/>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.vehicle.tl" class="field-label">{{localize 'MGT2.TravellerSheet.TechLevel'}}</label>
                    <select class="configurationType writable" style="width:100%" name="system.vehicle.tl">
                        {{selectOptions selectVehicleTL selected=system.vehicle.tl}}
                    </select>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.vehicle.chassis" class="field-label">{{localize 'MGT2.Vehicle.Chassis'}}</label>
                    <select class="configurationType writable" style="width:100%" name="system.vehicle.chassis">
                        {{selectOptions selectChassis selected=system.vehicle.chassis}}
                    </select>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.vehicle.subtype" class="field-label">{{localize 'MGT2.Vehicle.SubType'}}</label>
                    <select class="configurationType writable" style="width:100%" name="system.vehicle.subtype">
                        {{selectOptions selectSubType selected=system.vehicle.subtype}}
                    </select>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.vehicle.agility" class="field-label">{{localize 'MGT2.Vehicle.Agility'}}</label>
                    <input class="field-value writable" name="system.vehicle.agility" type="text" value="{{system.vehicle.agility}}"/>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.vehicle.speed" class="field-label">{{localize 'MGT2.Vehicle.Speed'}}</label>
                    <select class="configurationType writable" style="width:100%" name="system.vehicle.speed">
                        {{selectOptions selectSpeed selected=system.vehicle.speed}}
                    </select>
               </div>
                <div class="resource flex-group-center">
                    <label for="system.vehicle.range" class="field-label">{{localize 'MGT2.Vehicle.Range'}}</label>
                    <input class="field-value writable" name="system.vehicle.range" type="text" value="{{system.vehicle.range}}"/>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.hits.max" class="field-label">{{localize 'MGT2.TravellerSheet.Hits'}}</label>
                    <input class="field-value writable" name="system.hits.max" type="text" value="{{system.hits.max}}"/>
                </div>
            </div>

            <div class="shadow">
                <nav class="sheet-tabs tabs" data-group="primary">
                    <a class="item" data-tab="crew">{{localize 'MGT2.TravellerSheet.ShipsCrew'}}</a>
                    <a class="item" data-tab="locker">{{localize 'MGT2.TravellerSheet.ShipsLocker'}}</a>
                    <a class="item" data-tab="bays">{{localize 'MGT2.TravellerSheet.Bays'}}</a>
                    <a class="item" data-tab="notes">{{localize 'MGT2.TravellerSheet.ShipsNotes'}}</a>
                </nav>

                <div class="sheet-body">
                    <div class="tab items" data-tab="locker">
                        <ol class="items-list actor-items grid grid-3col">
                        {{#each locker as |item id|}}
                            <li class="item item-gear" data-item-id="{{item._id}}">
                                <h4 title="{{nameQuantity item}}">{{nameQuantity item}}</h4>
                                <img title="{{nameQuantity item}}" src="{{item.img}}"/>
                                {{#if item.system.weight  includeZero=false}}
                                    <span>{{item.system.weight}}kg</span>
                                {{/if}}
                                {{#if item.system.tl includeZero=false}}
                                    <span>TL {{item.system.tl}}</span>
                                {{/if}}
                                {{#if item.system.cost includeZero=false}}
                                    <span>Cr{{item.system.cost}}</span>
                                {{/if}}
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                        </ol>
                    </div>

                    <div class="tab items" data-tab="notes">

                        <section class="description shadow">
                            {{editor
                            enrichedDescription target="system.description"
                            button=true editable=editable}}
                        </section>

                        {{#if roles}}
                            <h2>Available Crew Roles</h2>
                            <ol class="items-list actor-items grid grid-3col">
                                {{#each roles as |item id|}}
                                <li class="item item-gear ship-cargo" data-item-id="{{item._id}}">
                                    <h4>{{item.name}}</h4>
                                    <img src="{{item.img}}" class="small"/>
                                    <ol class="comma-list small-text">
                                        {{#each item.system.role.actions as |action|}}
                                            <li>{{action.title}}</li>
                                        {{/each}}
                                    </ol>
                                    <div class="item-controls">
                                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                    </div>
                                </li>
                                {{/each}}
                            </ol>
                        {{/if}}

                    </div>

                    <div class="tab items" data-tab="crew">
                        {{> "systems/mgt2e/templates/actor/parts/actor-starship-crew.html"}}
                    </div>

                    <div class="tab items" data-tab="bays">
                        {{> "systems/mgt2e/templates/actor/parts/actor-starship-bays.html"}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

