<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    {{#if true}}
    <section class="npc-sheet">
        <div class="character-left">
            <img class="profile-img shadow" src="{{actor.img}}" data-edit="img"
                 title="{{actor.name}}" height="100" width="100"/>

            {{#if (isObserver .)}}
            <div class="side-panel hits-box shadow">
                <label for="system.hits.damage" class="box-title">{{localize 'MGT2.TravellerSheet.Damage'}}</label>

                <div>
                    <label class="left-label">{{localize 'MGT2.TravellerSheet.Damage'}}</label>
                    <input class="characteristic-value" type="number" name="system.hits.damage"
                           title="{{localize 'MGT2.TravellerSheet.DamageTaken'}}"
                           value="{{system.hits.damage}}" data-dtype="Number"/>
                </div>
                <div>
                    <label class="left-label">{{localize 'MGT2.TravellerSheet.HitsRemaining'}}</label>
                    <input class="characteristic-readonly" type="number"
                           title="{{localize 'MGT2.TravellerSheet.HitsRemaining'}}"
                           value="{{system.hits.value}}"/>
                </div>
            </div>
            {{> "systems/mgt2e/templates/actor/parts/actor-combat.html"}}
            {{/if}}
        </div>

        <div class="character-right">
            <h1 class="charname shadow">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            </h1>

            <div class="shadow grid grid-5col">
                <div class="resource flex-group-left grid-span-2">
                    <label for="system.sophont.species" class="field-label">{{localize 'MGT2.TravellerSheet.Species'}}</label>
                    <input class="field-value writable" name="system.sophont.species" type="text" value="{{system.sophont.species}}"/>
                </div>
                <div class="resource flex-group-left">
                    <label for="system.sophont.gender" class="field-label">{{localize 'MGT2.TravellerSheet.Gender'}}</label>
                    <input class="field-value writable" name="system.sophont.gender" type="text" value="{{system.sophont.gender}}"/>
                </div>
                <div class="resource flex-group-left grid-span-2">
                    <label for="system.sophont.profession" class="field-label">
                        {{localize 'MGT2.TravellerSheet.Profession'}}
                        <span class="showIdCard"><i class="fa-solid fa-id-card"></i></span>
                    </label>
                    <input class="field-value writable" name="system.sophont.profession" type="text" value="{{system.sophont.profession}}"/>
                </div>
            </div>

            <div class="shadow">
                {{#if (isOwner .) }}
                    {{#unless system.settings.lockCharacteristics}}
                        <span class="roll-upp rollable" style="float:right; display: inline-block" title="{{localize 'MGT2.TravellerSheet.RandomRoll'}}"><i class="fas fa-dice"> </i></span>
                    {{/unless}}
                {{/if}}
                <div class="no-space grid grid-{{system.settings.columns}}col">
                    {{#if (isObserver .)}}
                        {{#each system.characteristics as | char key | }}
                            {{#if char.show}}
                            <div class="resource flex-group-center {{#unless ../system.settings.lockCharacteristics}}characteristic-draggable{{/unless}}"
                                 data-rolltype="characteristic" data-cha="{{key}}">
                                <label for="system.characteristics.{{key}}.value"
                                       class="characteristic-title rollable"
                                       data-roll="2d6+@{{key}}" data-label="{{key}}"
                                       data-cha="{{key}}"
                                       title="{{localize (concat 'MGT2.Characteristics.' key) }}">{{key}}</label>
                                <span class="characteristic-dm {{chaStatus char}}">{{numberFormat char.dm sign=true}}</span>
                                <br/>
                                <input class="characteristic-value writable" type="number" min="0" max="20" step="1" name="system.characteristics.{{key}}.value" value="{{char.value}}" data-dtype="Number"/>
                            </div>
                            {{/if}}
                        {{/each}}
                    {{else}}
                        {{#each system.characteristics as | char key | }}
                            {{#if char.show}}
                            <div class="resource flex-group-center">
                                <label for="system.characteristics.{{key}}.value"
                                       class="characteristic-title"
                                       title="{{localize (concat 'MGT2.Characteristics.' key) }}">{{key}}</label>
                                <span class="characteristic-dm {{chaStatus char}}">{{numberFormat char.dm sign=true}}</span>
                            </div>
                            {{/if}}
                        {{/each}}
                    {{/if}}
                </div>
            </div>

            {{#if (isObserver .) }}
            <div class="shadow grid grid-5col">
                <div class="resource flex-group-center">
                    <label for="system.speed.base" class="field-label">SPEED</label>
                    <input class="field-value writable" type="text" name="system.speed.base" value="{{system.speed.base}}" data-dtype="Number"/>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.size" class="field-label">SIZE</label>
                    <select class="expand writable" style="text-align: center" name="system.size">
                        {{#select system.size}}
                        <option value="-4">-4</option>
                        <option value="-3">-3</option>
                        <option value="-2">-2</option>
                        <option value="-1">-1</option>
                        <option value="0">0</option>
                        <option value="1">+1</option>
                        <option value="2">+2</option>
                        <option value="3">+3</option>
                        <option value="4">+4</option>
                        <option value="5">+5</option>
                        <option value="6">+6</option>
                        {{/select}}
                    </select>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.initiative.base" class="field-label">INIT</label>
                    <input class="field-value" type="text" name="system.initiative.base"
                           value="{{system.initiative.base}}" data-dtype="Number" readonly/>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.hits.value" class="field-label">MAX HITS</label>
                    <!--
                    <input type="text" name="system.hits.value" value="{{system.hits.value}}"
                           data-dtype="Number"/> /
                           -->
                    <input class="field-value" type="text" name="system.hits.max" value="{{system.hits.max}}"
                           readonly data-dtype="Number"/>
                </div>
                <div class="resource flex-group-center dodgeRoll" title="Click to dodge, shift-click to reset">
                    <label for="system.dodge" class="field-label">
                        <i class="fas fa-dice"></i>
                        {{localize 'MGT2.TravellerSheet.Dodge'}}

                    </label>
                    <input class="field-value" type="text" _name="system.dodge"
                           value="{{system.dodge}}" data-dtype="Number" readonly/>
                </div>
            </div>
            {{/if}}

            {{> "systems/mgt2e/templates/actor/parts/actor-status.html"}}

            {{#if (isObserver .) }}
            <div class="shadow">
                <nav class="sheet-tabs tabs" data-group="primary">
                    <a class="item" data-tab="skills">Skills</a>
                    <a class="item" data-tab="items">Equipment</a>
                    <a class="item" data-tab="biography">Biography</a>
                    {{#if (isOwner .)}}
                        <a class="item" data-tab="settings">Settings</a>
                    {{/if}}
                </nav>

                <div class="sheet-body">
                    {{!-- Skills Tab --}}
                    <div class="tab skills" data-group="primary" data-tab="skills">
                        {{> "systems/mgt2e/templates/actor/parts/actor-skills.html"}}
                    </div>

                    {{!-- Biography Tab --}}
                    <div class="tab biography" data-group="primary" data-tab="biography">

                        <div class="resources grid grid-6col">
                            <div class="resource flex-group-center">
                                <label for="system.sophont.age" class="resource-label">Age</label>
                                <input type="text" name="system.sophont.age" value="{{system.sophont.age}}"
                                       class="writable" data-dtype="Number"/>
                            </div>
                            <div class="resource flex-group-center">
                                <label for="system.sophont.height" class="resource-label">Height (cm)</label>
                                <input type="text" name="system.sophont.height" value="{{system.sophont.height}}"
                                       class="writable" data-dtype="Number"/>
                            </div>
                            <div class="resource flex-group-center">
                                <label for="system.sophont.weight" class="resource-label">Weight (kg)</label>
                                <input type="text" name="system.sophont.weight" value="{{system.sophont.weight}}"
                                       class="writable" data-dtype="Number"/>
                            </div>
                            <div class="resource flex-group-center">
                                <label for="system.finance.cash" class="resource-label">Credits</label>
                                <input type="text" name="system.finance.cash" value="{{system.finance.cash}}"
                                       class="writable" data-dtype="Number"/>
                            </div>
                            <div class="resource flex-group-left grid-span-2">
                                <label for="system.sophont.homeworld" class="resource-label">Homeworld</label>
                                <input type="text" name="system.sophont.homeworld" value="{{system.sophont.homeworld}}"
                                       class="writable" data-dtype="String"/>
                            </div>
                        </div>

                        <section class="bio-box">
                            {{editor
                                enrichedDescription target="system.description"
                                button=true editable=editable}}
                        </section>
                    </div>

                    {{!-- Owned Items Tab --}}
                    <div class="tab items" data-group="primary" data-tab="items">
                        {{> "systems/mgt2e/templates/actor/parts/actor-items.html"}}
                    </div>

                    {{!-- Settings Tab --}}
                    {{#if (isOwner .)}}
                        <section class="tab settings flexcol" data-group="primary" data-tab="settings">
                            {{> "systems/mgt2e/templates/actor/parts/actor-settings.html"}}
                        </section>
                    {{/if}}
                </div>
            </div>
            {{/if}}
        </div>


    </section>
    {{else}}
    {{> "systems/mgt2e/templates/actor/parts/actor-id-card.html"}}
    {{/if}}
</form>

