<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    <section class="creature-sheet">
        <div class="character-left">
            <img class="profile-img shadow" src="{{actor.img}}" data-edit="img"
                 title="{{actor.name}}" height="100" width="100"/>

            <div class="side-panel hits-box shadow">
                <label for="data.hits.damage" class="box-title">{{localize 'MGT2.TravellerSheet.Damage'}}</label>

                <div>
                    <label class="left-label">{{localize 'MGT2.TravellerSheet.Damage'}}</label>
                    <input class="characteristic-value" type="number" name="data.hits.damage"
                           title="{{localize 'MGT2.TravellerSheet.DamageTaken'}}"
                           value="{{data.hits.damage}}" data-dtype="Number"/>
                </div>
                <div>
                    <label class="left-label">{{localize 'MGT2.TravellerSheet.HitsRemaining'}}</label>
                    <input class="characteristic-readonly" type="number"
                           title="{{localize 'MGT2.TravellerSheet.HitsRemaining'}}"
                           value="{{data.hits.value}}"/>
                </div>
            </div>

            <div class="side-panel creature-armour shadow">
                <label class="box-title">{{localize 'MGT2.TravellerSheet.Armour'}}</label>

                <div class="grid grid-3col inset flex-group-center">
                    <div>
                        <label class="prot-type" title="Protection">Prot</label>
                        <input class="armour-value" type="text" name="data.armour.protection" title="Protection"
                               value="{{data.armour.protection}}" data-dtype="Number"/>
                    </div>
                    <div>
                        <label class="prot-type" title="Rad Shielding">Rad</label>
                        <input class="armour-value" type="text" name="data.armour.rad" title="Radiation protection"
                               value="{{data.armour.rad}}" data-dtype="Number"/>
                    </div>
                    <div>
                        <label class="prot-type" title="Energy Protection">🔥</label>
                        <input class="armour-value" type="text" name="data.armour.otherProtection" title="Energy"
                               value="{{data.armour.otherProtection}}" data-dtype="Number"/>
                    </div>
                    <input type="text" name="data.armour.otherTypes" title="Energy types" class="grid-span-3"
                           value="{{data.armour.otherTypes}}" data-dtype="String"/>
                </div>

                <div class="inset">
                    <ol class="items-list">
                        {{#each items as |item id|}}
                        {{#if item.system.armour}}
                        <li class="item" data-item-id="{{item._id}}" title="{{item.system.armour.protection}}">
                            <a class="rollable" data-roll-type="item">
                                <img src="{{item.img}}" title="{{item.name}}" width="32" height="32"/>
                            </a>
                            <label>{{item.name}}</label>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        <br/>
                        {{/if}}
                        {{/each}}
                    </ol>
                    <a class="item-control item-create" title="Add armour" data-type="armour"
                       data-name="Natural Armour" data-form="natural"
                       data-img="systems/mgt2e/icons/items/armour-natural.svg">
                        <i class="fas fa-plus"></i> Add</a>
                </div>
            </div>

            <div class="side-panel creature-attacks shadow">
                <label class="box-title">ATTACKS</label>

                <div class="inset">
                    <ol class="items-list">
                        {{#each items as |item id|}}
                            {{#if item.system.weapon}}
                            <li class="item" data-item-id="{{item._id}}" title="{{item.system.weapon.damage}}">
                                <a class="rollable" data-roll-type="item">
                                    <img src="{{item.img}}" title="{{item.name}}" width="32" height="32"/>
                                </a>
                                <label>{{item.name}}</label>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        <br/>
                        {{/if}}
                        {{/each}}
                    </ol>
                    <a class="item-control item-create" title="Create attack" data-type="weapon"
                       data-name="Add attack" data-damage="1d6" data-skill="melee.natural"
                       data-img="systems/mgt2e/icons/items/melee-natural.svg">
                        <i class="fas fa-plus"></i> Add</a>
                </div>
            </div>
        </div>

        <div class="character-right">
            <h1 class="charname shadow">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            </h1>

            <div class="shadow grid grid-5col">
                <div class="resource flex-group-center">
                    <label for="data.speed.base" class="field-label">{{localize 'MGT2.TravellerSheet.Speed'}}</label>
                    <input class="field-value writable" type="text" name="data.speed.base" value="{{data.speed.base}}" data-dtype="Number"/>
                </div>
                <div class="resource flex-group-center">
                    <label for="data.size" class="field-label">{{localize 'MGT2.TravellerSheet.Size'}}</label>
                    <select class="expand writable" name="data.size">
                        {{#select data.size}}
                            <option value="-4">{{localize "MGT2.TravellerSheet.SizeClass.small"}} (-4)</option>
                            <option value="-3">{{localize "MGT2.TravellerSheet.SizeClass.small"}} (-3)</option>
                            <option value="-2">{{localize "MGT2.TravellerSheet.SizeClass.small"}} (-2)</option>
                            <option value="-1">{{localize "MGT2.TravellerSheet.SizeClass.small"}} (-1)</option>
                            <option value="0">{{localize "MGT2.TravellerSheet.SizeClass.medium"}} (0)</option>
                            <option value="1">{{localize "MGT2.TravellerSheet.SizeClass.large"}} (+1)</option>
                            <option value="2">{{localize "MGT2.TravellerSheet.SizeClass.large"}} (+2)</option>
                            <option value="3">{{localize "MGT2.TravellerSheet.SizeClass.large"}} (+3)</option>
                            <option value="4">{{localize "MGT2.TravellerSheet.SizeClass.large"}} (+4)</option>
                            <option value="5">{{localize "MGT2.TravellerSheet.SizeClass.large"}} (+5)</option>
                            <option value="6">{{localize "MGT2.TravellerSheet.SizeClass.large"}} (+6)</option>
                        {{/select}}
                    </select>
                </div>
                <div class="resource flex-group-center">
                    <label for="data.initiative.base" class="field-label">{{localize 'MGT2.TravellerSheet.Init'}}</label>
                    <input class="field-value" readonly type="text" name="data.initiative.base" value="{{data.initiative.base}}"
                           data-dtype="Number"/>
                </div>
                <div class="resource flex-group-center" title="{{suggestedHits}}">
                    <label for="data.hits.value" class="field-label">{{localize 'MGT2.TravellerSheet.MaxHits'}}</label>
                    <input class="field-value writable" type="text" name="data.hits.max" value="{{data.hits.max}}"
                           data-dtype="Number"/>
                </div>
                <div class="resource flex-group-center dodgeRoll" title="Click to dodge, shift-click to reset">
                    <label for="data.dodge" class="field-label">
                        <i class="fas fa-dice"></i>
                        {{localize 'MGT2.TravellerSheet.Dodge'}}

                    </label>
                    <input class="field-value" type="text" _name="data.dodge"
                           value="{{data.dodge}}{{#if data.modifiers.reaction.dm includeZero=false}} ({{data.modifiers.reaction.dm}}){{/if}}" data-dtype="Number" readonly/>
                </div>
            </div>

            <div class="creature-info shadow">
                <div class="resource flex-group-left">
                    <label class="text-title">Behaviour </label>
                    {{#if (isOwner .)}}
                    <span style="display: inline-block; float:right">
                    <i class="fa fa-add"></i> <select class="behaviour-selector">
                        {{selectOptions behaviours }}
                    </select>
                    </span>
                    {{/if}}
                    <div class="behaviour-field">
                        {{{showBehaviours . data.behaviour}}}
                    </div>
                    <br/>
                </div>

                <div class="resource flex-group-left">
                    <label class="text-title">Traits</label>
                    {{#if (isOwner .)}}
                    <span style="display: inline-block; float:right">
                        <i class="fa fa-add"></i> <select class="traits-selector">
                            {{selectOptions traits }}
                        </select>
                    </span>
                    {{/if}}
                    <div class="behaviour-field">
                        {{{showTraits . data.traits}}}
                    </div>
                    <br/>
                </div>
            </div>

            {{> "systems/mgt2e/templates/actor/parts/actor-status.html"}}

            <div class="skills shadow">
                {{> "systems/mgt2e/templates/actor/parts/actor-skills.html"}}
            </div>

            <section class="description shadow">
                {{editor
                    enrichedDescription target="system.description"
                    button=true editable=editable}}
            </section>

        </div>
  </section>
</form>

