<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    <div class="salvo shadow grid grid-5col">
        <div>
            {{shipActor.name}}
        </div>
        <div class="resource flex-group-center">
            <label class="field-label">Salvo Size</label>
            <input class="field-value" type="text" name="system.size.value"
                   value="{{system.size.value}}"/>
        </div>
        <div class="resource flex-group-center">
            <label class="field-label">Thrust</label>
            <input class="field-value" type="text"  name="system.salvo.thrust"
                value="{{system.thrust}}"/>
        </div>
        <div class="resource flex-group-center">
            <label class="field-label">Endurance</label>
            <input class="field-value" type="text" name="system.salvo.endurance.value"
                   value="{{system.salvo.endurance.value}}"/>
        </div>
        <div class="resource flex-group-center">
            <label class="field-label">Damage</label>
            <input class="field-value" type="text" name="damage"
                   value="{{damage}}"/>
        </div>
    </div>
</form>
