<section class="id-card">
    <div class="id-side">
        <img src="{{actor.img}}" data-edit="img"
             title="{{actor.name}}" height="150" width="150"/>

        <div class="info">
            {{#if system.sophont.species}}
            <div class="id-data">
                <h4>{{localize 'MGT2.TravellerSheet.Species'}}</h4>
                <span>{{system.sophont.species}}</span>
            </div>
            {{/if}}
            {{#if system.sophont.gender}}
            <div class="id-data">
                <h4>{{localize 'MGT2.TravellerSheet.Gender'}}</h4>
                <span>{{system.sophont.gender}}</span>
            </div>
            {{/if}}
            {{#if system.sophont.homeworld}}
            <div class="id-data">
                <h4>{{localize 'MGT2.TravellerSheet.HomeWorld'}}</h4>
                <span>{{system.sophont.homeworld}}</span>
            </div>
            {{/if}}
        </div>

    </div>

    <div class="id-card">
        <h1 class="charname shadow">
            {{actor.name}}
            {{#if users}}<i class="id-share fa-regular fa-share-from-square"></i>{{/if}}
        </h1>

        <div class="upp">
            <span class="upp">{{toHex system.characteristics.STR.value}}</span>
            <span class="upp">{{toHex system.characteristics.DEX.value}}</span>
            <span class="upp">{{toHex system.characteristics.END.value}}</span>
            <span class="upp">{{toHex system.characteristics.INT.value}}</span>
            <span class="upp">{{toHex system.characteristics.EDU.value}}</span>
            <span class="upp">{{toHex system.characteristics.SOC.value}}</span>

            {{#if system.sophont.profession}}
            <div class="id-data">
                <h4>{{localize 'MGT2.TravellerSheet.Profession'}}</h4>
                <span>{{system.sophont.profession}}</span>
            </div>
            {{/if}}
        </div>
        <div class="card-skills">
            <h4>Qualifiations</h4>
            <span>{{{showSimpleSkills actor}}}</span>
        </div>

        <div class="description">
            {{{actor.system.description}}}
        </div>
    </div>
</section>

