<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    <section class="traveller-sheet">
        <div class="character-left">
            <img class="profile-img shadow actor-draggable" src="{{actor.img}}" data-edit="img" data-actor-id="{{actor._id}}"
                 title="{{actor.name}}" height="100" width="100"/>

            <div class="side-panel shadow uwp-digits">
                <div class="uwp-digit" title="{{localize 'MGT2.WorldSheet.UWP.Port'}}">
                    {{system.world.uwp.port}}
                </div>
                <div class="uwp-digit" title="{{localize 'MGT2.WorldSheet.UWP.Size'}}">
                    {{toHex system.world.uwp.size}}
                </div>
                <div class="uwp-digit" title="{{localize 'MGT2.WorldSheet.UWP.Atmosphere'}}">
                    {{toHex system.world.uwp.atmosphere}}
                </div>
                <div class="uwp-digit" title="{{localize 'MGT2.WorldSheet.UWP.Hydrographics'}}">
                    {{toHex system.world.uwp.hydrographics}}
                </div>
                <div class="uwp-digit" title="{{localize 'MGT2.WorldSheet.UWP.Population'}}">
                    {{toHex system.world.uwp.population}}
                </div>
                <div class="uwp-digit" title="{{localize 'MGT2.WorldSheet.UWP.Government'}}">
                    {{toHex system.world.uwp.government}}
                </div>
                <div class="uwp-digit" title="{{localize 'MGT2.WorldSheet.UWP.LawLevel'}}">
                    {{toHex system.world.uwp.lawLevel}}
                </div>
                <div class="uwp-dash">&mdash;</div>
                <div class="uwp-digit" title="{{localize 'MGT2.WorldSheet.UWP.TechLevel'}}">
                    {{toHex system.world.uwp.techLevel}}
                </div>
            </div>

            <div class="side-panel shadow facilities">
                <h3>Facilities</h3>

                <div class="resource">
                    <label class="resource-label">Berth Cost (Cr/Wk)</label>
                    <input class="field-value"
                           name="system.world.extra.berthingCost"
                           value="{{system.world.extra.berthingCost}}"
                           data-dtype="Number"/>
                </div>

                <div class="resource">
                    <label class="resource-label">Shipyard</label>
                    <select class="field-value" name="system.world.extra.shipyard">
                        {{selectOptions SHIPYARD_SELECT selected=system.world.extra.shipyard}}
                    </select>
                </div>

                <div class="resource">
                    <label class="resource-label">Repair</label>
                    <select class="field-value" name="system.world.extra.repair">
                        {{selectOptions REPAIR_SELECT selected=system.world.extra.repair}}
                    </select>
                </div>

                <div class="resource">
                    <input type="checkbox" name="system.world.extra.highport" {{checked system.world.extra.highport}} data-dtype="Boolean" />
                    <label for="system.world.extra.highport" class="resource-label">Highport</label>
                </div>
            </div>
        </div>

        <div class="character-right">
            <h1 class="charname shadow">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            </h1>

            <div class="shadow">
                <div class="grid grid-4col">
                    <div class="resource flex-group-left grid-span-2">
                        <label for="system.world.location.sector" class="field-label">Sector</label>
                        <input class="field-value writable" name="system.world.location.sector" type="text" value="{{system.world.location.sector}}"/>
                    </div>
                    <div class="resource flex-group-left">
                        <label for="system.world.location.x" class="field-label">X</label>
                        <input class="field-value writable" name="system.world.location.x" type="text" value="{{system.world.location.x}}"/>
                    </div>
                    <div class="resource flex-group-left">
                        <label for="system.world.location.y" class="field-label">Y</label>
                        <input class="field-value writable" name="system.world.location.y" type="text" value="{{system.world.location.y}}"/>
                    </div>
                </div>

            </div>

            <div class="shadow">
                <nav class="sheet-tabs tabs" data-group="primary">
                    <a class="item" data-tab="data">World Data</a>
                    <a class="item" data-tab="description">Description</a>
                    <a class="item" data-tab="factions">Factions</a>
                    <a class="item" data-tab="map">Map</a>
                    <a class="item" data-tab="freight">Freight</a>
                    <a class="item" data-tab="trade">Trade</a>
                </nav>

                <div class="sheet-body">
                    {{!-- World Data Tab --}}
                    <div class="tab" data-group="primary" data-tab="data">
                        <div class="grid grid-2col uwp-data">
                            <label for="system.world.uwp.port" class="field-label">{{localize 'MGT2.WorldSheet.UWP.Port'}}</label>
                            <select name="system.world.uwp.port" class="uwp-code">
                                {{selectOptions PORT_SELECT selected=system.world.uwp.port}}
                            </select>

                            <label for="system.world.uwp.size" class="field-label">{{localize 'MGT2.WorldSheet.UWP.Size'}}</label>
                            <select name="system.world.uwp.size" class="uwp-code" type="number">
                                {{selectOptions SIZE_SELECT selected=system.world.uwp.size}}
                            </select>

                            <label for="system.world.uwp.atmosphere" class="field-label">{{localize 'MGT2.WorldSheet.UWP.Atmosphere'}}</label>
                            <select name="system.world.uwp.atmosphere" class="uwp-code" type="number">
                                {{selectOptions ATMOSPHERE_SELECT selected=system.world.uwp.atmosphere}}
                            </select>

                            <label for="system.world.uwp.hydrographics" class="field-label">{{localize 'MGT2.WorldSheet.UWP.Hydrographics'}}</label>
                            <select name="system.world.uwp.hydrographics" class="uwp-code" type="number">
                                {{selectOptions HYDROGRAPHICS_SELECT selected=system.world.uwp.hydrographics}}
                            </select>

                            <label for="system.world.uwp.population" class="field-label">{{localize 'MGT2.WorldSheet.UWP.Population'}}</label>
                            <select name="system.world.uwp.population" class="uwp-code" type="number">
                                {{selectOptions POPULATION_SELECT selected=system.world.uwp.population}}
                            </select>

                            <label for="system.world.uwp.government" class="field-label">{{localize 'MGT2.WorldSheet.UWP.Government'}}</label>
                            <select name="system.world.uwp.government" class="uwp-code" type="number">
                                {{selectOptions GOVERNMENT_SELECT selected=system.world.uwp.government}}
                            </select>

                            <label for="system.world.uwp.lawLevel" class="field-label">{{localize 'MGT2.WorldSheet.UWP.LawLevel'}}</label>
                            <select name="system.world.uwp.lawLevel" class="uwp-code" type="number">
                                {{selectOptions LAW_SELECT selected=system.world.uwp.lawLevel}}
                            </select>

                            <label for="system.world.uwp.techLevel" class="field-label">{{localize 'MGT2.WorldSheet.UWP.TechLevel'}}</label>
                            <select name="system.world.uwp.techLevel" class="uwp-code" type="number">
                                {{selectOptions TECH_SELECT selected=system.world.uwp.techLevel}}
                            </select>
                        </div>

                        <div class="extra-data">
                            <h3>Bases
                            {{#if BASES_SELECT }}
                            <span style="display: inline-block; text-align: right; font-size: smaller">
                                <i class="fas fa-plus"></i> <select class="base-add">
                                    {{selectOptions BASES_SELECT }}
                                </select>
                            </span>
                            {{/if}}
                            </h3>
                            <div class="pill-container">
                                {{{showBases . system.world.uwp.bases}}}
                            </div>

                            <h3>Trade Codes</h3>
                            <div class="pill-container">
                                {{{showWorldTraits . system.world.uwp.codes}}}
                            </div>

                            {{#if system.world.extra.culturalDifferences}}
                                <h3>Culture</h3>
                                <textarea class="culture" name="system.world.extra.culturalDifferences">{{system.world.extra.culturalDifferences}}</textarea>
                            {{/if}}
                        </div>

                        <div style="clear:both"></div>
                        <input class="generateWorld" type="button" value="Generate"/>
                    </div>

                    <div class="tab" data-group="primary" data-tab="factions">
                        {{#if factions}}
                        <ol class="items-list actor-items">
                            {{#each factions as |faction id|}}
                                <li class="item item-gear world-faction" data-item-id="{{faction._id}}">
                                    <h4>{{faction.name}}</h4>
                                    <div>
                                        {{localize (concat 'MGT2.WorldSheet.Government.Type.' faction.system.world.government)}} /
                                        {{localize (concat 'MGT2.WorldSheet.Faction.Strength.' faction.system.world.strength)}}
                                    </div>
                                    {{#if faction.system.description}}
                                        <span>{{{faction.system.description}}}</span>
                                    {{/if}}
                                    <div class="item-controls">
                                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                    </div>
                                </li>
                            {{/each}}
                        </ol>
                        {{/if}}
                    </div>

                    <div class="tab" data-group="primary" data-tab="description">
                        <div class="shadow">
                            {{editor enrichedDescription target="system.description"
                                     button=true editable=editable}}
                        </div>
                    </div>

                    <div class="tab" data-group="primary" data-tab="map">
                        <img class="profile-img shadow actor-draggable" src="{{actor.system.world.map}}"
                             data-edit="system.world.map"
                             title="{{actor.name}}" width="800"/>
                    </div>

                    <div class="tab" data-group="primary" data-tab="freight">
                        {{#if cargo}}
                        <ol class="items-list actor-items grid grid-3col">
                            {{#each cargo as |item id|}}
                                {{#unless item.system.cargo.speculative}}
                                    <li class="item item-gear ship-cargo" data-item-id="{{item._id}}">
                                        <h4 title="{{nameQuantity item}}">{{nameQuantity item}}</h4>
                                        <img title="{{nameQuantity item}}" src="{{item.img}}"/>
                                        {{#if item.system.quantity includeZero=false}}
                                        <span>{{item.system.quantity}}dt</span>
                                        <br/>
                                        {{/if}}
                                        {{#if item.system.cargo.price includeZero=false}}
                                        <span>Cr{{niceNumber item.system.cargo.price}}</span>
                                        {{/if}}
                                        <div class="item-controls">
                                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                        </div>
                                    </li>
                                {{/unless}}
                            {{/each}}
                        </ol>
                        {{else}}
                        <p>{{localize 'MGT2.TravellerSheet.DragCargo'}}</p>
                        {{/if}}
                    </div>

                    <div class="tab" data-group="primary" data-tab="trade">
                        <div class="trade-configuration grid grid-3col">
                            <div class="trade">
                                <label class="broker-label">Local Broker</label><br/>
                                <input class="writable" name="system.world.meta.localBrokerScore"
                                       type="text" value="{{system.world.meta.localBrokerScore}}"/>
                                <br/>
                            </div>

                            <div class="trade dropZone brokerDropZone">
                                {{#if brokerActorName}}
                                    <label class="trader-name">{{brokerActorName}}</label>
                                    <br/>
                                    <img src="{{brokerActorImg}}"/>
                                    <label class="trader-skill">Broker:</label><br/>
                                    <span class="trader-score">{{system.world.meta.brokerScore}}</span>
                                {{else}}
                                    <span class="trader-drop">Drop actor to set ship broker</span>
                                {{/if}}
                                <div style="clear:both"></div>
                            </div>

                            <div class="trade dropZone streetwiseDropZone">
                                {{#if streetwiseActorName}}
                                    <label class="trader-name">{{streetwiseActorName}}</label>
                                    <br/>
                                    <img src="{{streetwiseActorImg}}"/>
                                    <label class="trader-skill">Streetwise:</label><br/>
                                    <span class="trader-score">{{system.world.meta.streetwiseScore}}</span>
                                {{else}}
                                    <span class="trader-drop">Drop actor to set ship streetwise</span>
                                {{/if}}
                                <div style="clear:both"></div>
                            </div>
                        </div>

                        <div>
                            <input class="generateSpeculative" type="button" value="Speculate"/>
                        </div>
                        {{#if cargo}}
                            <ol class="items-list actor-items grid grid-3col">
                                {{#each cargo as |item id|}}
                                    {{#if item.system.cargo.speculative}}
                                        <li class="item item-gear ship-cargo" data-item-id="{{item._id}}">
                                            <h4 title="{{nameQuantity item}}">{{nameQuantity item}}</h4>
                                            <img title="{{nameQuantity item}}" src="{{item.img}}"/>
                                            {{#if item.system.quantity includeZero=false}}
                                            <span>{{item.system.quantity}}dt</span>
                                            <br/>
                                            {{/if}}
                                            {{#if item.system.cost includeZero=false}}
                                            <span>Cr{{niceNumber item.system.cost}}</span>
                                            {{/if}}
                                            <div class="item-controls">
                                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                            </div>
                                        </li>
                                    {{/if}}
                                {{/each}}
                            </ol>
                        {{else}}
                            <p>{{localize 'MGT2.TravellerSheet.DragCargo'}}</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

    </section>


</form>

