<div class="inline-actor inline-package">
    <h3><span class="rollable actor-link" data-actor-id="{{actor.uuid}}">{{actor.name}}</span></h3>

    <div>
        <div class="grid grid-4col actor-cha-list grid-span-1" style="float:left">
            <div class="species-title">STR</div><div>{{actor.system.characteristics.STR.value}}</div>
            <div class="species-title">INT</div><div>{{actor.system.characteristics.INT.value}}</div>
            <div class="species-title">DEX</div><div>{{actor.system.characteristics.DEX.value}}</div>
            <div class="species-title">EDU</div><div>{{actor.system.characteristics.EDU.value}}</div>
            <div class="species-title">END</div><div>{{actor.system.characteristics.END.value}}</div>
            <div class="species-title">SOC</div><div>{{actor.system.characteristics.SOC.value}}</div>
            <div class="species-title grid-span-4">Skills</div>
        </div>
        <div>
            <h4>Benefits</h4>
            {{#if actor.system.cash includeZero=false}}
                Cr{{prettyNumber actor.system.cash 0 false}}<br/>
            {{/if}}
            <ul class="comma-list">
                {{#each actor.items as |item|}}
                    {{#if (ifEquals item.type "term")}}
                        {{#if item.system.term.hideFromPackage}}
                            <li>{{item.name}}</li>
                        {{/if}}
                    {{/if}}
                {{/each}}
                {{#each actor.items as |item|}}
                    {{#if (ifEquals item.type "associate")}}
                        {{#if item.system.quantity includeZero=false}}
                            <li>{{localize (concat "MGT2.History.Relation." item.system.associate.relationship)}}
                                ({{item.name}}){{#unless (ifEquals item.system.quantity "1")}}&nbsp;x{{item.system.quantity}}{{/unless}}</li>
                        {{else}}
                            <li>{{localize (concat "MGT2.History.Relation." item.system.associate.relationship)}} ({{item.name}})</li>
                        {{/if}}
                    {{/if}}
                {{/each}}
                {{#each actor.items as |item|}}
                    {{#if (ifEquals item.type "term")}}
                    {{else if (ifEquals item.type "associate")}}
                    {{else}}
                        {{#unless item.system.packageOptional}}
                            <li>{{item.name}}</li>
                        {{/unless}}
                    {{/if}}
                {{/each}}
            </ul>
            <ul class="comma-list">
                {{#each actor.items as |item|}}
                    {{#if item.system.packageOptional}}
                        <li class="or-list">{{item.name}}</li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
        <div style="clear: both">
            <span>{{{showSimpleSkills actor}}}</span>
        </div>
    </div>
</div>

<p class="post-package-description">
    <img class="package-icon" src="{{actor.img}}"/>
    {{{actor.system.description}}}
</p>

<p style="clear: both"> </p>
