
{{#if departments}}
<select class="departmentList" name="system.crewed.selectedDepartment">
    {{selectOptions departmentList selected=system.crewed.selectedDepartment}}
</select>
<br/>
{{/if}}
<h3>Crew</h3>

{{#if crew}}
    <ol class="items-list actor-crew-list grid grid-2col">
        {{#each departmentMembers as |crewMember|}}
            <li class="actor-crew" data-actor-id="{{crewMember._id}}">
                <h4 title="{{crewMember.name}}">
                    {{crewMember.name}}
                    {{#if crewMember.system.sophont.profession}}
                        ({{crewMember.system.sophont.profession}})
                    {{/if}}
                </h4>
                <img class="embedded-actor-portrait actor-draggable" data-actor-id="{{crewMember._id}}" title="{{crewMember.name}}" src="{{crewMember.img}}"/>

                {{{showCrewInfo ../actor crewMember}}}
                <br/>
                <div class="item-controls">
                    <a class="item-control crew-passenger" title="Make passenger">
                        <i class="fas fa-suitcase"></i></a>
                    <a class="item-control crew-edit" title="Edit Crew Position">
                        <i class="fas fa-edit"></i></a>
                    <a class="item-control crew-delete" title="Remove Crew">
                        <i class="fas fa-trash"></i></a>
                </div>
            </li>
        {{/each}}
    </ol>
{{else}}
    {{#if passengers}}
        <p>{{localize "MGT2.Role.NoCrewAssigned"}}</p>
    {{else}}
        <p>{{localize "MGT2.Role.NoCrewOrPassengers"}}</p>
    {{/if}}
{{/if}}
<br/>

{{#if passengers}}
    <h3>Passengers</h3>

    <ol class="items-list actor-crew-list grid grid-3col">
        {{#each passengers as |crewMember|}}
        <li class="actor-crew" data-actor-id="{{crewMember._id}}">
            <h4 title="{{crewMember.name}}">{{crewMember.name}}</h4>
            <img class="embedded-actor-portrait" data-actor-id="{{crewMember._id}}"  title="{{crewMember.name}}" src="{{crewMember.img}}"/>

            {{#if crewMember.system.sophont.species}}
                <div>{{crewMember.system.sophont.species}}</div>
            {{/if}}

            {{#if crewMember.system.sophont.profession}}
                <div>{{crewMember.system.sophont.profession}}</div>
            {{/if}}

            <div class="item-controls">
                <a class="item-control passenger-crew" title="Make crew">
                    <i class="fas fa-person-military-pointing"></i></a>
                <a class="item-control passenger-delete" title="Remove Crew">
                    <i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
{{/if}}
