
{{#if system.armour.name}}
  <div class="side-panel armour-box shadow flex-group-center">
    <label class="box-title">{{localize 'MGT2.TravellerSheet.Armour'}}</label>
    <label class="armour-name" title="{{system.armour.name}}">{{system.armour.name}}</label>

    <div class="grid grid-3col inset">
      <div>
        <label class="prot-type" title="Protection">Prot</label>
        <input class="armour-value" type="text" name="system.armour.protection" title="Protection"
               value="{{system.armour.protection}}" readonly data-dtype="Number"/>
      </div>
      <div>
        <label class="prot-type" title="Rad Shielding">Rad</label>
        <input class="armour-value" type="text" name="system.armour.rad" title="Radiation protection"
               value="{{system.armour.rad}}" readonly data-dtype="Number"/>
      </div>
      {{#if system.armour.otherProtection}}
      <div>
        <label class="prot-type" title="Energy Protection">🔥</label>
        <input class="armour-value" type="text" name="system.armour.otherProtection" title="Energy"
               value="{{system.armour.otherProtection}}" readonly data-dtype="Number"/>
      </div>
      <input type="text" name="system.armour.otherTypes" title="Energy types" class="grid-span-3"
             value="{{system.armour.otherTypes}}" readonly data-dtype="String"/>
      {{/if}}
    </div>
  </div>
{{/if}}

{{#if activeWeapons}}
  <div class="side-panel character-attacks shadow">
    <label class="box-title">{{localize 'MGT2.TravellerSheet.Attacks'}}</label>

    <div class="inset">
      <ol class="items-list">
        {{#each items as |item id|}}
          {{#if item.system.weapon}}
            {{#if (isItemEquipped item)}}
              <li class="item active-weapon" data-item-id="{{item._id}}" title="{{item.name}} ({{item.system.weapon.damage}})">
                <label class="weapon-name">{{item.name}}</label>
                <a class="rollable" data-roll-type="item">
                  <img src="{{item.img}}" title="{{item.name}}" width="40" height="40"/>
                </a>

                <span>{{item.system.weapon.damage}}</span>
                {{#if item.system.weapon.magazine includeZero=false}}
                  <span>{{item.system.weapon.ammo}}/{{item.system.weapon.magazine}}</span>
                {{/if}}
                <br/>
                {{#if item.system.weapon.magazine includeZero=false}}
                  {{#if item.system.weapon.ammo includeZero=false}}
                    <a class="item-attack rollable" data-roll-type="item" title="Attack">Attack</a>
                  {{else}}
                    <a class="item-reload" data-roll-type="item" title="Reload">Reload</a>
                  {{/if}}
                {{else}}
                  <a class="item-attack rollable" data-roll-type="item" title="Attack">Attack</a>
                {{/if}}
                <a class="item-edit">Edit</a>
                <br/>
              </li>
            {{/if}}
          {{/if}}
        {{/each}}
      </ol>
    </div>
  </div>
{{/if}}