
{{#if system.characteristics}}
    <div class="skill-options">
        <input class="trained" type="checkbox" name="system.settings.hideUntrained"
               {{checked system.settings.hideUntrained}} data-dtype="Boolean" />
        <label for="system.settings.hideUntrained">{{localize 'MGT2.TravellerSheet.TrainedOnly'}}</label>
        <input class="trained" type="checkbox" name="system.settings.onlyBackground"
               {{checked system.settings.onlyBackground}} data-dtype="Boolean" />
        <label for="system.settings.onlyBackground">{{localize 'MGT2.TravellerSheet.BackgroundOnly'}}</label>
        {{#if system.characteristics}}
        <b>|</b>
        <input class="trained" type="text" name="system.modifiers.encumbrance.dm" value="{{system.modifiers.encumbrance.dm}}" readonly/>
        <label for="system.modifiers.encumbrance.dm">{{localize 'MGT2.TravellerSheet.EncumbrancePenalty'}}</label>
        <b>|</b>
        <input class="trained" type="text" name="system.modifiers.physical.dm" value="{{system.modifiers.physical.dm}}" readonly/>
        <label for="system.modifiers.physical.dm">{{localize 'MGT2.TravellerSheet.PhysicalPenalty'}}</label>
        {{/if}}

        {{#if system.settings.hideUntrained}}
            <label class="skill-label rollable roll-untrained" data-rolltype="skill" data-skill="untrained" data-roll="2d6">{{localize 'MGT2.TravellerSheet.RollUntrained'}}</label>
        {{/if}}
    </div>
    <hr/>
{{/if}}

<section class="{{skillListClasses}}">
    {{#each SKILLS as |skill key|}}
        {{{skillBlock ../system skill.id skill}}}
    {{/each}}
</section>
