<h2>{{localize 'MGT2.History.CareerTerms'}}</h2>

<div class="resources grid grid-5col">
    <div class="resource flex-group-center" title="{{localize 'MGT2.TravellerSheet.CurrentYear.Title'}}">
        <label for="system.currentYear" class="resource-label">{{localize 'MGT2.TravellerSheet.CurrentYear.Label'}}</label><br/>
        <input type="text" name="system.currentYear" value="{{currentYear}}"
               data-dtype="Number" readonly/>
    </div>
    <div class="resource flex-group-center" title="{{localize 'MGT2.TravellerSheet.StartAge.Title'}}">
        <label for="system.startAge" class="resource-label">{{localize 'MGT2.TravellerSheet.StartAge.Label'}}</label><br/>
        <input type="text" name="system.startAge" value="{{system.startAge}}"
               data-dtype="Number" class="input-value"/>
    </div>
    <div class="resource flex-group-center" title="{{localize 'MGT2.TravellerSheet.EntryYear.Title'}}">
        <label for="system.entryYear" class="resource-label">{{localize 'MGT2.TravellerSheet.EntryYear.Label'}}</label><br/>
        <input type="text" name="system.entryYear" value="{{system.entryYear}}"
               data-dtype="Number" class="input-value"/>
    </div>
    <div class="resource flex-group-center" title="{{localize 'MGT2.TravellerSheet.EntryAge.Title'}}">
        <label for="system.entryAge" class="resource-label">{{localize 'MGT2.TravellerSheet.EntryAge.Label'}}</label><br/>
        <input type="text" name="system.entryAge" value="{{system.entryAge}}"
               data-dtype="Number" readonly/>
    </div>
    <div class="resource flex-group-center" title="{{localize 'MGT2.TravellerSheet.YearBorn.Title'}}">
        <label for="system.birthYear" class="resource-label">{{localize 'MGT2.TravellerSheet.YearBorn.Label'}}</label><br/>
        <input type="text" name="system.birthYear" value="{{system.birthYear}}"
               data-dtype="Number" readonly/>
    </div>
</div>

<ol class="history-list">
    <li class="item flexrow history-header">
        <div class="history-number">{{localize 'MGT2.History.Year'}}</div>
        <div class="history-name">{{localize 'MGT2.History.Career'}}</div>
        <div class="history-notes">{{localize 'MGT2.History.Notes'}}</div>
        <div class="item-controls">
            <a class="item-control item-create" title="Create term" data-name="Term" data-type="term"><i class="fas fa-plus"></i> {{localize 'TRAVELLER.Add'}}</a>
        </div>
    </li>
    {{#each terms as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="history-number">
                <label class="resource-label">{{item.system.term.startYear}}</label>
            </div>

            <div class="history-name">
                <label class="resource-label">{{item.name}}</label>
            </div>

            <div class="history-notes">
                {{toPlainText item.system.description}}
            </div>

            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
    {{/each}}
</ol>

<h2>{{localize 'MGT2.History.Associates'}}</h2>

<p>
    {{localize 'MGT2.History.AssociatesText'}}
</p>
<p>
    <label class="item-create add-associate" data-type="associate" data-relation="contact"><i class="fas fa-plus"></i> {{localize 'MGT2.History.Relation.contact'}}</label>
    <label class="item-create add-associate" data-type="associate" data-relation="ally"><i class="fas fa-plus"></i> {{localize 'MGT2.History.Relation.ally'}}</label>
    <label class="item-create add-associate" data-type="associate" data-relation="rival"><i class="fas fa-plus"></i> {{localize 'MGT2.History.Relation.rival'}}</label>
    <label class="item-create add-associate" data-type="associate" data-relation="enemy"><i class="fas fa-plus"></i> {{localize 'MGT2.History.Relation.enemy'}}</label>
</p>

<ol class="history-list">
    <li class="item flexrow history-header">
        <div class="history-relation">{{localize 'MGT2.History.RelationHeader'}}</div>
        <div class="history-name">{{localize 'MGT2.History.Name'}}</div>
        <div class="history-notes">{{localize 'MGT2.History.Notes'}}</div>
        <div class="item-controls">

        </div>
    </li>
    {{#each associates as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="history-relation">
                <label class="resource-label">{{localize (concat 'MGT2.History.Relation.' item.system.associate.relationship)}}</label>
            </div>

            <div class="history-name">
                <label class="resource-label">{{item.name}}</label>
            </div>

            <div class="history-notes">
                {{toPlainText item.system.description}}
            </div>

            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
    {{/each}}
</ol>
