
{{#if coreItems}}
    <h3>Ship Core</h3>
    <ol class="items-list actor-items grid grid-3col">
        {{#each coreItems as |item id|}}
        <li class="item item-gear item-status-{{item.system.status}}" data-item-id="{{item._id}}">
            <h4 title="{{nameQuantity item}}">{{nameQuantity item}}</h4>
            <img title="{{nameQuantity item}}" src="{{item.img}}"/>
            {{#if item.system.hardware.tons  includeZero=false}}
            <span>{{quantity item item.system.hardware.tons}}dT</span>
            {{/if}}
            {{#if item.system.tl includeZero=false}}
            <span>TL {{item.system.tl}}</span>
            {{/if}}
            {{#if item.system.cost includeZero=false}}
            <span>MCr{{quantity item item.system.cost}}</span>
            {{/if}}
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
            {{#if item.system.hardware.armouredBulkhead}}
                <span class="armoured-bulkhead">ARMOURED</span>
            {{/if}}
        </li>
        {{/each}}
    </ol>
{{/if}}

{{#if bridgeItems}}
<h3>Bridge and Electronics</h3>
<ol class="items-list actor-items grid grid-3col">
    {{#each bridgeItems as |item id|}}
    <li class="item item-gear item-status-{{item.system.status}}" data-item-id="{{item._id}}">
        <h4 title="{{nameQuantity item}}">{{nameQuantity item}}</h4>
        <img title="{{nameQuantity item}}" src="{{item.img}}"/>
        {{#if item.system.hardware.tons  includeZero=false}}
        <span>{{quantity item item.system.hardware.tons}}dT</span>
        {{/if}}
        {{#if item.system.tl includeZero=false}}
        <span>TL {{item.system.tl}}</span>
        {{/if}}
        {{#if item.system.cost includeZero=false}}
        <span>MCr{{quantity item item.system.cost}}</span>
        {{/if}}
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
        {{#if item.system.hardware.armouredBulkhead}}
            <span class="armoured-bulkhead">ARMOURED</span>
        {{/if}}
    </li>
    {{/each}}
</ol>
{{/if}}

{{#if weaponItems}}
<h3>Weapons</h3>
<ol class="items-list actor-items grid grid-3col">
    {{#each weaponItems as |item id|}}
    <li class="item item-gear item-status-{{item.system.status}}" data-item-id="{{item._id}}">
        <h4 title="{{nameQuantity item}}">{{nameQuantity item}}</h4>
        <img title="{{nameQuantity item}}" src="{{item.img}}"/>
        {{#if item.system.hardware.tons  includeZero=false}}
        <span>{{quantity item item.system.hardware.tons}}dT</span>
        {{/if}}
        {{#if item.system.tl includeZero=false}}
        <span>TL {{item.system.tl}}</span>
        {{/if}}
        {{#if item.system.cost includeZero=false}}
        <span>MCr{{quantity item item.system.cost}}</span>
        {{/if}}
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
        {{#if item.system.hardware.armouredBulkhead}}
            <span class="armoured-bulkhead">ARMOURED</span>
        {{/if}}
    </li>
    {{/each}}
</ol>
{{/if}}


{{#if generalItems}}
<h3>Systems</h3>
<ol class="items-list actor-items grid grid-3col">
    {{#each generalItems as |item id|}}
    <li class="item item-gear item-status-{{item.system.status}}" data-item-id="{{item._id}}">
        <h4 title="{{nameQuantity item}}">{{nameQuantity item}}</h4>
        <img title="{{nameQuantity item}}" src="{{item.img}}"/>
        {{#if item.system.hardware.tons  includeZero=false}}
        <span>{{quantity item item.system.hardware.tons}}dT</span>
        {{/if}}
        {{#if item.system.tl includeZero=false}}
        <span>TL {{item.system.tl}}</span>
        {{/if}}
        {{#if item.system.cost includeZero=false}}
        <span>MCr{{quantity item item.system.cost}}</span>
        {{/if}}
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
        {{#if item.system.hardware.armouredBulkhead}}
            <span class="armoured-bulkhead">ARMOURED</span>
        {{/if}}
    </li>
    {{/each}}
</ol>
{{/if}}

{{#if livingItems}}
<h3>Living Quarters</h3>
<ol class="items-list actor-items grid grid-3col">
    {{#each livingItems as |item id|}}
    <li class="item item-gear item-status-{{item.system.status}}" data-item-id="{{item._id}}">
        <h4 title="{{nameQuantity item}}">{{nameQuantity item}}</h4>
        <img title="{{nameQuantity item}}" src="{{item.img}}"/>
        {{#if item.system.hardware.tons  includeZero=false}}
        <span>{{quantity item item.system.hardware.tons}}dT</span>
        {{/if}}
        {{#if item.system.tl includeZero=false}}
        <span>TL {{item.system.tl}}</span>
        {{/if}}
        {{#if item.system.cost includeZero=false}}
        <span>MCr{{quantity item item.system.cost}}</span>
        {{/if}}
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
        {{#if item.system.hardware.armouredBulkhead}}
            <span class="armoured-bulkhead">ARMOURED</span>
        {{/if}}
    </li>
    {{/each}}
</ol>
{{/if}}

{{#if cargoItems}}
<h3>Cargo</h3>
<ol class="items-list actor-items grid grid-3col">
    {{#each cargoItems as |item id|}}
    <li class="item item-gear item-status-{{item.system.status}}" data-item-id="{{item._id}}">
        <h4 title="{{nameQuantity item}}">{{nameQuantity item}}</h4>
        <img title="{{nameQuantity item}}" src="{{item.img}}"/>
        {{#if item.system.hardware.tons  includeZero=false}}
        <span>{{quantity item item.system.hardware.tons}}dT</span>
        {{/if}}
        {{#if item.system.tl includeZero=false}}
        <span>TL {{item.system.tl}}</span>
        {{/if}}
        {{#if item.system.cost includeZero=false}}
        <span>MCr{{quantity item item.system.cost}}</span>
        {{/if}}
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
        {{#if item.system.hardware.armouredBulkhead}}
            <span class="armoured-bulkhead">ARMOURED</span>
        {{/if}}
    </li>
    {{/each}}
</ol>
{{/if}}
