<section>
    <div class="resources grid grid-4col">
        <div class="resource flex-group-center">
            <label for="system.totalSkills" class="resource-label">Skills Learned</label>
            <input type="text" name="system.totalSkills" value="{{system.totalSkills}}"
                   data-dtype="Number" readonly/>
        </div>
        <div class="resource flex-group-center">
            <label for="system.maxSkills" class="resource-label">Max Skills</label>
            <input type="text" name="system.maxSkills" value="{{system.maxSkills}}"
                   data-dtype="Number"/>
        </div>
        <div>
            <label for="system.settings.columns" class="resource-label">Characteristics</label><br/>
            <select name="system.settings.columns">
                {{selectOptions selectColumns selected=system.settings.columns}}
            </select>
        </div>
        <div class="resource flex-group-left">
            <input type="checkbox" name="system.settings.autoAge" {{checked system.settings.autoAge}} data-dtype="Boolean" />
            <label for="system.settings.autoAge" class="resource-label">{{localize 'MGT2.TravellerSheet.AutoAge'}}</label>
            <br/>
            <input type="checkbox" name="system.settings.lockCharacteristics" {{checked system.settings.lockCharacteristics}} data-dtype="Boolean" />
            <label for="system.settings.lockCharacteristics" class="resource-label">{{localize 'MGT2.TravellerSheet.LockUPP'}}</label>
            <br/>
            {{#if (ifEquals actor.type "npc")}}
            <br/>
            <input type="checkbox" name="system.settings.autoHits" {{checked system.settings.autoHits}} data-dtype="Boolean" />
            <label for="system.settings.autoHits" class="resource-label">{{localize 'MGT2.TravellerSheet.AutoHits'}}</label>
            {{/if}}
        </div>
        <div class="resource flex-group-center">
            <br/>
            <span name="addNewSkill" class="addNewSkill item">+Add New Skill</span>
        </div>
    </div>
    <h3>Encumbrance DM</h3>
    <div class="resources grid grid-4col">
        <div class="resource flex-group-center">
            <label for="system.modifiers.encumbrance.custom" class="resource-label">Custom</label>
            <input type="text" name="system.modifiers.encumbrance.custom" value="{{system.modifiers.encumbrance.custom}}"
                   data-dtype="Number" class="characteristic-value"/>
        </div>
        <div class="resource flex-group-center">
            <label for="system.modifiers.encumbrance.auto" class="resource-label">Auto</label>
            <input type="text" name="system.modifiers.encumbrance.auto" value="{{system.modifiers.encumbrance.auto}}"
                   data-dtype="Number" class="characteristic-readonly" readonly/>
        </div>
        <div class="resource flex-group-center">
            <label for="system.modifiers.encumbrance.effect" class="resource-label">From Items</label>
            <input type="text" name="system.modifiers.encumbrance.effect" value="{{system.modifiers.encumbrance.effect}}"
                   data-dtype="Number" class="characteristic-readonly" readonly/>
        </div>
        <div class="resource flex-group-center">
            <label for="system.modifiers.encumbrance.dm" class="resource-label">Total DM</label>
            <input type="text" name="system.modifiers.encumbrance.dm" value="{{system.modifiers.encumbrance.dm}}"
                   data-dtype="Number" class="characteristic-readonly" readonly/>
        </div>
    </div>
    <h3>Physical DM</h3>
    <div class="resources grid grid-4col">
        <div class="resource flex-group-center">
            <label for="system.modifiers.physical.custom" class="resource-label">Custom</label>
            <input type="text" name="system.modifiers.physical.custom" value="{{system.modifiers.physical.custom}}"
                   data-dtype="Number" class="characteristic-value"/>
        </div>
        <div class="resource flex-group-center">
            <label for="system.modifiers.physical.auto" class="resource-label">Auto</label>
            <input type="text" name="system.modifiers.physical.auto" value="{{system.modifiers.physical.auto}}"
                   data-dtype="Number" class="characteristic-readonly" readonly/>
        </div>
        <div class="resource flex-group-center">
            <label for="system.modifiers.physical.effect" class="resource-label">From Items</label>
            <input type="text" name="system.modifiers.physical.effect" value="{{system.modifiers.physical.effect}}"
                   data-dtype="Number" class="characteristic-readonly" readonly/>
        </div>
        <div class="resource flex-group-center">
            <label for="system.modifiers.physical.dm" class="resource-label">Total DM</label>
            <input type="text" name="system.modifiers.physical.dm" value="{{system.modifiers.physical.dm}}"
                   data-dtype="Number" class="characteristic-readonly" readonly/>
        </div>
    </div>
    <h3>Melee DM</h3>
    <div class="resources grid grid-4col">
        <div class="resource flex-group-center">
            <label for="system.modifiers.melee.custom" class="resource-label">Custom</label>
            <input type="text" name="system.modifiers.melee.custom" value="{{system.modifiers.melee.custom}}"
                   data-dtype="Number" class="characteristic-value"/>
        </div>
        <div class="resource flex-group-center">
            <label for="system.modifiers.melee.auto" class="resource-label">Auto</label>
            <input type="text" name="system.modifiers.melee.auto" value="{{system.modifiers.melee.auto}}"
                   data-dtype="Number" class="characteristic-readonly" readonly/>
        </div>
        <div class="resource flex-group-center">
            <label for="system.modifiers.melee.effect" class="resource-label">From Items</label>
            <input type="text" name="system.modifiers.melee.effect" value="{{system.modifiers.melee.effect}}"
                   data-dtype="Number" class="characteristic-readonly" readonly/>
        </div>
        <div class="resource flex-group-center">
            <label for="system.modifiers.melee.dm" class="resource-label">Total DM</label>
            <input type="text" name="system.modifiers.melee.dm" value="{{system.modifiers.melee.dm}}"
                   data-dtype="Number" class="characteristic-readonly" readonly/>
        </div>
    </div>
    <h3>Gun Combat DM</h3>
    <div class="resources grid grid-4col">
        <div class="resource flex-group-center">
            <label for="system.modifiers.guncombat.custom" class="resource-label">Custom</label>
            <input type="text" name="system.modifiers.guncombat.custom" value="{{system.modifiers.guncombat.custom}}"
                   data-dtype="Number" class="characteristic-value"/>
        </div>
        <div class="resource flex-group-center">
            <label for="system.modifiers.guncombat.auto" class="resource-label">Auto</label>
            <input type="text" name="system.modifiers.guncombat.auto" value="{{system.modifiers.guncombat.auto}}"
                   data-dtype="Number" class="characteristic-readonly" readonly/>
        </div>
        <div class="resource flex-group-center">
            <label for="system.modifiers.guncombat.effect" class="resource-label">From Items</label>
            <input type="text" name="system.modifiers.guncombat.effect" value="{{system.modifiers.guncombat.effect}}"
                   data-dtype="Number" class="characteristic-readonly" readonly/>
        </div>
        <div class="resource flex-group-center">
            <label for="system.modifiers.guncombat.dm" class="resource-label">Total DM</label>
            <input type="text" name="system.modifiers.guncombat.dm" value="{{system.modifiers.guncombat.dm}}"
                   data-dtype="Number" class="characteristic-readonly" readonly/>
        </div>
    </div>

</section>
<br/>
<h3>Display Characteristics</h3>
<section class="resources grid grid-3col">
    {{#each system.characteristics as | char key | }}
    <div class="resource flex-group-left">
        <input type="checkbox" name="system.characteristics.{{key}}.show" {{checked char.show}} data-dtype="Boolean" />
        <label for="system.characteristics.{{key}}.value" title="{{localize (concat 'MGT2.Characteristics.' key) }}">{{key}}</label>
    </div>
    {{/each}}
</section>
