
<div class="grid grid-3col">
    <div class="resource flex-group-center">
        <label class="field-label">Heavy Load</label>
        <input class="field-value" type="text" value="{{system.heavyLoad}}kg" readonly/>
    </div>
    <div class="resource flex-group-center">
        <label class="field-label">Max Load</label>
        <input class="field-value" type="text" value="{{system.maxLoad}}kg" readonly/>
    </div>

    <div class="resource flex-group-center">
        <label class="field-label">Weight Carried</label>
        <input class="field-value" type="text" value="{{system.weightCarried}}kg" readonly/>
    </div>

</div>

<hr/>

<h2>Items in use</h2>

<ol class="items-list actor-items grid grid-3col">
    {{#each items as |item id|}}
        {{#if (isItemEquipped item)}}
            <li class="item item-{{item.type}} {{item.cssStyle}}" data-item-id="{{item._id}}">
                <h4 title="{{nameQuantity item}}">{{nameQuantity item}}</h4>
                <img title="{{nameQuantity item}}" src="{{item.img}}"/>
                {{#if item.system.armour}}
                <label>Prot:</label> <span>{{formula ../actor item.system.armour.protection}}</span><br/>
                {{/if}}
                {{#if item.system.weapon}}
                <label>Dmg:</label> <span>{{item.system.weapon.damage}}</span><br/>
                {{/if}}
                {{#if item.system.weight  includeZero=false}}
                    <span>{{item.system.weight}}kg</span>
                {{/if}}
                {{#if (isOwner ..)}}
                    <div class="item-controls">
                        {{{carryItem item}}}
                        {{{storeItem item}}}
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                {{/if}}
            </li>
        {{/if}}
    {{/each}}
    <li></li>
</ol>

<h2>Items Carried</h2>

<ol class="items-list actor-items grid grid-3col">
    {{#each items as |item id|}}
        {{#if (isItemCarried item)}}
            <li class="item item-{{item.type}}" data-item-id="{{item._id}}">
                <h4 title="{{nameQuantity item}}">{{nameQuantity item}}</h4>
                <img title="{{nameQuantity item}}" src="{{item.img}}"/>
                {{#if item.system.armour}}
                <label>Prot:</label> <span>{{formula ../actor item.system.armour.protection}}</span><br/>
                {{/if}}
                {{#if item.system.weapon}}
                <label>Dmg:</label> <span>{{item.system.weapon.damage}}</span><br/>
                {{/if}}
                {{#if item.system.weight  includeZero=false}}
                    <span>{{item.system.weight}}kg</span>
                {{/if}}
                {{#if (isOwner ..)}}
                    <div class="item-controls">
                        {{{equipItem item}}}
                        {{{storeItem item}}}
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                {{/if}}
            </li>
        {{/if}}
    {{/each}}
    <li></li>
</ol>

<h2>Items Owned</h2>

<ol class="items-list actor-items grid grid-3col">
    {{#each items as |item id|}}
        {{#if (isItemOwned item)}}
            <li class="item item-{{item.type}}" data-item-id="{{item._id}}">
                <h4 title="{{nameQuantity item}}">{{nameQuantity item}}</h4>
                <img title="{{nameQuantity item}}" src="{{item.img}}"/>
                {{#if item.system.armour}}
                    <label>Prot:</label> <span>{{formula ../actor item.system.armour.protection}}</span><br/>
                {{/if}}
                {{#if item.system.weapon}}
                    <label>Dmg:</label> <span>{{item.system.weapon.damage}}</span><br/>
                {{/if}}
                {{#if item.system.weight  includeZero=false}}
                    <span>{{item.system.weight}}kg</span>
                {{/if}}
                {{#if (isOwner ..)}}
                    <div class="item-controls">
                        {{{equipItem item}}}
                        {{{carryItem item}}}
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                {{/if}}
            </li>
        {{/if}}
    {{/each}}
    <li></li>
</ol>

