<form autocomplete="off">

    <!-- Effect Header -->
    <header class="sheet-header shadow">
        <h1 class="effect-title">
            <input type="text" name="label" value="{{ data.name }}"/>
        </h1>
    </header>

    <section>
        <div class="shadow">
            <div class="form-group">
                <label>{{ localize "EFFECT.Disabled" }}</label>
                <input type="checkbox" name="disabled" {{ checked data.disabled }}/>
            </div>
            {{#if isActorEffect}}
            <div class="form-group">
                <label>{{ localize "EFFECT.Origin" }}</label>
                <div class="form-fields">
                    <input type="text" name="origin" value="{{ data.origin }}" disabled/>
                </div>
            </div>
            {{/if}}

            {{#if isItemEffect}}
            <div class="form-group">
                <label>{{ localize "EFFECT.Transfer" }}</label>
                <div class="form-fields">
                    <input type="checkbox" name="transfer" {{checked data.transfer}}/>
                </div>
            </div>
            {{/if}}

            <div class="form-group">
                <label>Type</label>
                <div class="form-fields">
                    {{localize (concat 'MGT2.Effects.Type.' data.flags.augmentType)}}
                </div>
            </div>
        </div>

        <div class="shadow">
            <header class="effect-change effects-header flexrow">
                <div class="key">{{ localize "EFFECT.ChangeKey" }}</div>
                <div class="mode">{{ localize "EFFECT.ChangeMode" }}</div>
                <div class="value">{{ localize "EFFECT.ChangeValue" }}</div>
                <div class="effect-controls">
                    <a class="effect-control" data-action="add"><i class="far fa-plus-square"></i></a>
                </div>
            </header>
            <ol class="changes-list">
                {{#each data.changes as |change i|}}
                <li class="effect-change flexrow" data-index="{{i}}">
                    <div class="key">
                        <select name="changes.{{i}}.key">
                            {{#select change.key}}
                                {{#each ../targets as |t id|}}
                                <option value="{{id}}">{{t.label}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>

                    <div class="active-effecode">
                        <select name="changes.{{i}}.mode" data-dtype="Number">
                            {{selectOptions ../modes selected=change.mode}}
                        </select>
                    </div>

                    <!-- <input type="hidden" name="changes.{{i}}.mode" value="0"/> -->
                    <div class="value">
                        <input type="text" name="changes.{{i}}.value" value="{{change.value}}"/>
                    </div>
                    <div class="effect-controls">
                        <a class="effect-control" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>

        </div>
    </section>


    <footer class="sheet-footer">
        <button type="submit"><i class="fas fa-save"></i> {{localize submitText}}</button>
    </footer>
</form>