<form class="flexcol add-skill-dialog">

    <div class="grid grid-2col">
        <div class="resource grid-span-2">
            <label for="label" class="resource-label">{{localize 'MGT2.EditSkill.SkillName'}}</label>
            <input class="skillLabelField writable" name="label" type="text"
                   data-dtype="String" value="{{label}}" title="{{localize 'MGT2.EditSkill.SkillNameDesc'}}"/>
        </div>

        <div class="resource">
            <label for="shortname" class="resource-label">{{localize 'MGT2.EditSkill.ShortName'}}</label>
            <input class="skillShortNameField" name="shortname" type="text"
                   data-dtype="String" value="{{shortName}}"
                   title="{{localize 'MGT2.EditSkill.ShortNameDesc'}}"
                   {{#if isEdit}}readonly{{/if}}
            />
        </div>

        <div class="resource">
            <div class="parent-skill">
                <label for="parentSkill" class="resource-label">Specialisation of</label><br/>
                {{#if isEdit}}
                <input class="skillParentSelect" name="parentSkill" type="text"
                       data-dtype="String" value="{{parentLabel}}" readonly />
                {{else}}
                <select class="skillParentSelect" name="parentSkill">
                    {{#select parent}}
                    <option value="">None</option>
                    {{#each data.skills as |skill id|}}
                        <option value="{{id}}">
                            {{#if skill.label}}
                                {{skill.label}}
                            {{else}}
                                {{localize (concat 'MGT2.Skills.' skill.id)}}
                            {{/if}}
                        </option>
                    {{/each}}
                    {{/select}}
                </select>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="characteristic-selection">
        <label for="default" class="resource-label">Default Characteristic</label>
        <select class="skillDefaultSelect" name="default">
            {{#select default}}
                {{#each data.characteristics as |char id|}}
                    <option value="{{id}}">{{id}}</option>
                {{/each}}
            {{/select}}
        </select>
        <br/>
    </div>

    <div>
        <label for="combat" class="skillDialogLabel">Combat</label>
        <input type="checkbox" name="combat" class="skillCombatToggle" value="{{combat}}"/>
    </div>
    <div>
        <label for="background" class="skillDialogLabel">Background</label>
        <input type="checkbox" name="background" class="skillBackgroundToggle" value="{{background}}"/>
    </div>

    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit" class="addNewSkill">Save</button>
        {{#if isEdit}}
            <button type="submit" name="submit" class="deleteSkill">Delete</button>
        {{/if}}
    </footer>

</form>
