<form class="flexcol chaDialog">

<div class="shadow">
        <div>
            <p>
                Characteristics which are shown as damage.
            </p>
            <ol>
                <li class="always">STR <i class="fa-solid fa-check"></i></li>
                <li class="always">DEX <i class="fa-solid fa-check"></i></li>
                <li class="always">END <i class="fa-solid fa-check"></i></li>
            {{#each LIST as |cha name|}}
                <li class="chaItem cha-{{name}}" data-id="{{name}}">
                    {{name}}
                    {{#if cha.hasDamage}}
                        <i class="fa-solid fa-check"></i>
                    {{/if}}
                </li>
            {{/each}}
            </ol>
        </div>
    </div>

</form>
