<form class="flexcol skilldialog">

    <div class="shadow">
        <h3 class="skill-dialog-title">
            How many items to move?
        </h3>

        <div>
            <label for="quantity" class="skillDialogLabel">How many? </label>
            <select class="quantity" name="quantity">
                {{#select "one"}}
                    <option value="one">One item</option>
                    {{#if half}}
                        <option value="half">Half ({{half}})</option>
                    {{/if}}
                    <option value="all">All items ({{max}})</option>
                    <option value="custom">Custom</option>
                {{/select}}
            </select>
            <br/>

            <label for="number" class="skillDialogLabel">Custom</label>

            <div class="incdec">
                <span class="quantity-dec"><i class="fa-regular fa-square-minus"></i></span>
                <input class="number" type="text" name="number" value="{{transferNumber}}" data-dtype="Number"/>
                <span class="quantity-inc"><i class="fa-regular fa-square-plus"></i></span>
            </div>
        </div>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit" class="save">Save <i class="fas fa-dice"></i></button>
    </footer>

</form>
