<form class="flexcol skilldialog">

    <div class="shadow">
        {{#if showEdit}}
            <span class="edit-skill">Edit</span>
        {{/if}}

        <h3 class="skill-dialog-title">
            {{#if chaOnly}}
                {{characteristic}}
            {{else}}
                {{#if showCha}}
                    <select class="skillDialogCha" name="characteristic">
                        {{#select characteristic}}
                            {{#each data.characteristics as |char id|}}
                                {{#if char.show}}
                                    <option value="{{id}}">{{id}} ({{char.dm}})</option>
                                {{/if}}
                            {{/each}}
                        {{/select}}
                    </select>
                    <span> + </span>
                {{/if}}
                {{#if spec}}
                    {{skillText}}
                    {{#if spec.augmented}}
                        [{{spec.augmented}}<sup>*</sup>]
                    {{else}}
                        [{{value}}]
                    {{/if}}
                {{else}}
                    {{#if skill}}
                        {{skillText}} [{{value}}]
                    {{else}}
                        <i>untrained</i> [{{value}}]
                    {{/if}}
                {{/if}}
            {{/if}}
        </h3>


        {{#if showCha}}
            <label class="skillDialogRemember">
                <input class="rememberChaCheck" type="checkbox" name="remember" value="false"/>
                <span>Remember characteristic</span>
            </label>
        {{/if}}

        {{{augmentedSkill skill spec}}}

        {{#if physicalDM includeZero=false}}
            <p>
                Physical DM {{physicalDM}}
            </p>
        {{/if}}

        <div class="grid grid-4col">
            <div class="skill-boon">
                <label for="dicetype" class="skillDialogLabel">Roll Type</label>
                <br/>
                <select class="skillDialogRollType" name="dicetype">
                    {{#select boonBane}}
                    <option value="normal">Normal</option>
                    <option value="boon">Boon</option>
                    <option value="bane">Bane</option>
                    {{/select}}
                </select>
            </div>

            <div class="skill-difficulty grid-span-2">
                <label for="difficulty" class="skillDialogLabel">Difficulty</label>
                <br/>
                <select class="skillDialogDifficulty" name="difficulty">
                    {{#select target}}
                    <option value="2">Simple (2+)</option>
                    <option value="4">Easy (4+)</option>
                    <option value="6">Routine (6+)</option>
                    <option value="8">Average (8+)</option>
                    <option value="10">Difficult (10+)</option>
                    <option value="12">Very Difficult (12+)</option>
                    <option value="14">Formidable (14+)</option>
                    <option value="16">Impossible (16+)</option>
                    {{/select}}
                </select>
            </div>

            <div class="skill-dm">
                <label for="dm" class="skillDialogLabel">DM</label>
                <br/>
                <input class="skillDialogDM" name="dm" type="text" data-dtype="Number" value="{{dm}}"/>
            </div>
        </div>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit" class="skillRoll">Roll <i class="fas fa-dice"></i></button>
    </footer>

</form>
