<form class="flexcol transferCargoDialog">

    <div>
        {{#if speculative}}
            <h2>{{item.name}}</h2>
            <p>Good luck with that!</p>
        {{else}}
            <h2>Freight Contract</h2>

            <p>
                <b>Destination World: </b> {{destination.name}}
            </p>
            <p>
                <b>Expected Payment: </b> Cr{{cargo.price}}
            </p>
        {{/if}}

        <div>

            <br/>

        </div>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit" class="save">Accept</button>
    </footer>

</form>
