<form class="flexcol xpdialog">

    <div class="shadow">
        {{#if showEdit}}
            <span class="edit-skill">Edit</span>
        {{/if}}
        <h3 class="skill-dialog-title">
                {{#if spec}}
                    {{skill.label}} ({{spec.label}})
                    {{#if spec.augmented}}
                        [{{spec.augmented}}<sup>*</sup>]
                    {{else}}
                        [{{value}}]
                    {{/if}}
                {{else}}
                    {{#if skill}}
                        {{skill.label}} [{{value}}]
                    {{else}}
                        <i>untrained</i> [{{value}}]
                    {{/if}}
                {{/if}}
        </h3>

        <div class="grid grid-4col">
            <div class="xpgrid resource">
                <label for="dicetype" class="skillDialogLabel">Level</label>
                <br/>
                <span>{{value}}</span>
            </div>

            <div class="xpgrid resource">
                <label for="difficulty" class="skillDialogLabel">Cost</label>
                <br/>
                <span>{{cost}}</span>
            </div>

            <div class="xpgrid resource">
                <label for="xp" class="skillDialogLabel">XP</label>
                <br/>
                <input class="skillXPxp writable" name="xp" type="text" data-dtype="Number" value="{{xp}}"/>
            </div>
            <div class="resource"></div>
            <div class="resource grid-4col">
                <label for="study" class="skillDialogLabel">Study Notes</label>
                <br/>
                <input class="skillXPstudy writable" name="study" type="text" data-dtype="String" value="{{study}}"/>
            </div>
        </div>

        <div class="grid grid-4col">
            <div class="resource">
                <label for="bonus" class="skillDialogLabel">Bonus DM</label>
                <br/>
                <input class="skillXPbonus writable" name="bonus" type="text" data-dtype="Number" value="{{bonus}}"/>
            </div>

            <div class="resource">
                <label for="boon" class="skillDialogLabel">Boon</label>
                <br/>
                <select class="skillXPboon" name="boon">
                    {{#select boon}}
                    <option value="">Standard</option>
                    <option value="boon">Boon</option>
                    <option value="bane">Bane</option>
                    {{/select}}
                </select>
            </div>
        </div>

        <div class="grid grid-4col">

            <div class="skill-bonus grid-span-4 resource">
                <label for="notes" class="skillDialogLabel">Skill notes</label>
                <br/>
                <input class="skillXPnotes writable" name="notes" type="text" data-dtype="String" value="{{notes}}"/>
            </div>
        </div>
        <h3>Effects</h3>
        <div class="grid grid-4col">
            {{#if spec}}
                <div class="xpgrid">
                    <label class="skillDialogLabel">DM</label>
                    <br/>
                    <input class="augdm" readonly name="spec.dm" type="text" data-dtype="Number" value="{{spec.augdm}}"/>
                </div>
                <div class="xpgrid">
                    <label class="skillDialogLabel">Aug</label>
                    <br/>
                    <input class="augment" readonly name="spec.augment" type="text" data-dtype="Number" value="{{spec.augment}}"/>
                </div>
                <div class="xpgrid">
                    <label class="skillDialogLabel">Expert</label>
                    <br/>
                    <input class="expert" readonly name="spec.expert" type="text" data-dtype="Number" value="{{spec.expert}}"/>
                </div>
            {{else}}
                <div class="xpgrid">
                    <label class="skillDialogLabel">DM</label>
                    <br/>
                    <input class="augdm" readonly name="skill.dm" type="text" data-dtype="Number" value="{{skill.augdm}}"/>
                </div>
                <div class="xpgrid">
                    <label class="skillDialogLabel">Aug</label>
                    <br/>
                    <input class="augment" readonly name="skill.augment" type="text" data-dtype="Number" value="{{skill.augment}}"/>
                </div>
                <div class="xpgrid">
                    <label class="skillDialogLabel">Expert</label>
                    <br/>
                    <input class="expert" readonly name="skill.expert" type="text" data-dtype="Number" value="{{skill.expert}}"/>
                </div>
            {{/if}}
            <div>
                <br/><span class="clearEffects">Clear</span>
            </div>
        </div>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit" class="save">Save <i class="fas fa-dice"></i></button>
    </footer>

</form>
