<section class="id-card">
    <div class="id-side">
        <img src="{{actor.img}}" data-edit="img"
             title="{{actor.name}}" height="150" width="150"/>

        <div class="info">
            {{#if data.sophont.species}}
            <div class="id-data">
                <h4>{{localize 'MGT2.TravellerSheet.Species'}}</h4>
                <span>{{data.sophont.species}}</span>
            </div>
            {{/if}}
            {{#if data.sophont.gender}}
            <div class="id-data">
                <h4>{{localize 'MGT2.TravellerSheet.Gender'}}</h4>
                <span>{{data.sophont.gender}}</span>
            </div>
            {{/if}}
            {{#if data.sophont.homeworld}}
            <div class="id-data">
                <h4>{{localize 'MGT2.TravellerSheet.HomeWorld'}}</h4>
                <span>{{data.sophont.homeworld}}</span>
            </div>
            {{/if}}
        </div>

    </div>

    <div class="id-card">
        <h1 class="charname shadow">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        </h1>

        <div class="upp">
            <span class="upp">{{toHex data.characteristics.STR.value}}</span>
            <span class="upp">{{toHex data.characteristics.DEX.value}}</span>
            <span class="upp">{{toHex data.characteristics.END.value}}</span>
            <span class="upp">{{toHex data.characteristics.INT.value}}</span>
            <span class="upp">{{toHex data.characteristics.EDU.value}}</span>
            <span class="upp">{{toHex data.characteristics.SOC.value}}</span>

            {{#if data.sophont.profession}}
            <div class="id-data">
                <h4>{{localize 'MGT2.TravellerSheet.Profession'}}</h4>
                <span>{{data.sophont.profession}}</span>
            </div>
            {{/if}}
        </div>
        <div class="card-skills">
            <h4>Qualifiations</h4>
            <span>{{{showSimpleSkills actor}}}</span>
        </div>

        <div class="description">
            {{{actor.system.description}}}
        </div>

    </div>
</section>

