<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    <section class="npc-sheet">
        <div class="character-left">
            <img class="profile-img shadow" src="{{actor.img}}" data-edit="img"
                 title="{{actor.name}}" height="100" width="100"/>

            <div class="side-panel hits-box shadow">
                <label for="data.hits.damage" class="box-title">{{localize 'MGT2.TravellerSheet.Damage'}}</label>

                <div>
                    <label class="left-label">{{localize 'MGT2.TravellerSheet.Damage'}}</label>
                    <input class="characteristic-value" type="number" name="data.hits.damage"
                           title="{{localize 'MGT2.TravellerSheet.DamageTaken'}}"
                           value="{{data.hits.damage}}" data-dtype="Number"/>
                </div>
                <div>
                    <label class="left-label">{{localize 'MGT2.TravellerSheet.HitsRemaining'}}</label>
                    <input class="characteristic-readonly" type="number"
                           title="{{localize 'MGT2.TravellerSheet.HitsRemaining'}}"
                           value="{{data.hits.value}}"/>
                </div>
            </div>

            <div class="side-panel armour-box shadow flex-group-center">
                <label class="box-title">{{localize 'MGT2.TravellerSheet.Armour'}}</label>

                <div>
                    <label class="prot-type" title="Protection">Armour</label>
                    <input class="armour-value" type="text" name="data.armour" title="Armour"
                           value="{{data.armour}}" data-dtype="Number"/>
                </div>
                <div>
                    <label class="prot-type" title="Rad Shielding">Rad Shielding</label>
                    <input class="armour-value" type="text" name="data.radshielding" title="Radiation protection"
                           value="{{data.radshielding}}" data-dtype="Number"/>
                </div>
            </div>
        </div>

        <div class="character-right">
            <h1 class="charname shadow">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            </h1>

            <div class="shadow grid grid-5col">
                <div class="resource flex-group-center">
                    <label for="data.dtons" class="field-label">{{localize 'MGT2.TravellerSheet.DTons'}}</label>
                    <input class="field-value" name="data.dtons" type="text" value="{{data.dtons}}"/>
                </div>
                <div class="resource flex-group-center">
                    <label for="data.hits.max" class="field-label">{{localize 'MGT2.TravellerSheet.MaxHits'}}</label>
                    <input class="field-value" name="data.hits.max" type="text" value="{{data.hits.max}}"/>
                </div>
                <div class="resource flex-group-center">
                    <label for="data.cargo" class="field-label">{{localize 'MGT2.TravellerSheet.CargoHold'}}</label>
                    <input class="field-value" name="data.cargo" type="text" value="{{data.cargo}}"/>
                </div>
                <div class="resource flex-group-center">
                    <label for="data.jdrive" class="field-label">{{localize 'MGT2.TravellerSheet.JDrive'}}</label>
                    <input class="field-value" name="data.jdrive" type="text" value="{{data.jdrive}}"/>
                </div>
                <div class="resource flex-group-center">
                    <label for="data.mdrive" class="field-label">{{localize 'MGT2.TravellerSheet.MDrive'}}</label>
                    <input class="field-value" name="data.mdrive" type="text" value="{{data.mdrive}}"/>
                </div>
                <div class="resource flex-group-center">
                    <label for="data.rdrive" class="field-label">{{localize 'MGT2.TravellerSheet.RDrive'}}</label>
                    <input class="field-value" name="data.rdrive" type="text" value="{{data.rdrive}}"/>
                </div>
                <div class="resource flex-group-center">
                    <label for="data.power.max" class="field-label">{{localize 'MGT2.TravellerSheet.Power'}}</label>
                    <input class="field-value" name="data.power.max" type="text" value="{{data.power.max}}"/>
                </div>
            </div>


            <div class="shadow">
                <nav class="sheet-tabs tabs" data-group="primary">
                    <a class="item" data-tab="locker">{{localize 'MGT2.TravellerSheet.ShipsLocker'}}</a>
                    <a class="item" data-tab="cargo">{{localize 'MGT2.TravellerSheet.CargoHold'}}</a>
                </nav>

                <div class="sheet-body">
                    <div class="tab items" data-tab="locker">
                        <ol class="items-list actor-items grid grid-3col">
                        {{#each locker as |item id|}}
                            <li class="item item-gear" data-item-id="{{item._id}}">
                                <img src="{{item.img}}"/>
                                <h4>{{item.name}}</h4>
                                {{#if item.system.weight  includeZero=false}}
                                <span>{{item.system.weight}}kg</span>
                                {{/if}}
                                {{#if item.system.tl includeZero=false}}
                                <span>TL {{item.system.tl}}</span>
                                {{/if}}
                                {{#if item.system.cost includeZero=false}}
                                <span>Cr{{item.system.cost}}</span>
                                {{/if}}
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                        </ol>
                    </div>

                    <div class="tab items" data-group="primary" data-tab="cargo">

                        <div class="grid grid-3col">
                            <div class="resource flex-group-center">
                                <label class="field-label">{{localize 'MGT2.TravellerSheet.CargoSpace'}}</label>
                                <input class="field-value" type="text" value="{{system.cargo}}dt" readonly/>
                            </div>
                            <div class="resource flex-group-center">
                                <label class="field-label">{{localize 'MGT2.TravellerSheet.CargoUsed'}}</label>
                                <input class="field-value" type="text" value="{{cargoUsed}}dt" readonly/>
                            </div>

                            <div class="resource flex-group-center">
                                <label class="field-label">{{localize 'MGT2.TravellerSheet.CargoRemaining'}}</label>
                                <input class="field-value" type="text" value="{{cargoRemaining}}dt" readonly/>
                            </div>

                        </div>

                        <ol class="items-list actor-items grid grid-3col">
                            {{#each cargo as |item id|}}
                            <li class="item item-gear" data-item-id="{{item._id}}">
                                <img src="{{item.img}}"/>
                                <h4>{{item.name}}</h4>
                                {{#if item.system.quantity  includeZero=false}}
                                <span>{{item.system.quantity}}dt</span>
                                {{/if}}
                                {{#if item.system.cost includeZero=false}}
                                <span>Cr{{item.system.cost}}</span>
                                {{/if}}
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                </div>
            </div>
        </div>


    </section>

</form>

