<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    <section class="creature-sheet">
        <div class="character-left">
            <img class="profile-img shadow" src="{{actor.img}}" data-edit="img"
                 title="{{actor.name}}" height="100" width="100"/>

            <div class="side-panel hits-box shadow">
                <label for="data.hits.max" class="box-title">{{localize 'MGT2.TravellerSheet.Hits'}}</label>
                <input class="characteristic-value" type="number" name="data.hits.value"
                       value="{{data.hits.value}}" data-dtype="Number"/>
                /
                <input class="characteristic-value" type="number" name="data.hits.max"
                       value="{{data.hits.max}}" data-dtype="Number"/>
            </div>

            <div class="side-panel creature-armour shadow">
                <label class="box-title">{{localize 'MGT2.TravellerSheet.Armour'}}</label>

                <div class="inset">
                    <input class="armour-value" type="text" name="data.armour.protection" title="Protection"
                               value="{{data.armour.protection}}" data-dtype="Number"/>
                    <span style="margin-left: 28px">
                        🔥 <input class="armour-value" type="text" name="data.armour.otherProtection" title="Energy"
                              value="{{data.armour.otherProtection}}" data-dtype="Number"/><br/>
                        <input type="text" name="data.armour.otherTypes" title="Energy types"
                           value="{{data.armour.otherTypes}}" data-dtype="String"/>
                    </span>

                    <ol class="items-list">
                        {{#each items as |item id|}}
                        {{#if item.system.armour}}
                        <li class="item" data-item-id="{{item._id}}" title="{{item.system.armour.protection}}">
                            <a class="rollable" data-roll-type="item">
                                <img src="{{item.img}}" title="{{item.name}}" width="32" height="32"/>
                            </a>
                            <label>{{item.name}}</label>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        <br/>
                        {{/if}}
                        {{/each}}
                    </ol>
                    <a class="item-control item-create" title="Add armour" data-type="armour"
                       data-name="Natural Armour" data-form="natural"
                       data-img="systems/mgt2/icons/items/armour-natural.svg">
                        <i class="fas fa-plus"></i> Add</a>
                </div>
            </div>

            <div class="side-panel creature-attacks shadow">
                <label class="box-title">ATTACKS</label>

                <div class="inset">
                    <ol class="items-list">
                        {{#each items as |item id|}}
                            {{#if item.system.weapon}}
                            <li class="item" data-item-id="{{item._id}}" title="{{item.system.weapon.damage}}">
                                <a class="rollable" data-roll-type="item">
                                    <img src="{{item.img}}" title="{{item.name}}" width="32" height="32"/>
                                </a>
                                <label>{{item.name}}</label>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        <br/>
                        {{/if}}
                        {{/each}}
                    </ol>
                    <a class="item-control item-create" title="Create attack" data-type="weapon"
                       data-name="Add attack" data-damage="1d6" data-skill="melee.natural"
                       data-img="systems/mgt2/icons/items/melee-natural.svg">
                        <i class="fas fa-plus"></i> Add</a>
                </div>
            </div>
        </div>

        <div class="character-right">
            <h1 class="charname shadow">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            </h1>

            <div class="grid grid-3col shadow stats">
                <div class="resource flex-group-center">
                    <label for="data.speed" class="text-title">SPEED</label>
                    <input class="characteristic-value" type="number" name="data.speed"
                           value="{{data.speed}}" data-dtype="Number"/>
                </div>

                <div class="resource flex-group-center">
                    <label for="data.size" class="text-title">SIZE</label>
                    <input class="characteristic-value" type="number" name="data.size"
                           value="{{data.size}}" data-dtype="Number"/>
                </div>

                <div class="resource flex-group-center">
                    <label for="data.initiative" class="text-title">INITIATIVE</label>
                    <input class="characteristic-value" type="number" name="data.initiative"
                           value="{{data.initiative}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="creature-info shadow">
                <div class="resource flex-group-left">
                    <label class="text-title">Behaviour</label>
                    <input type="text" name="data.behaviour"
                           value="{{data.behaviour}}" data-dtype="Text"/>
                </div>

                <div class="resource flex-group-left">
                    <label class="text-title">Traits</label>
                    <textarea class="traits" type="text" name="data.traits"
                           value="{{data.traits}}" data-dtype="Text">{{data.traits}}</textarea>
                </div>
            </div>
            <div class="skills shadow">
                {{> "systems/mgt2/templates/actor/parts/actor-skills.html"}}
            </div>

            <section class="description shadow">
                {{editor
                    enrichedDescription target="system.description"
                    button=true editable=editable}}
            </section>

        </div>
  </section>
</form>

