<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    <section class="traveller-sheet">
        <div class="character-left">
            <img class="profile-img shadow" src="{{actor.img}}" data-edit="img"
                 title="{{actor.name}}" height="100" width="100"/>

            <div class="side-panel hits-box shadow">
                <label for="data.hits.max" class="box-title">{{localize 'MGT2.TravellerSheet.Damage'}}</label>
                <div class="grid grid-3col inset">
                    {{#each data.damage as |dmg key|}}
                        {{#if (isChaShown ../data key)}}
                            <div class="resource flex-group-center">
                                <label for="data.damage.{{key}}" class="resource-label">{{key}}</label>
                                <input class="writable" type="text" name="data.damage.{{key}}.value" value="{{dmg.value}}" data-dtype="Number"/>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>

            {{#if data.armour.name}}
            <div class="side-panel armour-box shadow flex-group-center">
                <label class="box-title">{{localize 'MGT2.TravellerSheet.Armour'}}</label>
                <label class="armour-name" title="{{data.armour.name}}">{{data.armour.name}}</label>

                <div class="grid grid-3col inset">
                    <div>
                        <label class="prot-type" title="Protection">Prot</label>
                        <input class="armour-value" type="text" name="data.armour.protection" title="Protection"
                              value="{{data.armour.protection}}" readonly data-dtype="Number"/>
                    </div>
                    <div>
                        <label class="prot-type" title="Rad Shielding">Rad</label>
                        <input class="armour-value" type="text" name="data.armour.rad" title="Radiation protection"
                                 value="{{data.armour.rad}}" readonly data-dtype="Number"/>
                    </div>
                    {{#if data.armour.otherProtection}}
                    <div>
                        <label class="prot-type" title="Energy Protection">🔥</label>
                        <input class="armour-value" type="text" name="data.armour.otherProtection" title="Energy"
                              value="{{data.armour.otherProtection}}" readonly data-dtype="Number"/>
                    </div>
                    <input type="text" name="data.armour.otherTypes" title="Energy types" class="grid-span-3"
                           value="{{data.armour.otherTypes}}" readonly data-dtype="String"/>
                    {{/if}}
                </div>
            </div>
            {{/if}}

            <div class="side-panel character-attacks shadow">
                <label class="box-title">{{localize 'MGT2.TravellerSheet.Attacks'}}</label>

                <div class="inset">
                    <ol class="items-list">
                        {{#each items as |item id|}}
                            {{#if item.system.weapon}}
                                {{#if (isItemEquipped item)}}
                                    <li class="item" data-item-id="{{item._id}}" title="{{item.system.weapon.damage}}">
                                        <a class="rollable" data-roll-type="item">
                                            <img src="{{item.img}}" title="{{item.name}}" width="32" height="32"/>
                                        </a>
                                        <label>{{item.name}}</label>
                                        <div class="item-controls">
                                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                        </div>
                                    </li>
                                    <br/>
                                {{/if}}
                            {{/if}}
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>

        <div class="character-right">
            <h1 class="charname shadow">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            </h1>

            <div class="shadow grid grid-7col">
                <div class="resource flex-group-left grid-span-2">
                    <label for="data.player" class="field-label">{{localize 'MGT2.TravellerSheet.Player'}}</label>
                    <input class="field-value writable" name="data.player" type="text" value="{{data.player}}"/>
                </div>
                <div class="resource flex-group-left grid-span-2">
                    <label for="data.sophont.species" class="field-label">{{localize 'MGT2.TravellerSheet.Species'}}</label>
                    <input class="field-value writable" name="data.sophont.species" type="text" value="{{data.sophont.species}}"/>
                </div>
                <div class="resource flex-group-left grid-span-2">
                    <label for="data.sophont.gender" class="field-label">{{localize 'MGT2.TravellerSheet.Gender'}}</label>
                    <input class="field-value writable" name="data.sophont.gender" type="text" value="{{data.sophont.gender}}"/>
                </div>
                <div class="resource flex-group-left">
                    <label for="data.sophont.age" class="field-label">{{localize 'MGT2.TravellerSheet.Age'}}</label>
                    <input class="field-value writable" name="data.sophont.age" type="text" value="{{data.sophont.age}}"/>
                </div>
            </div>

            <div class="shadow grid grid-{{data.settings.columns}}col">
                {{#each data.characteristics as | char key | }}
                {{#if char.show}}
                <div class="resource flex-group-center characteristic-draggable"
                     data-rolltype="characteristic" data-cha="{{key}}">
                    <label for="data.characteristics.{{key}}.value"
                           class="characteristic-title rollable"
                           data-roll="2d6+@{{key}}"
                           data-label="{{key}}"
                           data-cha="{{key}}"
                           title="{{char.label}}">{{key}}</label>
                    <span class="characteristic-dm">{{numberFormat char.dm sign=true}}</span>
                    <br/>
                    <input class="characteristic-readonly"
                           type="number" min="0" max="20" step="1"
                           name="data.characteristics.{{key}}.current"
                           value="{{char.current}}"
                           data-dtype="Number" readonly/> /
                    <input class="characteristic-value"
                           type="number" min="0" max="20" step="1"
                           name="data.characteristics.{{key}}.value"
                           value="{{char.value}}"
                           data-dtype="Number"/>
                </div>
                {{/if}}
                {{/each}}
            </div>

            <div class="shadow grid grid-4col">
                <div class="resource flex-group-center">
                    <label for="data.speed.base" class="field-label">{{localize 'MGT2.TravellerSheet.Speed'}}</label>
                    <input class="field-value writable" type="text" name="data.speed.base"
                           value="{{data.speed.base}}" data-dtype="Number"/>
                </div>
                <div class="resource flex-group-center">
                    <label for="data.size" class="field-label">{{localize 'MGT2.TravellerSheet.Size'}}</label>
                    <input class="field-value writable" type="text" name="data.size"
                           value="{{data.size}}" data-dtype="Number"/>
                </div>
                <div class="resource flex-group-center">
                    <label for="data.initiative.base" class="field-label">{{localize 'MGT2.TravellerSheet.Init'}}</label>
                    <input class="field-value" type="text" name="data.initiative.base"
                           value="{{data.initiative.base}}" data-dtype="Number"/>
                </div>
                <div class="resource flex-group-center">
                    <label for="data.rads" class="field-label">{{localize 'MGT2.TravellerSheet.Rads'}}</label>
                    <input class="field-value writable" type="text" name="data.rads" value="{{data.rads}}" data-dtype="Number"/>
                </div>
            </div>

            <div class="shadow">
                <nav class="sheet-tabs tabs" data-group="primary">
                    <a class="item" data-tab="skills">{{localize 'MGT2.TravellerSheet.Skills'}}</a>
                    <a class="item" data-tab="items">{{localize 'MGT2.TravellerSheet.Equipment'}}</a>
                    <a class="item" data-tab="finance">{{localize 'MGT2.TravellerSheet.Finance'}}</a>
                    <a class="item" data-tab="biography">{{localize 'MGT2.TravellerSheet.Biography'}}</a>
                    {{#if (isObserver .)}}
                        <a class="item" data-tab="history">{{localize 'MGT2.TravellerSheet.History'}}</a>
                    {{/if}}
                    {{#if (isOwner .)}}
                        <a class="item" data-tab="settings">{{localize 'MGT2.TravellerSheet.Settings'}}</a>
                    {{/if}}
                </nav>

                <div class="sheet-body">
                    {{!-- Skills Tab --}}
                    <div class="tab skills" data-group="primary" data-tab="skills">
                        {{> "systems/mgt2/templates/actor/parts/actor-skills.html"}}
                    </div>

                    <div class="tab finance" data-group="primary" data-tab="finance">
                        <div class="grid grid-3col">
                            <div class="resource">
                                <label class="profile-label">{{localize 'MGT2.Finance.Cash'}}</label>
                                <input class="credits writable" name="data.finance.cash" type="text" value="{{data.finance.cash}}"/>
                            </div>
                            <div class="resource">
                                <label class="profile-label">{{localize 'MGT2.Finance.Pension'}}</label>
                                <input class="credits writable"  name="data.finance.pension" type="text" value="{{data.finance.pension}}"/>
                            </div>
                            <div class="resource">
                                <label class="profile-label">{{localize 'MGT2.Finance.OtherIncome'}}</label>
                                <input  class="credits writable" name="data.finance.otherIncome" type="text" value="{{data.finance.otherIncome}}"/>
                            </div>
                            <div class="resource">
                                <label class="profile-label">{{localize 'MGT2.Finance.MedicalDebt'}}</label>
                                <input  class="credits writable" name="data.finance.medicalDebt" type="text" value="{{data.finance.medicalDebt}}"/>
                            </div>
                            <div class="resource">
                                <label class="profile-label">{{localize 'MGT2.Finance.Mortgage'}}</label>
                                <input  class="credits writable" name="data.finance.mortgage" type="text" value="{{data.finance.mortgage}}"/>
                            </div>
                            <div class="resource">
                                <label class="profile-label">{{localize 'MGT2.Finance.LivingCosts'}}</label>
                                <input  class="credits writable" name="data.finance.livingCosts" type="text" value="{{data.finance.livingCosts}}"/>
                            </div>
                        </div>

                    </div>

                    {{!-- Biography Tab --}}
                    <div class="tab biography" data-group="primary" data-tab="biography">

                        <div class="resources grid grid-5col">
                            <div class="resource flex-group-center">
                                <label for="data.terms" class="resource-label">Terms</label>
                                <input type="text" name="data.terms" value="{{data.terms}}"
                                       data-dtype="Number"/>
                            </div>
                            <div class="resource flex-group-center">
                                <label for="data.sophont.height" class="resource-label">Height (m)</label>
                                <input type="text" name="data.sophont.height" value="{{data.sophont.height}}"
                                       data-dtype="Number"/>
                            </div>
                            <div class="resource flex-group-center">
                                <label for="data.sophont.weight" class="resource-label">Weight (kg)</label>
                                <input type="text" name="data.sophont.weight" value="{{data.sophont.weight}}"
                                       data-dtype="Number"/>
                            </div>
                            <div class="resource flex-group-left grid-span-2">
                                <label for="data.sophont.homeworld" class="resource-label">Homeworld</label>
                                <input type="text" name="data.sophont.homeworld" value="{{data.sophont.homeworld}}"
                                       data-dtype="String"/>
                            </div>
                        </div>

                        <section class="bio-box">
                            {{editor
                                enrichedDescription target="system.description"
                                button=true editable=editable}}
                        </section>

                    </div>

                    {{#if (isObserver .)}}
                    <div class="tab history" data-group="primary" data-tab="history">
                        <section>
                            {{> "systems/mgt2/templates/actor/parts/actor-terms.html"}}
                        </section>
                    </div>
                    {{/if}}

                    {{#if (isObserver .)}}
                    {{!-- Owned Items Tab --}}
                    <div class="tab items" data-group="primary" data-tab="items">
                        {{> "systems/mgt2/templates/actor/parts/actor-items.html"}}
                    </div>
                    {{/if}}

                    {{!-- Settings Tab --}}
                    {{#if (isOwner .)}}
                        <section class="tab settings flexcol" data-group="primary" data-tab="settings">
                            {{> "systems/mgt2/templates/actor/parts/actor-settings.html"}}
                        </section>
                    {{/if}}
                </div>
            </div>
        </div>

    </section>


</form>

