<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    <section class="npc-sheet">
        <div class="character-left">
            <img class="profile-img shadow" src="{{actor.img}}" data-edit="img"
                 title="{{actor.name}}" height="100" width="100"/>

            <div class="shadow side-panel">
                <label class="profile-label">Species</label>
                <input name="data.sophont.species" type="text" value="{{data.sophont.species}}"/>
                <label class="profile-label">Gender</label>
                <input name="data.sophont.gender" type="text" value="{{data.sophont.gender}}"/>
            </div>

            <div class="side-panel hits-box shadow">
                <label for="data.hits.max" class="box-title">❤️ HITS</label>
                <input class="characteristic-value" type="number" name="data.hits.value"
                       value="{{data.hits.value}}" data-dtype="Number"/>
                /
                <input class="characteristic-value" type="number" name="data.hits.max"
                       value="{{data.hits.max}}" data-dtype="Number"/>
            </div>

            <div class="side-panel armour-box shadow">
                <label class="box-title">🛡️ ARMOUR</label>

                <input class="armour-value" type="text" name="data.armour.protection" title="Protection"
                       value="{{data.armour.protection}}" data-dtype="Number"/>
                <span style="margin-left: 28px">
                    🔥 <input class="armour-value" type="text" name="data.armour.otherProtection" title="Energy"
                              value="{{data.armour.otherProtection}}" data-dtype="Number"/><br/>
                    <input type="text" name="data.armour.otherTypes" title="Energy types"
                           value="{{data.armour.otherTypes}}" data-dtype="String"/>
                </span>

            </div>



        </div>

        <div class="character-right">
            <h1 class="charname shadow">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            </h1>

            <div class="shadow">
                <div class="resources grid grid-6col">
                    {{#each data.characteristics as | char key | }}
                    {{#if char.show}}
                    <div class="resource flex-group-center">
                        <label for="data.characteristics.{{key}}.value"
                               class="characteristic-title rollable"
                               data-roll="{{boonDice ../data}}+@{{key}}" data-label="{{key}}{{boonLabel ../data}}"
                               title="{{char.label}}">{{key}}</label>
                        <span class="characteristic-dm">{{numberFormat char.dm sign=true}}</span>
                        <br/>
                        <input class="characteristic-value" type="number" min="0" max="20" step="1" name="data.characteristics.{{key}}.value" value="{{char.value}}" data-dtype="Number"/>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>

            <div class="shadow">
                <div class="resources grid grid-4col">
                    <div class="resource flex-group-center">
                        <label for="data.speed" class="resource-label">SPEED</label>
                        <input type="text" name="data.speed" value="{{data.speed}}" data-dtype="Number"/>
                    </div>
                    <div class="resource flex-group-center">
                        <label for="data.size" class="resource-label">SIZE</label>
                        <input type="text" name="data.size" value="{{data.size}}" data-dtype="Number"/>
                    </div>
                    <div class="resource flex-group-center">
                        <label for="data.intiative" class="resource-label">INIT</label>
                        <input type="text" name="data.intiative" value="{{data.intiative}}" data-dtype="Number"/>
                    </div>
                    <div class="resource flex-group-center">
                        <label for="data.hits.value" class="resource-label">MAX HITS</label>
                        <!--
                        <input type="text" name="data.hits.value" value="{{data.hits.value}}"
                               data-dtype="Number"/> /
                               -->
                        <input type="text" name="data.hits.max" value="{{data.hits.max}}"
                               readonly data-dtype="Number"/>
                    </div>

                </div>
            </div>

            <div class="shadow">
                <nav class="sheet-tabs tabs" data-group="primary">
                    <a class="item" data-tab="skills">Skills</a>
                    <a class="item" data-tab="items">Equipment</a>
                    <a class="item" data-tab="biography">Biography</a>
                    <a class="item" data-tab="settings">Settings</a>
                </nav>

                <div class="sheet-body">
                    {{!-- Skills Tab --}}
                    <div class="tab skills" data-group="primary" data-tab="skills">
                        {{> "systems/mgt2/templates/actor/parts/actor-skills.html"}}
                    </div>

                    {{!-- Biography Tab --}}
                    <div class="tab biography" data-group="primary" data-tab="biography">
                        <div class="bio-box">
                            {{editor content=data.biography target="data.biography" rollData=rollData
                                    button=true owner=owner editable=editable}}
                        </div>
                    </div>

                    {{!-- Owned Items Tab --}}
                    <div class="tab items" data-group="primary" data-tab="items">
                        {{> "systems/mgt2/templates/actor/parts/actor-items.html"}}
                    </div>

                    {{!-- Settings Tab --}}
                    <section class="tab settings flexcol" data-group="primary" data-tab="settings">
                        <section class="resources grid grid-3col">
                            <div class="resource flex-group-left">
                                <input type="checkbox" name="data.settings.hideUntrained" {{checked data.settings.hideUntrained}} data-dtype="Boolean" />
                                <label for="data.settings.hideUntrained">Hide untrained skills</label>
                            </div>
                        </section>
                        <hr/>
                        <section class="resources grid grid-3col">
                            {{#each data.characteristics as | char key | }}
                            <div class="resource flex-group-left">
                                <input type="checkbox" name="data.characteristics.{{key}}.show" {{checked char.show}} data-dtype="Boolean" />
                                <label for="data.characteristics.{{key}}.value" title="{{char.label}}">{{key}}</label>
                            </div>
                            {{/each}}
                        </section>
                    </section>
                </div>
            </div>
        </div>


    </section>

</form>

