<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

      {{!-- Traveller Characteristics --}}
      <div class="resources grid grid-4col">
        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}

        <div class="resource flex-group-center">
            <label for="data.hits.value" class="text-title">HITS</label>
            <input class="characteristic-value" type="number" name="data.hits.value" value="{{data.hits.value}}" data-dtype="Number"/>
        </div>

        <div class="resource flex-group-center">
            <label for="data.speed" class="text-title">SPEED</label>
            <input class="characteristic-value" type="number" name="data.speed" value="{{data.speed}}" data-dtype="Number"/>
        </div>

        <div class="resource flex-group-center">
            <label for="data.armour" class="text-title">ARMOUR</label>
            <input class="characteristic-value" type="number" name="data.armour" value="{{data.armour}}" data-dtype="Number"/>
        </div>

        <div class="resource flex-group-center">
            <label for="data.size" class="text-title">SIZE</label>
            <input class="characteristic-value" type="number" name="data.size" value="{{data.size}}" data-dtype="Number"/>
        </div>
    </div>

    <div class="resources">
        <div class="resource flex-group-left">
            <label class="text-title">Behaviour</label>
            <input type="text" name="data.behaviour" value="{{data.behaviour}}" data-dtype="Text"/>
        </div>
    </div>
    <div>
        <div class="resource flex-group-left">
            <label class="text-title">Traits</label>
            <input type="text" name="data.traits" value="{{data.traits}}" data-dtype="Text"/>
        </div>
    </div>


  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      <section class="grid grid-3col">
        {{#each data.skills as |skill key|}}
            {{#if skill.creature}}
                {{#if skill.trained}}
                  <div class="resource flex-group-left">
                      <div>
                          <input type="checkbox" class="trained"
                                 name="data.skills.{{key}}.trained" {{checked skill.trained}} data-dtype="Boolean" />
                          <label for="data.skills.{{key}}.value"
                                 class="resource-label skill-label rollable"
                                 data-rolltype="skill"
                                 data-skill="{{key}}"
                                 data-roll="{{skillRollable ../data skill null}}"
                                 data-label="{{skillLabel ../data skill null}}"
                                 title="{{skill.default}} + {{skill.value}}">{{skill.label}}</label>
                          {{#if skill.specialities}}
                            <input type="text" value="0" data-dtype="Number" class="skill-fixed" readonly/>
                            {{#each skill.specialities as |spec i|}}
                              <br/>
                              <label class="skill-label specialisation rollable"
                                     data-rolltype="skill"
                                     data-skill="{{key}}"
                                     data-spec="{{i}}"
                                     data-roll="{{skillRollable ../../data skill spec}}"
                                     data-label="{{skillLabel ../../data skill spec}}">{{spec.label}}</label>
                              <input type="text"
                                     name="data.skills.{{key}}.specialities.{{i}}.value"
                                     value="{{spec.value}}"
                                     data-dtype="Number"
                                     class="skill-level"/>
                            {{/each}}
                          {{else}}
                          <input type="text" name="data.skills.{{key}}.value" value="{{skill.value}}"
                                 data-dtype="Number"
                                 data-rolltype="skill"
                                 data-skill="{{key}}"
                                 class="skill-level"/>
                          {{/if}}
                      </div>
                  </div>
                {{else}}
                  <div class="resource flex-group-left">
                      <div>
                          <input type="checkbox" class="trained" name="data.skills.{{key}}.trained" {{checked skill.trained}} data-dtype="Boolean" />
                          <label for="data.skills.{{key}}.value"
                                 class="resource-label skill-label rollable untrained"
                                 data-rollType="skill"
                                 data-skill="{{key}}"
                                 data-roll="{{skillRollable ../data skill null}}"
                                 data-label="{{skillLabel ../data skill null}}">{{skill.label}}</label>
                          <input type="text" value="{{defaultSkill ../data}}" data-dtype="Number" class="skill-fixed" readonly/>
                      </div>
                  </div>
                {{/if}}
            {{/if}}
        {{/each}}

      </section>
    </div>

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/mgt2/templates/actor/parts/actor-features.html"}}
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/mgt2/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/mgt2/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>

