<div class="attack-dialog vehicle-attack-dialog">
    <h1 class="actor-name">
        {{actor.name}} ({{weaponItem.name}})
    </h1>

    <div>{{skillText}}</div>

    <div class="grid grid-3col">
        <div class="resource flex-group-center">
            <label class="field-label">{{localize 'MGT2.Damage'}}</label>
            <span>{{weaponItem.system.weapon.damage}}</span>
        </div>

        <div class="resource flex-group-center grid-span-1">
            <label class="field-label">{{localize 'MGT2.Range'}}</label>
            <select name="range" data-action="changeRange">
                {{selectOptions RANGE_SELECT }}
            </select>
        </div>

        <div class="resource flex-group-center">
            <label class="field-label">{{localize 'MGT2.DM'}}</label>
            <input type="number" name="DM" value="{{customDM}}"/>
        </div>
    </div>

    <div>Skill DM: {{skillDM}}</div>

    {{#if weaponItem.system.weapon.traits}}
        <div>
            {{{showWeaponTraits . weaponItem.system.weapon.traits}}}
        </div>
    {{/if}}

    {{#if ATTACKER_TOKEN}}
        <div>Attack from: {{ATTACKER_TOKEN.name}}</div>
        <select name="targets" data-action="changeTarget">
            {{selectOptions TARGET_SELECT}}
        </select>
    {{/if}}

    <div class="grid grid-4col">

    </div>

</div>
