<div class="attack-dialog vehicle-attack-dialog">
    <h1 class="attack-title">
        {{actor.name}} ({{weaponItem.name}})
    </h1>

    <div grid class="grid grid-3col">
        <div class="flex-group-left grid-span-2">
            {{#if ATTACKER_TOKEN}}
                <h4>
                    Attacker Token: {{ATTACKER_TOKEN.name}}
                </h4>
            {{else if ATTACKER_TOKENS}}
                <h4>
                    Attacker Token:
                    <select class="attacker-select" name="attackerSelect">
                        {{selectOptions ATTACKER_SELECT}}
                    </select>
                </h4>
            {{else}}
                <h4>Attacker Token: <i>No token selected</i></h4>
            {{/if}}
        </div>
        <div class="flex-group-left" style="font-weight: bold">
            {{skillText}}
        </div>
    </div>

    <div class="grid grid-3col">
        <div class="resource flex-group-center">
            <label class="field-label">{{localize 'MGT2.Damage'}}</label>
            <span>{{weaponItem.system.weapon.damage}}</span>
        </div>

        <div class="resource flex-group-center grid-span-1">
            <label class="field-label">{{localize 'MGT2.Range'}}</label>
            <select name="range" data-action="changeRange">
                {{selectOptions RANGE_SELECT }}
            </select>
        </div>

        <div class="resource flex-group-center">
            <label class="field-label">{{localize 'MGT2.DM'}}</label>
            <input type="number" name="DM" value="{{customDM}}"/>
        </div>
    </div>

    <div>Skill DM: {{skillDM}}</div>

    {{#if weaponItem.system.weapon.traits}}
        <div>
            {{{showWeaponTraits . weaponItem.system.weapon.traits}}}
        </div>
    {{/if}}

    <hr/>
    {{#if ATTACKER_TOKEN}}
        {{#if TARGETS}}
            <h4>
                {{localize "MGT2.AttackDialog.SelectTitle"}}:
                <select class="attacker-select" name="targets" data-action="changeTarget">
                    {{selectOptions TARGET_SELECT selected=currentTarget.token.document._id}}
                </select>
                <i class="fa fa-refresh" data-action="addTargets" title="{{localize 'MGT2.AttackDialog.TargetRefresh'}}"> </i>
            </h4>
        {{else}}
            <p>
                {{localize 'MGT2.AttackDialog.NoTargets'}}
                <i class="fa fa-refresh" data-action="addTargets" title="{{localize 'MGT2.AttackDialog.TargetRefresh'}}"> </i>
            </p>
        {{/if}}
    {{/if}}

    {{#if currentTarget}}
        <img src="{{currentTarget.token.document.texture.src}}" width="48px" style="float: left"/>
        {{#if currentTarget.rangeDM}}
            <b>Range DM: {{currentTarget.rangeDM}}</b>
        {{/if}}
        {{#if currentTarget.sizeDM}}
            <b>Size DM: {{currentTarget.sizeDM}}</b>
        {{/if}}
        {{#if currentTarget.dodgeDM}}
            <b>Dodge DM: {{currentTarget.dodgeDM}}</b>
        {{/if}}
        {{#if currentTarget.rangeHitDM}}
            <b>To Hit DM: {{currentTarget.rangeHitDM}}</b>
        {{/if}}
    {{/if}}

    <hr/>

    <div class="grid grid-4col">

    </div>

</div>
