<div>
    <div>
        <h2>{{item.name}}</h2>

        <p>
            <b>{{localize "MGT2.Dialog.TotalAvailable"}}:</b> {{prettyNumber item.system.quantity 0 false}}dt
        </p>
        <p>
            <b>{{localize "MGT2.Dialog.UnitPrice"}}:</b> Cr{{prettyNumber item.system.cost 0 false}}
        </p>
        <p>
            <b>{{localize "MGT2.Dialog.AvailableCash"}}:</b> Cr{{prettyNumber availableCash 0 false}}
        </p>
        <p>
            <b>{{localize "MGT2.Dialog.FreeSpace"}}:</b> {{prettyNumber freeSpace 0 false}}dt
        </p>
        <p>
            <b>{{localize "MGT2.Dialog.PriceVariant"}}:</b> Cr{{prettyNumber variance 0 true}}
        </p>

        <p>
            <label>{{localize "MGT2.Dialog.Quantity"}}
                <select class="quantity_select" name="quantitySelect">
                    {{selectOptions QUANTITY_LIST selected=qty}}
                </select>
            </label>
        </p>
    </div>
</div>
