<div>
    <div>
        <h2>{{passenger.name}}</h2>

        <p>
            <b>{{localize "MGT2.Dialog.PassengersAvailable"}}:</b> {{prettyNumber passenger.system.quantity 0 false}}
        </p>
        <p>
            <b>{{localize "MGT2.Dialog.AvailableStaterooms"}}:</b> 0
        </p>
        <p>
            <b>{{localize "MGT2.Dialog.TicketPrice"}}:</b> Cr{{prettyNumber passenger.system.world.price 0 false}}
        </p>
        <p>
            <b>{{localize "MGT2.Dialog.FreeSpace"}}:</b> {{prettyNumber freeSpace 0 false}}dt
        </p>

        <p>
            <label>{{localize "MGT2.Dialog.Quantity"}}
                <select class="quantity_select" name="quantitySelect">
                    {{selectOptions QUANTITY_LIST selected=qty}}
                </select>
            </label>
        </p>
    </div>
</div>
