<div>
    <div>
        <h2>{{salvoActor.name}}</h2>

        <div class="grid-2col">
            <div>
                <h4>Source</h4>

                <img src="{{sourceActor.img}}" width="64" height="64"/>

            </div>

            <div data-action="selectTarget">
                <h4>Target</h4>
                <img src="{{TARGET_ICON}}" width="64" height="64"/>

            </div>
        </div>

        <p>
            <b>Damage: </b> {{DAMAGE}}
        </p>
        <p>
            <b>Salvo Size:</b> {{SIZE}}
        </p>

    </div>
</div>
