
<script>
    function applyDamage(cha) {
        let actual = document.getElement();
    }
</script>

<form class="flexcol damage-dialog">

    <h1 class="charname shadow">
        {{actor.name}}
    </h1>

    <div class="shadow grid grid-4col">
        <div class="resource flex-group-center">
            <label for="damage" class="resource-label">DAMAGE</label>
            <input type="text" name="damage" value="{{damage}}" data-dtype="Number"/>
        </div>
        <div class="resource flex-group-center">
            <label for="ap" class="resource-label">AP</label>
            <input type="text" name="ap" value="{{ap}}" data-dtype="Number"/>
        </div>
        <div class="resource flex-group-center">
            <label for="armour" class="resource-label">ARMOUR</label>
            <input type="text" name="armour" value="{{armour}}" data-dtype="Number"/>
        </div>
        <div class="resource flex-group-center">
            <label for="actualDamage" class="resource-label">ACTUAL</label>
            <input type="text" name="actualDamage" value="{{actualDamage}}" data-dtype="Number"/>
        </div>
    </div>

    <div class="shadow">
        <h1>Characteristics</h1>

        <div class="damage-header grid grid-4col">
            <div class="flex-group-center">
                <label>To Apply:</label>
                <input class="characteristic-readonly remaining"
                       type="number"
                       name="remainingDamage"
                       value="{{remainingDamage}}"
                       data-dtype="Number" readonly/>
            </div>

            <div class="flex-group-left grid-span-2" title="{{woundsEffect}}">
                <label>Wound Effect</label>
                <input class="characteristic-readonly remaining"
                       type="text"
                       name="woundEffects"
                       value="{{wounds}}"
                       data-dtype="String"
                       readonly/>
            </div>

        </div>

        <table>
            <tr>
                <th></th>
                <th>Total</th>
                <th>Current</th>
                <th>Damage</th>
                <th/>
            </tr>
            {{#if stun}}
            {{else}}
            <tr>
                <td><label class="resource-label">STR</label></td>
                <td class="value">{{data.characteristics.STR.value}}</td>
                <td class="value">
                    <input class="characteristic-readonly VAL_STR"
                           type="number" min="0" max="20" step="1"
                           name="STR"
                           value="{{STR}}"
                           data-dtype="Number" readonly/>
                </td>
                <td class="value">
                    <input class="damage-value DMG_STR"
                           type="number" min="0" step="1"
                           name="DMG_STR" value="{{DMG_STR}}"
                           data-dtype="Number"/>

                </td>
                <td><button class="apply-button" data-cha="STR" type="button">Apply</button></td>
            </tr>
            <tr>
                <td><label class="resource-label">DEX</label></td>
                <td class="value">{{data.characteristics.DEX.value}}</td>
                <td class="value">
                    <input class="characteristic-readonly VAL_DEX"
                           type="number" min="0" max="20" step="1"
                           name="DEX"
                           value="{{DEX}}"
                           data-dtype="Number" readonly/>
                </td>
                <td class="value">
                    <input class="damage-value DMG_DEX"
                           type="number" min="0" step="1"
                           name="DMG_DEX" value="{{DMG_DEX}}"
                           data-dtype="Number"/>

                </td>
                <td><button class="apply-button" data-cha="DEX" type="button">Apply</button></td>
            </tr>
            {{/if}}
            <tr>
                <td><label class="resource-label">END</label></td>
                <td class="value">{{data.characteristics.END.value}}</td>
                <td class="value">
                    <input class="characteristic-readonly VAL_END"
                           type="number" min="0" max="20" step="1"
                           name="END"
                           value="{{END}}"
                           data-dtype="Number" readonly/>
                </td>
                <td class="value">
                    <input class="damage-value DMG_END"
                           type="number" min="0" step="1"
                           name="DMG_END" value="{{DMG_END}}"
                           data-dtype="Number"/>

                </td>
                <td><button class="apply-button" data-cha="END" type="button">Apply</button></td>
            </tr>
        </table>
    </div>

    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit" class="damageDone">Done</button>
    </footer>

</form>
