<form class="{{cssClass}} world-data" autocomplete="off">
    <div class="item=sheet">
        <section class="world-data-sheet">
            <h1 class="charname">
                <select name="system.world.datatype" class="world-data-type">
                    {{selectOptions TYPE_SELECT selected=system.world.datatype}}
                </select>
                <input class="world-data-name" name="name" type="text" value="{{item.name}}" placeholder="Name"/>
            </h1>
        </section>

        <section class="shadow">
            <div class="flex-group-left">
                {{#if (ifEquals item.system.world.datatype "faction")}}
                    <div class="shadow grid grid-2col">
                        <div>
                            <select name="system.world.government">
                                {{selectOptions GOVERNMENT_SELECT selected=system.world.government}}
                            </select>
                        </div>
                        <div>
                            <select name="system.world.strength">
                                {{selectOptions FACTION_STRENGTH_SELECT selected=system.world.strength}}
                            </select>
                        </div>
                    </div>
                {{else if (ifEquals item.system.world.datatype "passenger")}}
                    <div class="shadow">
                        {{passage}}
                    </div>
                {{else if (ifEquals item.system.world.datatype "patron")}}
                    <div class="shadow">
                        <div class="shadow grid grid-3col">
                            <div>
                                <label>Species</label><br/>
                                <input class="" name="system.world.species" type="text" value="{{system.world.species}}" placeholder="Species"/>
                            </div>
                            <div class="grid-span-2">
                                <label>Profession</label><br/>
                                <input class="" name="system.world.profession" type="text" value="{{system.world.profession}}" placeholder="Profession"/>
                            </div>
                            <div>
                                <input type="checkbox" name="system.world.hidden" {{checked system.world.hidden}} data-dtype="Boolean" />
                                <label for="system.world.hidden" class="resource-label">Hidden to players</label>
                            </div>
                        </div>
                    </div>
                {{else if (ifEquals item.system.world.datatype "star")}}
                    <div class="shadow">
                        <select name="system.world.strength">
                            {{selectOptions FACTION_STRENGTH_SELECT selected=system.world.strength}}
                        </select>
                    </div>
                {{else if (ifEquals item.system.world.datatype "planet")}}
                    <div class="shadow">
                        <select name="system.world.planetType">
                            {{selectOptions PLANET_TYPE_SELECT selected=system.world.planetType}}
                        </select>

                        {{#if (ifEquals system.world.planetType "terrestrial")}}
                            <div class="grid grid-2col item-uwp">
                                <label for="system.world.uwp.port" class="field-label">{{localize 'MGT2.WorldSheet.UWP.Port'}}</label>
                                <select name="system.world.uwp.port" class="uwp-code">
                                    {{selectOptions PORT_SELECT selected=system.world.uwp.port}}
                                </select>

                                <label for="system.world.uwp.size" class="field-label">{{localize 'MGT2.WorldSheet.UWP.Size'}}</label>
                                <select name="system.world.uwp.size" class="uwp-code" type="number">
                                    {{selectOptions SIZE_SELECT selected=system.world.uwp.size}}
                                </select>

                                <label for="system.world.uwp.atmosphere" class="field-label">{{localize 'MGT2.WorldSheet.UWP.Atmosphere'}}</label>
                                <select name="system.world.uwp.atmosphere" class="uwp-code" type="number">
                                    {{selectOptions ATMOSPHERE_SELECT selected=system.world.uwp.atmosphere}}
                                </select>

                                <label for="system.world.uwp.hydrographics" class="field-label">{{localize 'MGT2.WorldSheet.UWP.Hydrographics'}}</label>
                                <select name="system.world.uwp.hydrographics" class="uwp-code" type="number">
                                    {{selectOptions HYDROGRAPHICS_SELECT selected=system.world.uwp.hydrographics}}
                                </select>

                                <label for="system.world.uwp.population" class="field-label">{{localize 'MGT2.WorldSheet.UWP.Population'}}</label>
                                <select name="system.world.uwp.population" class="uwp-code" type="number">
                                    {{selectOptions POPULATION_SELECT selected=system.world.uwp.population}}
                                </select>

                                <label for="system.world.uwp.government" class="field-label">{{localize 'MGT2.WorldSheet.UWP.Government'}}</label>
                                <select name="system.world.uwp.government" class="uwp-code" type="number">
                                    {{selectOptions GOVERNMENT_SELECT selected=system.world.uwp.government}}
                                </select>

                                <label for="system.world.uwp.lawLevel" class="field-label">{{localize 'MGT2.WorldSheet.UWP.LawLevel'}}</label>
                                <select name="system.world.uwp.lawLevel" class="uwp-code" type="number">
                                    {{selectOptions LAW_SELECT selected=system.world.uwp.lawLevel}}
                                </select>

                                <label for="system.world.uwp.techLevel" class="field-label">{{localize 'MGT2.WorldSheet.UWP.TechLevel'}}</label>
                                <select name="system.world.uwp.techLevel" class="uwp-code" type="number">
                                    {{selectOptions TECH_SELECT selected=system.world.uwp.techLevel}}
                                </select>
                            </div>
                        {{/if}}
                    </div>
                {{/if}}

                <div class="item-description shadow">
                    {{editor enrichedDescription target="system.description"
                    button=true editable=editable}}
                </div>
            </div>
        </section>
    </div>
</form>
