{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="{{cssClass}} {{item.type}}" autocomplete="off">
  <div class="item-sheet">
    <div class="sidebar">
      <img class="item-img shadow" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>

    <div class="flex-group-left">
      <h1 class="charname shadow">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
      </h1>

      {{#each system.role.actions as |action id|}}
        <div class="shadow role-action" data-action-id="{{id}}">
          <h2>
            <input class="role-action-name" name="system.role.actions.{{id}}.title"
              value="{{action.title}}"/>
          </h2>
          <div class="item-controls">
            <a class="role-action-delete" title="Delete action"><i class="fas fa-trash"></i></a>
          </div>

          <div class="resource grid grid-4col flex-group-left">
            <div class="resource">
              <label for="system.role.actions.{{id}}.action" class="resource-label">Action</label>
              <br/>
              <select class="expand writable" name="system.role.actions.{{id}}.action">
                {{#select action.action}}
                  <option value="chat">Chat</option>
                  <option value="skill">Skill</option>
                  <option value="weapon">Weapon</option>
                {{/select}}
              </select>
            </div>
            {{#if (ifEquals action.action "chat") }}
              <div class="resource grid-span-2">
                <label for="system.role.actions.{{id}}.chat" class="resource-label">Chat</label>
                <input class="writable" name="system.role.actions.{{id}}.chat" type="text" value="{{action.chat}}"/>
              </div>
            {{/if}}
            {{#if (ifEquals action.action "skill") }}
              <div class="resource grid-span-2">
                <label for="system.role.actions.{{id}}.skill" class="resource-label">Skill</label>
                <br/>
                <select class="writable" name="system.role.actions.{{id}}.skill">
                  {{#select action.skill}}
                    <option value="-">None</option>
                    {{#each ../skills as |skill skid|}}
                      <option value="{{skid}}">{{skill.label}}</option>
                        {{#if skill.specialities}}
                          {{#each skill.specialities as |spec spid|}}
                            <option value="{{skid}}.{{spid}}">{{skill.label}} ({{spec.label}})</option>
                          {{/each}}
                        {{/if}}
                    {{/each}}
                  {{/select}}
                </select>
              </div>
              <div class="resource">
                <label for="system.role.actions.{{id}}.dm" class="resource-label">DM</label>
                <br/>
                <input class="writable" name="system.role.actions.{{id}}.dm" type="number" value="{{action.dm}}"/>
              </div>
            {{/if}}
          </div>
        </div>
      {{/each}}

      <div class="item-controls">
          <a class="role-action-add" title="Add new action" data-name="Action" data-type="action"><i class="fas fa-plus"></i> Add action</a>
      </div>
    </div>
  </div>
</form>
