<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">
    <section class="item-sheet">
        <div class="sidebar">
            <img class="item-img shadow" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>

            <div class="shadow item-side-panel">
                <div class="resource flex-group-center">
                    <label for="system.quantity" class="resource-label">Quantity</label>
                    <div class="incdec">
                        <span class="quantity-dec"><i class="fa-regular fa-square-minus"></i></span>
                        <input class="writable" type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
                        <span class="quantity-inc"><i class="fa-regular fa-square-plus"></i></span>
                    </div>
                </div>
            </div>

            <div class="shadow item-side-panel grid grid-2col">
                <div class="resource grid-span-2">
                    <label class="resource-label">Legality</label>
                    <br/>
                    <select class="writable" name="system.legality">
                        {{selectOptions ARMOUR_LEGALITY selected=system.legality}}
                    </select>
                </div>
                <div class="resource grid-span-2">
                    <label for="system.armour.form" class="resource-label">{{localize "MGT2.Armour.FormType"}}</label>
                    <br/>
                    <select class="writable" name="system.armour.form">
                        {{selectOptions ARMOUR_FORM selected=system.armour.form}}
                    </select>
                </div>

                <div class="resource">
                    <label for="system.armour.archaic" class="resource-label">{{localize "MGT2.Armour.Archaic"}}</label>
                    <br/>
                    <select class="writable" name="system.armour.archaic">
                        {{selectOptions YESNO selected=system.armour.archaic}}
                    </select>
                </div>

                <div class="resource">
                    <label for="system.armour.ablat" class="resource-label">{{localize "MGT2.Armour.Ablative"}}</label>
                    <br/>
                    <select class="writable" name="system.armour.ablat">
                        {{selectOptions YESNO selected=system.armour.ablat}}
                    </select>
                </div>

                <div class="resource">
                    <label for="system.armour.powered" class="resource-label">{{localize "MGT2.Armour.Powered"}}</label>
                    <br/>
                    <select class="writable" name="system.armour.powered">
                        {{selectOptions YESNO selected=system.armour.powered}}
                    </select>
                </div>

                <div class="resource">
                    <label for="system.armour.psi" class="resource-label">{{localize "MGT2.Armour.Psi"}}</label>
                    <br/>
                    <select class="writable" name="system.armour.psi">
                        {{selectOptions YESNO selected=system.armour.psi}}
                    </select>
                </div>

                <div class="resource grid-span-2">
                    <label class="resource-label">{{localize "MGT2.Armour.Duration"}}</label>
                    <br/>
                    <input class="writable" type="text" name="system.armour.duration" value="{{system.armour.duration}}" data-dtype="Number"/>
                </div>

                <div class="resource grid-span-2">
                    <label class="resource-label">{{localize "MGT2.Armour.Slots"}}</label>
                    <br/>
                    <input class="armour-value writable" type="text" name="system.armour.slots" title="Slots"
                           value="{{system.armour.slots}}" data-dtype="Number"/><br/>
                </div>
            </div>
        </div>

        <div class="flex-group-left">
            <h1 class="charname shadow">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
            </h1>
            <div class="shadow">
                <div class="resources grid grid-3col flex-group-left">
                    <div class="resource">
                        {{> "systems/mgt2e/templates/item/parts/item-techLevel.html"}}
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "MGT2.Item.Weight"}}</label>
                        <input class="writable" type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "MGT2.Item.Cost"}}</label>
                        <input class="writable" type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number"/>
                    </div>

                    <div class="resource">
                        <label class="resource-label">{{localize "MGT2.Armour.Protection"}}</label><br/>
                        <input class="armour-value writable" type="text" name="system.armour.protection" title="Standard armour"
                           value="{{system.armour.protection}}" data-dtype="String"/><br/>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "MGT2.Armour.Rads"}}</label><br/>
                        <input class="writable armour-value" type="text" name="system.armour.rad" title="Radiation protection"
                             value="{{system.armour.rad}}" data-dtype="Number"/>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "MGT2.Armour.Energy"}}</label>
                        <br/>
                        <input class="writable armour-value" type="text" name="system.armour.otherProtection" title="Energy protection"
                               value="{{system.armour.otherProtection}}" data-dtype="String"/><br/>
                    </div>

                    <div class="resource grid-span-2">
                        <label class="resource-label">{{localize "MGT2.Armour.EnergyTypes"}}</label>
                        {{#if (isOwner .)}}
                            <span style="display: inline-block; float: right">
                                <i class="fa fa-add"></i><select class="energy-selector">
                                {{selectOptions energyTypes }}
                            </select>
                            </span>
                        {{/if}}
                        <div class="pill-container">
                            {{#each haveEnergy as |en id|}}
                                <div class="pill energy-pill" data-energy-id="{{id}}">{{en}}&nbsp;<i class="fas fa-xmark energy-remove"> </i></div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "MGT2.Armour.RequiresSkill"}}</label>
                        <br/>
                        <select class="expand writable" name="system.armour.skill">
                            {{selectOptions VACC_SUIT selected=system.armour.skill}}
                        </select>
                    </div>
                </div>
          </div>
          <div class="shadow">
              {{editor
                  enrichedDescription target="system.description"
                  button=true editable=editable}}
          </div>
            <div class="shadow">
                <h2>{{localize "MGT2.Effects.AugmentEffects"}}</h2>

                <div class="grid grid-3col">
                    {{#each effectTypes as |eType e|}}
                        <a class="effect-control augment-types flexrow" data-effectType="{{e}}">
                            <span class="augment-name">{{localize (concat 'MGT2.Effects.Type.' e)}}</span>
                            <i class="fas fa-plus"></i>
                        </a>
                    {{/each}}
                </div>
                <hr/>

                <ol class="items-list effects-list grid grid-2col">
                    {{#each effects as |e id|}}
                    <li class="items effect flexrow" data-effect-id="{{e.id}}">
                        <label>{{e.name}}</label>
                        <div class="effect-target">{{effect e.changes.0.key}} {{e.changes.0.value}}</div>
                        <div class="item-controls effect-controls flexrow">
                            <a class="effect-control" data-action="edit" title="Edit">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="effect-control" data-action="delete" title="Delete">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>

        </div>


    </section>


</form>
