<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">
    <section class="item-sheet">
        <div class="sidebar">
            <img class="item-img shadow" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>

            <div class="shadow item-side-panel">
                <div class="resource flex-group-center">
                    <label for="system.quantity" class="resource-label">Quantity</label>
                    <div class="incdec">
                        <span class="quantity-dec"><i class="fa-regular fa-square-minus"></i></span>
                        <input class="writable" type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
                        <span class="quantity-inc"><i class="fa-regular fa-square-plus"></i></span>
                    </div>
                </div>
            </div>

            <div class="shadow item-side-panel">
                <div class="resource flex-group-center">
                    <label for="system.weapon.magazine" class="resource-label">Magazine Size</label>
                    <input class="writable" type="text" name="system.weapon.magazine" value="{{system.weapon.magazine}}" data-dtype="Number"/>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.weapon.magazineCost" class="resource-label">Magazine Cost</label>
                    <input class="writable" type="text" name="system.weapon.magazineCost" value="{{system.weapon.magazineCost}}" data-dtype="Number"/>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.weapon.ammo" class="resource-label">Ammo</label>
                    <input class="writable" type="text" name="system.weapon.ammo" value="{{system.weapon.ammo}}" data-dtype="Number"/>
                </div>
            </div>

            <div class="shadow item-side-panel">
                <button type="submit" name="submit" class="damageDone">Damage <i class="fas fa-dice"></i></button>
            </div>
        </div>

        <div class="flex-group-left">
            <h1 class="charname shadow">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
            </h1>
            <div class="shadow">
                <div class="resources grid grid-3col flex-group-center">
                    <div class="resource">
                        {{> "systems/mgt2e/templates/item/parts/item-techLevel.html"}}
                    </div>
                    <div class="resource">
                        <label for="system.weight" class="resource-label">KG</label>
                        <input class="writable" type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
                    </div>
                    <div class="resource">
                        <label for="system.cost" class="resource-label">Cost</label>
                        <input class="writable" type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number"/>
                    </div>

                    <div class="resource">
                        <label for="system.weapon.scale" class="resource-label">Scale</label>
                        <br/>
                        <select class="expand writable" name="system.weapon.scale" title="Weapon Scale">
                            {{#select system.weapon.scale}}
                            <option value="traveller">Traveller</option>
                            <option value="vehicle">Vehicle</option>
                            <option value="spacecraft">Spacecraft</option>
                            {{/select}}
                        </select>
                    </div>

                    <div class="resource">
                        <label for="system.weapon.damage" class="resource-label">Damage</label>
                        <input class="writable" type="text" name="system.weapon.damage" value="{{system.weapon.damage}}" data-dtype="String"/>
                    </div>

                    <div class="resource">
                    {{#if (ifEquals system.weapon.scale "spacecraft")}}
                        <label for="system.weapon.spaceRange" class="resource-label">{{localize "MGT2.Item.RangeSpace"}}</label>
                        <select class="expand writable" name="system.weapon.spaceRange" title="Range of spacecraft weapon">
                            {{#select system.weapon.spaceRange}}
                            <option value="adjacent">{{localize "MGT2.Item.SpaceRange.adjacent"}}</option>
                            <option value="close">{{localize "MGT2.Item.SpaceRange.close"}}</option>
                            <option value="short">{{localize "MGT2.Item.SpaceRange.short"}}</option>
                            <option value="medium">{{localize "MGT2.Item.SpaceRange.medium"}}</option>
                            <option value="long">{{localize "MGT2.Item.SpaceRange.long"}}</option>
                            <option value="verylong">{{localize "MGT2.Item.SpaceRange.verylong"}}</option>
                            <option value="distant">{{localize "MGT2.Item.SpaceRange.distant"}}</option>
                            {{/select}}
                        </select>
                    {{else if (ifEquals system.weapon.scale "vehicle")}}
                        <label class="resource-label">{{localize "MGT2.Item.RangeKM"}}</label>
                        <br/>
                        <input class="writable" type="text" name="system.weapon.range" value="{{system.weapon.range}}" data-dtype="Number"/>
                    {{else}}
                        <label class="resource-label">{{localize "MGT2.Item.RangeM"}}</label>
                        <br/>
                        <input class="writable" type="text" name="system.weapon.range" value="{{system.weapon.range}}" data-dtype="Number"/>
                    {{/if}}
                    </div>

                    <div class="resource grid-span-3 flex-group-left">
                        <label for="system.weapon.traits" class="resource-label">Traits</label>
                        {{#if (isOwner .)}}
                            <span style="display: inline-block; float: right">
                                <i class="fa fa-add"></i><select class="trait-selector">
                                {{selectOptions weaponTraits }}
                            </select>
                            </span>
                        {{/if}}
                        <div class="energy-field">
                            {{{showWeaponTraits . system.weapon.traits}}}
                        </div>
                        <input class="writable" type="text" name="system.weapon.traits" placeholder="List of weapon traits"
                               value="{{system.weapon.traits}}" data-dtype="String"/>
                    </div>

                    {{#if (ifEquals system.weapon.scale "spacecraft")}}
                        <div class="resource">
                            <label for="system.weapon.mount" class="resource-label">{{localize "MGT2.Item.Mount"}}</label>
                            <select class="expand writable" name="system.weapon.mount" title="Mounting">
                                {{#select system.weapon.mount}}
                                <option value="fixed">{{localize "MGT2.Item.SpaceMount.Fixed"}}</option>
                                <option value="turret">{{localize "MGT2.Item.SpaceMount.Turret"}}</option>
                                <option value="barbette">{{localize "MGT2.Item.SpaceMount.Barbette"}}</option>
                                <option value="bay.small">{{localize "MGT2.Item.SpaceMount.BaySmall"}}</option>
                                <option value="bay.medium">{{localize "MGT2.Item.SpaceMount.BayMedium"}}</option>
                                <option value="bay.large">{{localize "MGT2.Item.SpaceMount.BayLarge"}}</option>
                                <option value="spinal">{{localize "MGT2.Item.SpaceMount.Spinal"}}</option>
                                {{/select}}
                            </select>
                        </div>

                        <div class="resource">
                            <label class="resource-label">{{localize "MGT2.Item.Power"}}</label>
                            <br/>
                            <input class="writable" type="text" name="system.weapon.power" value="{{system.weapon.power}}" data-dtype="Number"/>
                        </div>
                    {{/if}}
                </div>
            </div>

            <div class="shadow">
                <div class="resources grid grid-3col flex-group-left">
                    <div class="resource">
                        <label for="system.weapon.characteristic" class="resource-label">Characteristic</label><br/>
                        <select class="writable" name="system.weapon.characteristic">
                            {{#select system.weapon.characteristic}}
                            <option value="STR">STR</option>
                            <option value="DEX">DEX</option>
                            <option value="INT">INT</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="resource grid-span-2">
                        <label for="system.weapon.skill" class="resource-label">Skill</label><br/>
                        <select class="writable" name="system.weapon.skill">
                            {{#select system.weapon.skill}}
                            <option value="-">None</option>
                            {{#each skills as |skill id|}}
                                {{#if skill.combat}}
                                    <option value="{{id}}">{{localize (concat "MGT2.Skills." id)}}</option>
                                {{/if}}
                                {{#if skill.specialities}}
                                    {{#each skill.specialities as |spec sid|}}
                                        {{#if spec.combat}}
                                            <option value="{{id}}.{{sid}}">{{localize (concat "MGT2.Skills." id)}} ({{localize (concat "MGT2.Skills." sid)}})</option>
                                        {{/if}}
                                    {{/each}}
                                {{/if}}
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="resource">
                        <label for="system.weapon.damageBonus" class="resource-label">Damage DM</label><br/>
                        <select class="writable" name="system.weapon.damageBonus">
                            {{#select system.weapon.damageBonus}}
                                <option value="">-</option>
                                <option value="STR">STR</option>
                            {{/select}}
                        </select>
                    </div>

                    <div class="resource">
                        <label for="system.weapon.attackBonus" class="resource-label">Attack DM</label><br/>
                        <input class="writable" type="text" name="system.weapon.attackBonus"
                               value="{{system.weapon.attackBonus}}" data-dtype="Number"/>
                    </div>

                    <div class="resource">
                        <label for="system.weapon.parryBonus" class="resource-label">Parry DM</label><br/>
                        <input class="writable" type="text" name="system.weapon.parryBonus"
                               value="{{system.weapon.parryBonus}}" data-dtype="Number"/>
                    </div>

                    <div class="resource">
                        <label for="system.weapon.damageType" class="resource-label">Damage Type</label><br/>
                        <select class="writable" name="system.weapon.damageType">
                            {{#select system.weapon.damageType}}
                            <option value="standard">Standard</option>
                            <option value="laser">Laser</option>
                            <option value="plasma">Plasma</option>
                            <option value="fire">Fire</option>
                            <option value="energy">Energy</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="resource grid-span-2">
                        <label for="system.notes" class="resource-label">Notes</label><br/>
                        <input class="writable" type="text" name="system.notes" placeholder="Text shown when used"
                               value="{{system.notes}}" data-dtype="String"/>
                    </div>
                </div>
            </div>
            <div class="shadow">
                {{editor
                    enrichedDescription target="system.description"
                    button=true editable=editable}}
            </div>
        </div>
    </section>
</form>
