{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="{{cssClass}} {{item.type}}" autocomplete="off">
  <div class="item-sheet">
    <div class="sidebar">
      <img class="item-img shadow" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>

    <div class="flex-group-left">
      <h1 class="charname shadow">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
      </h1>

      <div class="shadow">
        <input class="trained" type="checkbox" name="system.role.department"
               {{checked system.role.department}} data-type="Boolean"/>
        <label for="system.role.department">{{localize "MGT2.Role.isDepartment"}}</label>

        {{#if system.role.department}}
          <select name="system.role.colour">
            {{#select system.role.colour}}
              <option value="">None</option>
              <option value="gold">Gold</option>
              <option value="blue">Blue</option>
              <option value="red">Red</option>
              <option value="green">Green</option>
              <option value="grey">Grey</option>
              <option value="black">Black</option>
            {{/select}}
          </select>
        {{/if}}

        {{editor
            enrichedDescription target="system.description"
            button=true editable=editable
        }}
      </div>

      {{#each system.role.actions as |action id|}}
        <div class="shadow role-action" data-action-id="{{id}}">
          <h2>
            <input class="role-action-name" name="system.role.actions.{{id}}.title"
              value="{{action.title}}"/>
          </h2>
          <div class="item-controls">
            <a class="role-action-delete" title="Delete action"><i class="fas fa-trash"></i></a>
          </div>

          <div class="resource grid grid-4col flex-group-left">
            <div class="resource">
              <label for="system.role.actions.{{id}}.action" class="resource-label">{{localize 'MGT2.Role.ActionTitle'}}</label>
              <br/>
              <select class="expand writable" name="system.role.actions.{{id}}.action">
                {{#select action.action}}
                  <option value="chat">{{localize 'MGT2.Role.ChatType'}}</option>
                  <option value="skill">{{localize 'MGT2.Role.SkillType'}}</option>
                  <option value="weapon">{{localize 'MGT2.Role.WeaponType'}}</option>
                  <option value="special">{{localize 'MGT2.Role.SpecialType'}}</option>
                {{/select}}
              </select>
            </div>
            {{#if (ifEquals action.action "chat") }}
              <div class="resource grid-span-3">
                <label for="system.role.actions.{{id}}.chat" class="resource-label">{{localize 'MGT2.Role.ChatType'}}</label>
                <input class="writable" name="system.role.actions.{{id}}.chat" type="text" value="{{action.chat}}"/>
              </div>
            {{/if}}
            {{#if (ifEquals action.action "skill") }}
              <div class="resource">
                <label for="system.role.actions.{{id}}.cha" class="resource-label">Cha</label>
                <br/>
                <select class="writable" name="system.role.actions.{{id}}.cha">
                  {{#select action.cha}}
                    <option value="">-</option>
                    <option value="STR">STR</option>
                    <option value="DEX">DEX</option>
                    <option value="END">END</option>
                    <option value="INT">INT</option>
                    <option value="EDU">EDU</option>
                    <option value="SOC">SOC</option>
                  {{/select}}
                </select>
              </div>
              <div class="resource grid-span-2">
                <label for="system.role.actions.{{id}}.skill" class="resource-label">{{localize 'MGT2.Role.SkillType'}}</label>
                <br/>
                <select class="writable" name="system.role.actions.{{id}}.skill">
                  {{#select action.skill}}
                    <option value="-">None</option>
                    {{#each ../skills as |skill skid|}}
                      <option value="{{skid}}">{{localize (concat "MGT2.Skills." skid)}}</option>
                        {{#if skill.specialities}}
                          {{#each skill.specialities as |spec spid|}}
                            <option value="{{skid}}.{{spid}}">{{localize (concat "MGT2.Skills." skid)}} ({{localize (concat "MGT2.Skills." spid)}})</option>
                          {{/each}}
                        {{/if}}
                    {{/each}}
                  {{/select}}
                </select>
              </div>
              <div class="resource">
                <label for="system.role.actions.{{id}}.target" class="resource-label">Target</label>
                <br/>
                <input class="writable" name="system.role.actions.{{id}}.target" type="number" value="{{action.target}}"/>
              </div>
              <div class="resource">
                <label for="system.role.actions.{{id}}.dm" class="resource-label">DM</label>
                <br/>
                <input class="writable" name="system.role.actions.{{id}}.dm" type="number" value="{{action.dm}}"/>
              </div>
            {{/if}}
            {{#if (ifEquals action.action "weapon") }}
              <div class="resource grid-span-2">
                <label for="system.role.actions.{{id}}.weapon" class="resource-label">{{localize 'MGT2.Role.WeaponType'}}</label>
                <br/>
                <select class="writable" name="system.role.actions.{{id}}.weapon">
                  {{selectOptions ../weapons selected=(selectedWeaponId ../system.role.actions id) }}
                </select>
              </div>
              <div class="resource">
                <label for="system.role.actions.{{id}}.dm" class="resource-label">DM</label>
                <br/>
                <input class="writable" name="system.role.actions.{{id}}.dm" type="number" value="{{action.dm}}"/>
              </div>
            {{/if}}
            {{#if (ifEquals action.action "special") }}
              <div class="resource grid-span-2">
                <label for="system.role.actions.{{id}}.special" class="resource-label">{{localize 'MGT2.Role.SpecialType'}}</label>
                <br/>
                <select class="writable" name="system.role.actions.{{id}}.special">
                  {{#select action.special}}
                  <option value="pilot">{{localize 'MGT2.Role.Special.MakePilot'}}</option>
                  <option value="tacticsInit">{{localize 'MGT2.Role.Special.CombatTactics'}}</option>
                  <option value="improveInit">{{localize 'MGT2.Role.Special.ImproveInitiative'}}</option>
                  <option value="evade">{{localize 'MGT2.Role.Special.Evade'}}</option>
                  {{/select}}
                </select>
              </div>
            {{/if}}

          </div>
        </div>
      {{/each}}

      <div class="item-controls">
          <a class="role-action-add" title="Add new action" data-name="Action" data-type="action"><i class="fas fa-plus"></i> Add action</a>
      </div>
    </div>
  </div>
</form>
