<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">
  <section class="item-sheet">
    <div class="sidebar">
      <img class="item-img shadow" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>

      <div class="shadow item-side-panel">
        <div class="resource flex-group-center">
          <label for="system.quantity" class="resource-label">Quantity</label><br/>

          <div class="incdec">
            <span class="quantity-dec"><i class="fa-regular fa-square-minus"></i></span>
            <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
            <span class="quantity-inc"><i class="fa-regular fa-square-plus"></i></span>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-group-left">
      <h1 class="charname shadow">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
      </h1>
      <div class="shadow">
        <div class="resources grid grid-2col flex-group-center">
          <div class="resource">
            <label for="system.cargo.price" class="resource-label">Base Price</label>
            <input type="text" name="system.cargo.price" value="{{system.cargo.price}}" data-dtype="Number"/>
          </div>
          <div class="resource">
            <label for="system.cargo.tons" class="resource-label">Tons</label><br/>
            <input class="item-tons" type="text" name="system.cargo.tons" value="{{system.cargo.tons}}" data-dtype="String"/>
            <span class="quantity-roll rollable"><i class="fas fa-dice"></i></span>
          </div>
        </div>
        <div class="resource">
          <label for="system.cargo.availability" class="resource-label">Availability</label>
          {{#if (isOwner .)}}
            {{#if availability}}
              <span style="display: inline-block; float: right">
                  <i class="fa fa-add"></i><select class="availability-selector">
                     {{selectOptions availability }}
                  </select>
              </span>
            {{/if}}
          {{/if}}
          <div class="pill-container">
            {{#each haveAvailability as |a id|}}
              <div class="pill cargo-pill" data-trait-id="{{id}}">{{a}}&nbsp;<i class="fas fa-xmark avail-remove"> </i></div>
            {{/each}}
          </div>
          <br/>
        </div>

        <div class="resource">
            <label for="system.cargo.purchaseDM" class="resource-label">Purchase DM</label>
            {{#if (isOwner .)}}
            <span style="display: inline-block; float: right">
                <i class="fa fa-add"></i><select class="purchase-selector">
                   {{selectOptions purchaseTraits }}
                </select>
            </span>
            {{/if}}
            <div class="pill-container purchase">
              {{{showCargoTraits . system.cargo.purchaseDM}}}
            </div>
          <br/>
        </div>

        <div class="resource">
            <label for="system.cargo.saleDM" class="resource-label">Sale DM</label>
            {{#if (isOwner .)}}
            <span style="display: inline-block; float: right">
                <i class="fa fa-add"></i><select class="sale-selector">
                   {{selectOptions saleTraits }}
                </select>
            </span>
            {{/if}}
            <div class="pill-container sale">
              {{{showCargoTraits . system.cargo.saleDM}}}
            </div>
        </div>
      </div>

      <div class="shadow">
        {{editor enrichedDescription target="system.description"
        button=true editable=editable}}
      </div>
    </div>
  </section>
</form>
