<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">
    <section class="item-sheet">
        <div class="sidebar">
            <img class="item-img shadow" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>

            {{#if system.status}}
                <img class="item-status" src="systems/mgt2e/icons/status/{{system.status}}.svg"/>
            {{/if}}

            <div class="shadow item-side-panel">
                <div class="resource flex-group-center">
                    <label for="system.quantity" class="resource-label">{{localize "MGT2.Item.Quantity"}}</label>
                    <div class="incdec">
                        <span class="quantity-dec"><i class="fa-regular fa-square-minus"></i></span>
                        <input class="writable" type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
                        <span class="quantity-inc"><i class="fa-regular fa-square-plus"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-group-left">
            <h1 class="item-software charname shadow">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
            </h1>
            <div class="shadow">
                <div class="resources grid grid-3col flex-group-center">
                    <div class="resource">
                        {{> "systems/mgt2e/templates/item/parts/item-techLevel.html"}}
                    </div>
                    <div class="resource">
                        <label for="system.software.bandwidth" class="resource-label">{{localize "MGT2.Item.Bandwidth"}}</label>
                        <input class="writable" type="text" name="system.software.bandwidth" value="{{system.software.bandwidth}}" data-dtype="Number"/>
                    </div>
                    <div class="resource">
                        <label for="system.cost" class="resource-label">{{localize "MGT2.Item.Cost"}}</label>
                        <input class="writable" type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>

            <div class="shadow">
                <h2>{{localize "MGT2.Effects.SoftwareEffects"}}</h2>

                <select name="system.software.class">
                    {{selectOptions SOFTWARE_CLASS selected=system.software.class}}
                </select>

                <select name="system.software.type">
                    {{selectOptions SOFTWARE_TYPE selected=system.software.type}}
                </select>

                <select>
                    {{selectOptions SOFTWARE_EFFECT}}
                </select>

                <div class="grid grid-3col">
                    {{#each effectTypes as |eType e|}}
                    <a class="effect-control augment-types flexrow" data-effectType="{{e}}">
                        <span class="augment-name">{{localize (concat 'MGT2.Effects.Type.' e)}}</span>
                        <i class="fas fa-plus"></i>
                    </a>
                    {{/each}}
                </div>
                <hr/>

                <ol class="items-list effects-list grid grid-2col">
                    {{#each effects as |e id|}}
                    <li class="items effect flexrow" data-effect-id="{{e.id}}">
                        <label>{{e.name}}</label>
                        <div class="effect-target">{{effect e.changes.0.key}} {{e.changes.0.value}}</div>
                        <div class="item-controls effect-controls flexrow">
                            <a class="effect-control" data-action="edit" title="Edit">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="effect-control" data-action="delete" title="Delete">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>


            <div class="shadow">
                {{editor enrichedDescription target="system.description"
                         button=true editable=editable}}
            </div>
        </div>
    </section>
</form>
