<div class="mgt2e-chat-message skill-box">
    {{#if useChatIcons}}
        {{#if actor}}
            <img class="chat-sticker actor-uuid-link" title="{{actor.name}}"
                 src="{{actor.img}}" data-actor-id="{{actor.uuid}}"/>
        {{/if}}
        {{#if skillIcon}}
            <img class="chat-sticker skillcheck-button" title="{{label}}"
                 src="{{skillIcon}}" data-skillcheck="admin" data-options='{{options}}'/>
        {{/if}}
    {{/if}}

    <h2>
        {{#if actor}}
            {{#if actor.token.name}}
                {{actor.token.name}}
            {{else}}
                {{actor.name}}
            {{/if}}
        {{else if agent}}
            {{agent}}
        {{else}}
            {{skillTitle}}
        {{/if}}
    </h2>

    <div class="mgt2e-chat-content">
        <h3>{{skillTitle}}</h3>

        {{#if description}}
            <div class="skill-description">
                {{{description}}}
            </div>
        {{/if}}

        <p class="skill-text">
            {{{checkText}}}
            <br/>
            {{{skillText}}}
            {{#if skillNotes}}
                <br/>
                {{{skillNotes}}}
            {{/if}}
        </p>

        <p class="roll-result">
            <span class="skill-roll inline-roll inline-result"><i class="fas fa-dice"></i> {{total}}</span>
            {{{effectLabel}}}
        </p>

        {{#each specialities as |spec|}}
            <h3>{{spec.label}}</h3>
            <p class="roll-result">
                <span class="skill-roll inline-roll inline-result"><i class="fas fa-dice"></i> {{spec.total}}</span>
                {{{spec.effectLabel}}}
            </p>
        {{/each}}

        {{#if success}}
            <div class="skill-success">{{{success}}}</div>
        {{else if failure}}
            <div class="skill-fail">{{{failure}}}</div>
        {{/if}}
    </div>
</div>
