.mgt2e .sheet-body {
  display: flex;
  flex-direction: row;
}

.mgt2e .shadow {
  background-color: #414042;
  color: white;
  border: none;
  padding: 0;
}

.mgt2e img.profile {
  background: none;
}

.mgt2e .box-title {
  font-weight: bold;
  text-align: center;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  background-color: #f1511b;
  color: white;
  width: 100%;
  margin-top: 0;
}

.mgt2e div.actor-header {
  width: 100%;
}

.mgt2e .profile-img {
  width: 120px;
  height: 120px;
  float: left;
}

.mgt2e div.actor-left {
  flex: 0 0 170px;
  width: 170px;
}

.mgt2e div.actor-right {
  width: 100%;
  margin-left: 10px;
}

.mgt2e h1.actor-name {
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  padding: 2px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
  height: 50px;
  padding: 0;
  margin: 0;
  margin-top: 0;
  border-bottom: 0;
}

.mgt2e h1.actor-name input {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.mgt2e .field-value {
  color: white;
  background: none;
  text-align: center;
}

.mgt2e select.field-value {
  background-color: #4b4a44;
  color: white;
  text-align: left;
}

div.pill-container {
  width: 100%;
  background-color: #808080;
  border: 1px solid black;
  border-radius: 2px;
}

.mgt2e .pill-container .trait-pill {
  background-color: #f1511b;
  color: white;
}

.mgt2e .pill-container .trait-pill i {
  background-color: black;
  color: white;
  opacity: 0.5;
  margin-top: 1px;
}


.mgt2e .pill-container .invalid-pill {
  background-color: #909090;
  color: #404040;
}

.mgt2e .vehicle-type {
  display: inline-block;
  font-size: x-large;
  font-weight: bold;
}

.mgt2e .vehicle-traits {
  display: inline-block;
  float: right;
  font-weight: bold;
  font-size: large;
  padding-top: 0.5em;
}
