

.npc-sheet .title {
  background-color: #414042;
  box-shadow: 3px 3px 3px #202020;
  border: none;
}

.npc-sheet h1.charname {
  color: #f1511b;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.npc-sheet h1.charname input {
  color: #f1511b;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}


.npc-sheet h2.charname {
  text-transform: uppercase;
  color: #f1511b;
  background-color: #414042;
  border: none;
  margin: 0;
  padding: 0;
}

.npc-sheet .shadow {
  border: none;
}

.npc-sheet h2 {
  background-color: #f1511b;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
  padding-left: 0.25em;
}

.npc-sheet .resource {
  padding: 0;
  margin: 0;
}

.npc-sheet .resource label {
  text-align: left;
  font-size: large;
  color: black;
  background-color: #f1511b;
  padding-left: 0.5em;
  border: none;
  border-radius: 0;
}

.npc-sheet .resource input.field-value {
  color: white;
  background-color: #414042;
  border: none;
}


.npc-traits {

}

.npc-traits table th {
  text-align: left;
  background-color: #f1511b;
  color: black;
  width: 3em;
}

.npc-traits table td {
  text-align: center;
}

.npc-sheet .shadow {
  background-color: #414042;
  color: white;
}

.npc-sheet table.equipment th {
  text-align: left;
  vertical-align: top;
  background-color: #f1511b;
  color: black;
  font-size: larger;
  text-transform: uppercase;
}

.npc-sheet table.equipment td {
  background-color: #414042;
  color: white;
}

.npc-sheet .rollable:hover,.rollable:focus {
  color: white;
  text-shadow: 0 0 10px white;
  cursor: pointer;
}

.npc-sheet li.active-weapon {
  color: white;
}
.npc-sheet li.active-weapon img {
  border: none;
}

.npc-sheet .damage-stat label {
  padding: 0;
  margin: 0;
  color: black;
  width: 100%;
  display: inline-block;
  background: #f1511b;
  text-align: center;
}

.npc-sheet .damage-stat input {
  background-color: #414042;
  border: none;
  color: white;
}
