<section class="sheet-body">
    <div class="grid grid-4col">
        <h1 class="actor-name shadow grid-span-4">
            <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
        </h1>

        <div class="resource">
            <label>Model</label>
            <select name="system.option.model">
                {{selectOptions SELECT_MODEL selected=system.option.model}}
            </select>
        </div>
        <div class="resource">
            <label>Option Type</label>
            <select name="system.option.type">
                {{selectOptions SELECT_TYPE selected=system.option.type}}
            </select>
        </div>
        <div class="resource">
            <label>TL</label>
            <select name="system.tl">
                {{selectOptions SELECT_TECHLEVEL selected=system.tl}}
            </select>
        </div>
        <div class="resource">
            <label>Cost (Cr)</label>
            <input name="system.cost" value="{{system.cost}}">
        </div>
        {{#if (ifEquals item.type "vehicle")}}
            <div>
                <label>Spaces</label>
                <input name="system.option.spaces" value="{{system.option.spaces}}">
            </div>
        {{else}}
            <div>
                <label>Slots</label>
                <input name="system.option.slots" value="{{system.option.slots}}">
            </div>
        {{/if}}

        {{#if (ifEquals system.option.type "mount")}}
            <div>
                <label>Mount</label>
            </div>

            <div>
                <label>Facing</label>
            </div>
        {{/if}}
    </div>
</section>
