
{{#if system.showEffects}}
    <div class="shadow">
        <div class="item-controls" style="float: right">
            <a class="item-control hide-effects" title="Hide effects"><i class="fas fa-eye-slash"></i></a>
        </div>
        <h3>{{localize "MGT2.Effects.AugmentEffects"}}</h3>

        <div class="grid grid-3col">
            {{#each effectTypes as |eType e|}}
                <a class="effect-control augment-types flexrow" data-effectType="{{e}}">
                    <span class="augment-name">{{localize (concat 'MGT2.Effects.Type.' e)}}</span>
                    <i class="fas fa-plus"></i>
                </a>
            {{/each}}
        </div>
        <hr/>

        <ol class="items-list effects-list grid grid-2col">
            {{#each effects as |e id|}}
                <li class="items effect flexrow" data-effect-id="{{e.id}}">
                    <label>{{e.name}}</label>
                    <div class="effect-target">{{effect e.changes.0.key}} {{e.changes.0.value}}</div>
                    <div class="item-controls effect-controls flexrow">
                        <a class="effect-control" data-action="edit" title="Edit">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="effect-control" data-action="delete" title="Delete">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </li>
            {{/each}}
        </ol>
    </div>
{{else if effects.size includeZero=false}}
    <div class="shadow">
        <ol class="items-list effects-list effects-list-simple grid grid-4col">
            {{#each effects as |e id|}}
                <li class="items effect flexrow" data-effect-id="{{e.id}}">
                    <label>{{e.name}}</label>
                    <div class="effect-target">{{effect e.changes.0.key}} {{e.changes.0.value}}</div>
                </li>
            {{/each}}
        </ol>
    </div>
{{/if}}
