<label class="resource-label">{{localize "MGT2.Item.TL"}}</label>
<br/>
<select class="expand writable" name="system.tl" title="Typical TL item is available">
    {{#select system.tl}}
    <option value="0">0 ({{localize "MGT2.Item.Tech.0"}})</option>
    <option value="1">1 ({{localize "MGT2.Item.Tech.1"}})</option>
    <option value="2">2 ({{localize "MGT2.Item.Tech.2"}})</option>
    <option value="3">3 ({{localize "MGT2.Item.Tech.3"}})</option>
    <option value="4">4 ({{localize "MGT2.Item.Tech.4"}})</option>
    <option value="5">5 ({{localize "MGT2.Item.Tech.5"}})</option>
    <option value="6">6 ({{localize "MGT2.Item.Tech.6"}})</option>
    <option value="7">7 ({{localize "MGT2.Item.Tech.7"}})</option>
    <option value="8">8 ({{localize "MGT2.Item.Tech.8"}})</option>
    <option value="9">9 ({{localize "MGT2.Item.Tech.9"}})</option>
    <option value="10">10 ({{localize "MGT2.Item.Tech.10"}})</option>
    <option value="11">11 ({{localize "MGT2.Item.Tech.11"}})</option>
    <option value="12">12 ({{localize "MGT2.Item.Tech.12"}})</option>
    <option value="13">13 ({{localize "MGT2.Item.Tech.13"}})</option>
    <option value="14">14 ({{localize "MGT2.Item.Tech.14"}})</option>
    <option value="15">15 ({{localize "MGT2.Item.Tech.15"}})</option>
    <option value="16">16 ({{localize "MGT2.Item.Tech.16"}})</option>
    <option value="17">17 ({{localize "MGT2.Item.Tech.17"}})</option>
    {{/select}}
</select>
