

<div class="shadow">
    <h2>{{localize "MGT2.Effects.SoftwareEffects"}}</h2>

    <select name="system.software.type">
        {{selectOptions SOFTWARE_TYPE selected=system.software.type}}
    </select>

    {{#unless (ifEquals system.software.type "generic")}}
        <select name="system.software.skill">
            {{selectOptions AGENT_SKILLS selected=system.software.skill}}
        </select>
        {{#if (ifEquals system.software.type "expert")}}
            <select name="system.software.skillLevel">
                {{selectOptions EXPERT_LEVELS selected=system.software.skillLevel}}
            </select>
        {{else}}
            <select name="system.software.skillLevel">
                {{selectOptions TASK_LEVELS selected=system.software.skillLevel}}
            </select>
        {{/if}}
    {{/unless}}
</div>

<!--
<div class="shadow">
    <h2>{{localize "MGT2.Effects.SoftwareEffects"}}</h2>

    <select name="system.software.class">
        {{selectOptions SOFTWARE_CLASS selected=system.software.class}}
    </select>

    <select name="system.software.type">
        {{selectOptions SOFTWARE_TYPE selected=system.software.type}}
    </select>

    <select>
        {{selectOptions SOFTWARE_EFFECT}}
    </select>

    <div class="grid grid-3col">
        {{#each effectTypes as |eType e|}}
        <a class="effect-control augment-types flexrow" data-effectType="{{e}}">
            <span class="augment-name">{{localize (concat 'MGT2.Effects.Type.' e)}}</span>
            <i class="fas fa-plus"></i>
        </a>
        {{/each}}
    </div>
    <hr/>

    <ol class="items-list effects-list grid grid-2col">
        {{#each effects as |e id|}}
        <li class="items effect flexrow" data-effect-id="{{e.id}}">
            <label>{{e.name}}</label>
            <div class="effect-target">{{effect e.changes.0.key}} {{e.changes.0.value}}</div>
            <div class="item-controls effect-controls flexrow">
                <a class="effect-control" data-action="edit" title="Edit">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="effect-control" data-action="delete" title="Delete">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </li>
        {{/each}}
    </ol>
</div>
-->
