
<form class="{{cssClass}} item flexcol" autocomplete="off">
    <section class="item-sheet">
        <div class="sidebar">
            <img class="item-img shadow" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        </div>

        <div class="flex-group-left">
            <h1 class="charname shadow">
              <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
            </h1>

            <div class="shadow">
              <div class="resources grid grid-4col flex-group-center">
                <div class="resource">
                  <label for="data.weight" class="resource-label">KG</label>
                  <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
                </div>
                <div class="resource">
                  <label for="data.tl" class="resource-label">TL</label>
                  <input type="text" name="data.tl" value="{{data.tl}}" data-dtype="Number"/>
                </div>
                <div class="resource">
                  <label for="data.cost" class="resource-label">Cost</label>
                  <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number"/>
                </div>
              </div>
            </div>

            <div class="shadow">
                <h2>{{localize "MGT2.Effects.AugmentEffects"}}</h2>

                {{#each effectTypes as |eType e|}}
                    <a class="effect-control" data-effectType="{{e}}">
                        <i class="fas fa-plus"></i> {{localize (concat 'MGT2.Effects.Type.' e)}}
                    </a>
                {{/each}}

                <hr/>

                <ol class="items-list effects-list grid grid-3col">
                    {{#each effects as |e id|}}
                        <li class="items effect flexrow" data-effect-id="{{e.id}}">
                            <label>{{e.data.label}}</label>
                            <div class="effect-target">{{e.data.changes.0.key}} {{e.data.changes.0.value}}</div>
                            <div class="item-controls effect-controls flexrow">
                                <a class="effect-control" data-action="edit" title="Edit">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="effect-control" data-action="delete" title="Delete">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </li>
                    {{/each}}
                </ol>
            </div>
        </div>
    </section>
</form>
