<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">

  <header class="sheet-header grid grid-2col">
    <div class="header-profile flex-group-left">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>

      <div>
        <label class="profile-label">Weapon</label>
      </div>
    </div>

    <div class="header-fields flex-group-left">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>

        {{log item}}

      <div class="resources grid grid-4col">
        <div class="resource">
          <label for="data.weapon.damage" class="resource-label">Damage</label>
          <input type="text" name="data.weapon.damage" value="{{data.weapon.damage}}" data-dtype="String"/>
        </div>
        <div class="resource">
          <label for="data.weapon.range" class="resource-label">Range (m)</label>
          <input type="text" name="data.weapon.range" value="{{data.weapon.range}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label for="data.weapon.magazine" class="resource-label">Magazine</label>
          <input type="text" name="data.weapon.magazine" value="{{data.weapon.magazine}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label for="data.weapon.ammo" class="resource-label">Ammo</label>
          <input type="text" name="data.weapon.ammo" value="{{data.weapon.ammo}}" data-dtype="Number"/>
        </div>

        <div class="resource">
            <label for="data.tl" class="resource-label">TL</label>
            <input type="text" name="data.tl" value="{{data.tl}}" data-dtype="Number"/>
        </div>
        <div class="resource">
            <label for="data.weight" class="resource-label">KG</label>
            <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
        </div>
        <div class="resource grid-span-2">
            <label for="data.weapon.traits" class="resource-label">Traits</label>
            <input type="text" name="data.weapon.traits" value="{{data.weapon.traits}}" data-dtype="String"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}

      <div class="resources grid grid-3col">

        <div class="resource">
            <label for="data.weapon.characteristic" class="resource-label">Characteristic</label><br/>
            <select name="data.weapon.characteristic">
                {{#select data.weapon.characteristic}}
                <option value="STR">STR</option>
                <option value="DEX">DEX</option>
                <option value="INT">INT</option>
                {{/select}}
            </select>
        </div>

        <div class="resource grid-span-2">
            <label for="data.weapon.skill" class="resource-label">Skill</label><br/>
            <select name="data.weapon.skill">
                {{#select data.weapon.skill}}
                <option value="athletics.dexterity">Athletics (Dexterity)</option>
                <option value="melee.unarmed">Melee (Unarmed)</option>
                <option value="melee.blade">Melee (Blade)</option>
                <option value="melee.bludgeon">Melee (Bludgeon)</option>
                <option value="melee.natural">Melee (Natural)</option>
                <option value="guncombat.archaic">Gun Combat (Archaic)</option>
                <option value="guncombat.energy">Gun Combat (Energy)</option>
                <option value="guncombat.slug">Gun Combat (Slug)</option>
                <option value="heavyweapons.artillery">Heavy Weapons (Artillery)</option>
                <option value="heavyweapons.portable">Heavy Weapons (Portable)</option>
                <option value="heavyweapons.vehicle">Heavy Weapons (Vehicle)</option>
                <option value="explosives">Explosives</option>
                {{/select}}
            </select>
        </div>

        <div class="resource">
            <label for="data.weapon.damageBonus" class="resource-label">Damage Bonus</label><br/>
            <select name="data.weapon.damageBonus">
                {{#select data.weapon.damageBonus}}
                <option value="">-</option>
                <option value="STR">STR</option>
                {{/select}}
            </select>
        </div>

        <div class="resource grid-span-3">
            <label for="data.weapon.notes" class="resource-label">Notes</label><br/>
            <input type="text" name="data.notes" value="{{data.notes}}" data-dtype="String"/>
        </div>
      </div>

      <label>Description</label>
    </div>

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
        {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>


  </section>
</form>
