<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">
    <section class="item-sheet">
        <div class="sidebar">
            <img class="item-img shadow" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>

            <div class="shadow item-side-panel">
                <div class="resource">
                    <label for="data.armour.form" class="resource-label">{{localize "MGT2.Armour.FormType"}}</label>
                    <br/>
                    <select name="data.armour.form">
                        {{#select data.armour.form}}
                            <option value="standard">{{localize "MGT2.Armour.Form.Standard"}}</option>
                            <option value="layered">{{localize "MGT2.Armour.Form.Layered"}}</option>
                            <option value="stackable">{{localize "MGT2.Armour.Form.Stackable"}}</option>
                            <option value="natural">{{localize "MGT2.Armour.Form.Natural"}}</option>
                        {{/select}}
                    </select>
                </div>

                <div class="resource">
                    <label for="data.armour.archaic" class="resource-label">{{localize "MGT2.Armour.Archaic"}}</label>
                    <br/>
                    <select name="data.armour.archaic">
                      {{#select data.armour.archaic}}
                          <option value="0">No</option>
                          <option value="1">Yes</option>
                      {{/select}}
                    </select>
                </div>

                <div class="resource">
                    <label for="data.armour.ablat" class="resource-label">{{localize "MGT2.Armour.Ablative"}}</label>
                    <br/>
                    <select name="data.armour.ablat">
                        {{#select data.armour.ablat}}
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                        {{/select}}
                    </select>
                </div>

                <div class="resource">
                    <label for="data.armour.powered" class="resource-label">{{localize "MGT2.Armour.Powered"}}</label>
                    <br/>
                    <select name="data.armour.powered">
                        {{#select data.armour.powered}}
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                        {{/select}}
                    </select>
                </div>

                <div class="resource">
                    <label class="resource-label">{{localize "MGT2.Armour.Duration"}}</label>
                    <br/>
                    <input type="text" name="data.armour.duration" value="{{data.armour.duration}}" data-dtype="Number"/>
                </div>

                <div class="resource">
                    <label class="resource-label">{{localize "MGT2.Armour.Slots"}}</label>
                    <br/>
                    <input class="armour-value" type="text" name="data.armour.slots" title="Slots"
                           value="{{data.armour.slots}}" data-dtype="Number"/><br/>
                </div>
            </div>
        </div>

        <div class="flex-group-left">
            <div class="shadow">
                <h1 class="charname">
                    <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
                </h1>

                <div class="resources grid grid-3col flex-group-left">
                    <div class="resource">
                        <label class="resource-label">{{localize "MGT2.Item.TL"}}</label>
                        <input type="text" name="data.tl" value="{{data.tl}}" data-dtype="Number"/>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "MGT2.Item.Weight"}}</label>
                        <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "MGT2.Item.Cost"}}</label>
                        <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number"/>
                    </div>

                    <div class="resource">
                        <label class="resource-label">{{localize "MGT2.Armour.Protection"}}</label><br/>
                        <input class="armour-value" type="text" name="data.armour.protection" title="Standard armour"
                           value="{{data.armour.protection}}" data-dtype="Number"/><br/>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "MGT2.Armour.Rads"}}</label><br/>
                        <input class="armour-value" type="text" name="data.armour.rad" title="Radiation protection"
                             value="{{data.armour.rad}}" data-dtype="Number"/>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "MGT2.Armour.Energy"}}</label><br/>
                        <input class="armour-value" type="text" name="data.armour.otherProtection" title="Energy protection"
                               value="{{data.armour.otherProtection}}" data-dtype="Number"/><br/>
                    </div>

                    <div class="resource grid-span-2">
                        <label class="resource-label">{{localize "MGT2.Armour.EnergyTypes"}}</label>
                        <input type="text" name="data.armour.otherTypes" title="Energy types"
                               value="{{data.armour.otherTypes}}" data-dtype="String"/>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "MGT2.Armour.RequiresSkill"}}</label>
                        <select name="data.armour.skill">
                            {{#select data.armour.skill}}
                                <option value="">-</option>
                                <option value="0">Vacc Suit 0</option>
                                <option value="1">Vacc Suit 1</option>
                                <option value="2">Vacc Suit 2</option>
                                <option value="3">Vacc Suit 3</option>
                            {{/select}}
                        </select>
                    </div>
                </div>
          </div>
          <div class="shadow">
              {{editor
                  enrichedDescription target="system.description"
                  button=true editable=editable}}
          </div>
            <div class="shadow">
                <h2>{{localize "MGT2.Effects.AugmentEffects"}}</h2>

                <div class="grid grid-3col">
                    {{#each effectTypes as |eType e|}}
                        <a class="effect-control augment-types flexrow" data-effectType="{{e}}">
                            <span class="augment-name">{{localize (concat 'MGT2.Effects.Type.' e)}}</span>
                            <i class="fas fa-plus"></i>
                        </a>
                    {{/each}}
                </div>
                <hr/>

                <ol class="items-list effects-list grid grid-2col">
                    {{#each effects as |e id|}}
                    <li class="items effect flexrow" data-effect-id="{{e.id}}">
                        <label>{{e.label}}</label>
                        <div class="effect-target">{{effect e.changes.0.key}} {{e.changes.0.value}}</div>
                        <div class="item-controls effect-controls flexrow">
                            <a class="effect-control" data-action="edit" title="Edit">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="effect-control" data-action="delete" title="Delete">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>

        </div>


    </section>


</form>
