{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="{{cssClass}} item" autocomplete="off">



  <header class="sheet-header grid grid-2col">
    <div class="header-profile flex-group-left">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" width="140px" height="140px"/>
    </div>

    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
      </h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Characteristic</label><br/>
          <select name="data.augment.char">
            {{#select data.augment.char}}
            <option value="">-</option>
            {{#each characteristics as |char id|}}
              <option value="{{id}}">{{char.label}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        <div class="resource">
          <label class="resource-label">Bonus</label><br/>
          <input type="text" name="data.augment.charBonus" value="{{data.augment.charBonus}}" data-dtype="Number"/>
        </div>

        <div class="resource">
          <label class="resource-label">Skill</label><br/>
          <select name="data.augment.skill">
            {{#select data.augment.skill}}
            <option value="">-</option>
            {{#each skills as |skill id|}}
              {{#if skill.specialities}}
                {{#each skill.specialities as |spec sid|}}
                  <option value="{{id}}.{{sid}}">{{skill.label}} ({{spec.label}})</option>
                {{/each}}
              {{else}}
                <option value="{{id}}">{{skill.label}}</option>
              {{/if}}
            {{/each}}
            {{/select}}
          </select>
        </div>
        <div class="resource">
          <label class="resource-label">Skill Bonus</label><br/>
          <input type="text" name="data.augment.skillBonus" value="{{data.augment.skillBonus}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
    </div>

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>
</form>
